Repository risc0/risc0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @risc0/platform, @risc0/bonsai, @risc0/devrel, @risc0/demos, @tzerrell, @iddo-bentov, @flaub, @hmrtn, @nahoc, @pdg744, @nategraf, @kevinnassery

Fix merge
  risc0/sys/kernels/zkp/cuda/kernels.cu
Owners: @risc0/platform

Fix clippy
  risc0/zkos/linux/guests/src/lib.rs
Owners: @risc0/platform

semver-checks: More fixes for release branches (#3315)
  .github/workflows/main.yml
  xtask/src/semver_checks.rs
Owners: @risc0/platform

Update semver-baselines
  semver-baselines.lock
Owners: @risc0/platform

Add missing `-std=c++17` flag to the cuda code compilation (#3316)
  risc0/build_kernel/src/lib.rs
Owners: @risc0/platform

Transcript data in test matches the corresponding v3 test
  risc0/zkp/src/prove/merkle.rs
Owners: @risc0/platform

backport to all 2.x versions
  website/api_versioned_docs/version-2.0.0/trusted-setup-ceremony.md
  website/api_versioned_docs/version-2.1/trusted-setup-ceremony.md
  website/api_versioned_docs/version-2.2/trusted-setup-ceremony.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

add missing link
  website/api_versioned_docs/version-2.0.0/trusted-setup-ceremony.md
  website/api_versioned_docs/version-2.1/trusted-setup-ceremony.md
  website/api_versioned_docs/version-2.2/trusted-setup-ceremony.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Test IOP and merkle compatibility with V3 (#3310)
  risc0/zkp/src/prove/merkle.rs
Owners: @risc0/platform

Extract an object for some common code between the two job kinds.
  risc0/r0vm/src/actors/job.rs
  risc0/r0vm/src/actors/job/proof.rs
  risc0/r0vm/src/actors/job/shrink_wrap.rs
  risc0/r0vm/src/actors/job/tracer.rs
Owners: @risc0/platform

Add support for Groth16 shrink-wrapping to the actor system
  risc0/r0vm/Cargo.toml
  risc0/r0vm/src/actors/job.rs
  risc0/r0vm/src/actors/job/proof.rs
  risc0/r0vm/src/actors/job/shrink_wrap.rs
  risc0/r0vm/src/actors/manager.rs
  risc0/r0vm/src/actors/mod.rs
  risc0/r0vm/src/actors/protocol.rs
  risc0/r0vm/src/actors/tests.rs
  risc0/r0vm/src/actors/worker.rs
  risc0/r0vm/src/api.rs
  risc0/zkvm/src/host/client/prove/default.rs
  risc0/zkvm/src/host/rpc.rs
  risc0/zkvm/src/host/server/prove/dev_mode.rs
Owners: @risc0/platform

Implement shrink_wrap for DefaultProver
  risc0/r0vm/src/actors/mod.rs
  risc0/r0vm/src/actors/protocol.rs
  risc0/zkvm/Cargo.toml
  risc0/zkvm/src/host/client/prove/default.rs
  risc0/zkvm/src/host/rpc.rs
Owners: @risc0/platform

Update docker reproducible build test expectation
  risc0/build/src/docker.rs
Owners: @risc0/platform

Implement groth16 support in r0vm actor-system API
  risc0/r0vm/src/api.rs
Owners: @risc0/platform

Do a groth16 proof in default_prover test if cuda is enabled
  risc0/r0vm/tests/default_prover.rs
Owners: @risc0/platform

fix reported nread length for reads of 4 bytes or less
  risc0/zkvm/methods/std-ext/src/bin/standard_lib.rs
  risc0/zkvm/platform/src/syscall.rs
  risc0/zkvm/src/host/server/exec/tests.rs
Owners: @risc0/platform

chore: fix broken url
  website/api_versioned_docs/version-2.0.0/zkvm/tutorials/io.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Update README.md
  bonsai/sdk/README.md
Owners: @risc0/bonsai

Update README.md
  examples/composition/README.md
Owners: @risc0/devrel, @risc0/demos, @risc0/platform

Update trusted-setup-ceremony.md
  website/api/trusted-setup-ceremony.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

semver-checks: More fixes for release branches (#3315)
  .github/workflows/main.yml
  xtask/src/semver_checks.rs
Owners: @risc0/platform

Update bench_reports.yml for new groth16 code (#3301)
  .github/workflows/bench_reports.yml
  risc0/zkvm/examples/datasheet.rs
Owners: @risc0/platform

Semver fixes for 3.0 publishing (#3303)
  .github/workflows/main.yml
  risc0/groth16-sys/Cargo.toml
  risc0/povw/Cargo.toml
  semver-baselines.lock
Owners: @risc0/platform

Update semver-baselines
  semver-baselines.lock
Owners: @risc0/platform

reduce changes
  risc0/zkvm/platform/src/syscall.rs
Owners: @risc0/platform

updates to tests
  risc0/zkvm/src/host/server/exec/tests.rs
Owners: @risc0/platform

Update README.md
  examples/digital-signature/README.md
Owners: @risc0/devrel, @risc0/demos, @risc0/platform

Update README.md
  examples/password-checker/README.md
Owners: @risc0/devrel, @risc0/demos, @risc0/platform

Update README.md
  examples/profiling/README.md
Owners: @risc0/devrel, @risc0/demos, @risc0/platform

Update README.md
  examples/waldo/README.md
Owners: @risc0/devrel, @risc0/demos, @risc0/platform

Update README.md
  examples/wordle/README.md
Owners: @risc0/devrel, @risc0/demos, @risc0/platform

Update README.md
  groth16_proof/README.md
Owners: @risc0/platform

Update README.md
  README.md
Owners: @risc0/platform

Update README.md
  website/README.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Update README.md
  examples/smartcore-ml/README.md
Owners: @risc0/devrel, @risc0/demos, @risc0/platform

Add support for Groth16 shrink-wrapping to the actor system (#3318)
  risc0/build/src/docker.rs
  risc0/r0vm/Cargo.toml
  risc0/r0vm/src/actors/job.rs
  risc0/r0vm/src/actors/job/proof.rs
  risc0/r0vm/src/actors/job/shrink_wrap.rs
  risc0/r0vm/src/actors/job/tracer.rs
  risc0/r0vm/src/actors/manager.rs
  risc0/r0vm/src/actors/mod.rs
  risc0/r0vm/src/actors/protocol.rs
  risc0/r0vm/src/actors/tests.rs
  risc0/r0vm/src/actors/worker.rs
  risc0/r0vm/src/api.rs
  risc0/r0vm/tests/default_prover.rs
  risc0/zkvm/Cargo.toml
  risc0/zkvm/src/host/client/prove/default.rs
  risc0/zkvm/src/host/rpc.rs
  risc0/zkvm/src/host/server/prove/dev_mode.rs
Owners: @risc0/platform

revert change
  risc0/zkvm/platform/src/syscall.rs
Owners: @risc0/platform

fix test
  risc0/zkvm/src/host/server/exec/tests.rs
Owners: @risc0/platform

specify Circom version for trusted setup ceremony (#3269)
  website/api/trusted-setup-ceremony.md
  website/api_versioned_docs/version-2.0.0/trusted-setup-ceremony.md
  website/api_versioned_docs/version-2.1/trusted-setup-ceremony.md
  website/api_versioned_docs/version-2.2/trusted-setup-ceremony.md
  website/api_versioned_docs/version-2.3/trusted-setup-ceremony.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Fix any edition 2024 errors / warnings
  examples/c-guest/platform/src/lib.rs
  examples/c-kzg/methods/build.rs
  examples/c-kzg/methods/guest/src/main.rs
  examples/waldo/core/src/merkle.rs
  examples/xgboost/methods/Cargo.toml
  examples/xgboost/methods/guest/Cargo.toml
  risc0/bigint2/src/ffi.rs
  risc0/bigint2/src/field/ffi.rs
  risc0/circuit/keccak-sys/build.rs
  risc0/circuit/keccak-sys/src/lib.rs
  risc0/circuit/keccak/src/prove/preflight.rs
  risc0/circuit/recursion-sys/src/lib.rs
  risc0/circuit/rv32im-sys/build.rs
  risc0/circuit/rv32im-sys/src/lib.rs
  risc0/circuit/rv32im/src/prove/witgen/byte_poly.rs
  risc0/core/src/field/mod.rs
  risc0/groth16-sys/src/lib.rs
  risc0/sys/src/cuda.rs
  risc0/sys/src/lib.rs
  risc0/zkos/v1compat/src/main.rs
  risc0/zkp/src/hal/cuda.rs
  risc0/zkp/src/verify/fri.rs
  risc0/zkp/src/verify/mod.rs
  risc0/zkvm/methods/guest/src/bin/heap_limits.rs
  risc0/zkvm/platform/src/getrandom.rs
  risc0/zkvm/platform/src/heap/bump.rs
  risc0/zkvm/platform/src/heap/embedded.rs
  risc0/zkvm/platform/src/heap/mod.rs
  risc0/zkvm/platform/src/libm_extern.rs
  risc0/zkvm/platform/src/rust_rt.rs
  risc0/zkvm/platform/src/syscall.rs
  risc0/zkvm/src/claim/maybe_pruned.rs
  risc0/zkvm/src/guest/env/mod.rs
  risc0/zkvm/src/guest/mod.rs
  risc0/zkvm/src/receipt.rs
  xtask/src/bootstrap_protos.rs
Owners: @risc0/devrel, @risc0/demos, @risc0/platform, @tzerrell, @iddo-bentov, @flaub

.github/CODEOWNERS:

# CODEOWNERS

# Note: Order is important; the last matching pattern takes the most
# precedence.

*                                      @risc0/platform

/bonsai/                               @risc0/bonsai
/examples/                             @risc0/devrel @risc0/demos @risc0/platform
/risc0/bigint2/                        @risc0/platform @tzerrell @iddo-bentov @flaub
/rzup/                                 @risc0/platform @hmrtn
/web/                                  @risc0/platform @nahoc
/website/                              @risc0/platform @risc0/devrel @pdg744

# These are sensitive files
/groth16_proof/groth16/                @flaub @nategraf @tzerrell
/SECURITY.md                           @kevinnassery
control_id.rs                          @flaub @nategraf @tzerrell
recursion_zkr.zip                      @flaub @nategraf @tzerrell
