Repository risc0/risc0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @risc0/platform, @risc0/bonsai, @risc0/devrel, @risc0/demos, @tzerrell, @iddo-bentov, @flaub, @hmrtn, @nahoc, @pdg744, @nategraf, @kevinnassery

Debugging concurrency issue and test changes
  risc0/groth16-sys/kernels/cuda/groth16_prover.cuh
  risc0/groth16-sys/kernels/cuda/util.cuh
  risc0/groth16/src/prove/cuda.rs
  risc0/zkvm/src/host/server/prove/tests.rs
Owners: @risc0/platform

Hold GPU lock for whole groth16 operation
  risc0/zkvm/src/host/server/prove/mod.rs
Owners: @risc0/platform

Rewrite bento stark2snark to call into zkvm
  bento/crates/workflow/src/tasks/snark.rs
Owners: @risc0/platform

add the release = false metadata to Cargo.toml for povw
  risc0/povw/Cargo.toml
  risc0/povw/guests/Cargo.toml
Owners: @risc0/platform

attempt to fix the GitHub actions issue for setting up `bento-test`
  .github/workflows/main.yml
Owners: @risc0/platform

Install protoc in bento docker agent image
  bento/dockerfiles/agent.dockerfile
Owners: @risc0/platform

Remove bento groth16 docker usage
  bento/dockerfiles/agent.dockerfile
Owners: @risc0/platform

Revert "attempt to fix the GitHub actions issue for setting up `bento-test`"
  .github/workflows/main.yml
Owners: @risc0/platform

mark risc0-povw structs as non_exhaustive and add builders to allow use
  risc0/povw/Cargo.toml
  risc0/povw/guests/log-builder/Cargo.lock
  risc0/povw/guests/log-builder/Cargo.toml
  risc0/povw/guests/log-builder/src/main.rs
  risc0/povw/guests/tests/log-builder.rs
  risc0/povw/src/guest.rs
  risc0/povw/src/lib.rs
  risc0/povw/src/tree.rs
Owners: @risc0/platform

run cargo fmt
  risc0/povw/guests/tests/log-builder.rs
Owners: @risc0/platform

Update xtask dependencies
  Cargo.lock
  xtask/Cargo.toml
  xtask/src/semver_checks.rs
  xtask/src/update_crate_version.rs
Owners: @risc0/platform

Add groth16-sys crate
  Cargo.lock
  Cargo.toml
  benchmarks/Cargo.lock
  bento/Cargo.lock
  examples/Cargo.lock
  risc0/groth16-sys/Cargo.toml
  risc0/groth16-sys/build.rs
  risc0/groth16-sys/kernels/cuda/chacha.cuh
  risc0/groth16-sys/kernels/cuda/ffi.cu
  risc0/groth16-sys/kernels/cuda/groth16_coeffs.cuh
  risc0/groth16-sys/kernels/cuda/groth16_prover.cuh
  risc0/groth16-sys/kernels/cuda/groth16_srs.cuh
  risc0/groth16-sys/kernels/cuda/util.cuh
  risc0/groth16-sys/src/lib.rs
Owners: @risc0/platform, @risc0/devrel, @risc0/demos

Add groth16 xtask command
  .cargo/config.toml
  Cargo.lock
  xtask/Cargo.toml
  xtask/src/bootstrap_groth16.rs
  xtask/src/main.rs
  xtask/src/setup_groth16.rs
Owners: @risc0/platform

groth16 reimplementation
  Cargo.lock
  bento/Cargo.toml
  groth16_proof/groth16/risc0.circom
  risc0/bigint2/methods/guest/Cargo.lock
  risc0/circuit/keccak/methods/guest/Cargo.lock
  risc0/groth16/Cargo.toml
  risc0/groth16/README.md
  risc0/groth16/src/lib.rs
  risc0/groth16/src/prove/cuda.rs
  risc0/groth16/src/prove/docker.rs
  risc0/groth16/src/prove/mod.rs
  risc0/groth16/src/prove/seal_format.rs
  risc0/groth16/src/prove/seal_to_json.rs
  risc0/groth16/src/types.rs
  risc0/groth16/src/verifier.rs
  risc0/povw/guests/log-builder/Cargo.lock
  risc0/sys/kernels/zkp/cuda/supra/ntt.cu
  risc0/zkp/src/hal/cuda.rs
  risc0/zkvm/examples/datasheet.rs
  risc0/zkvm/methods/cfg/Cargo.lock
  risc0/zkvm/methods/cpp-crates/Cargo.lock
  risc0/zkvm/methods/env/Cargo.lock
  risc0/zkvm/methods/guest/Cargo.lock
  risc0/zkvm/methods/heap/Cargo.lock
  risc0/zkvm/methods/rand/Cargo.lock
  risc0/zkvm/methods/rand2/Cargo.lock
  risc0/zkvm/methods/std-ext/Cargo.lock
  risc0/zkvm/methods/std/Cargo.lock
  risc0/zkvm/src/host/prove_info.rs
  risc0/zkvm/src/host/recursion/prove/mod.rs
  risc0/zkvm/src/host/server/prove/mod.rs
  risc0/zkvm/src/host/server/prove/prover_impl.rs
  risc0/zkvm/src/host/server/prove/tests.rs
  risc0/zkvm/src/lib.rs
  risc0/zkvm/src/receipt/groth16.rs
Owners: @risc0/platform, @flaub, @nategraf, @tzerrell, @iddo-bentov

update lock-files and docker build test ImageId
  benchmarks/Cargo.lock
  benchmarks/methods/guest/Cargo.lock
  bento/Cargo.lock
  bento/crates/sample-guest/methods/guest/Cargo.lock
  examples/Cargo.lock
  examples/bevy/methods/guest/Cargo.lock
  examples/bls12_381/methods/guest/Cargo.lock
  examples/bn254/methods/guest/Cargo.lock
  examples/c-kzg/methods/guest/Cargo.lock
  examples/chess/methods/guest/Cargo.lock
  examples/composition/methods/guest/Cargo.lock
  examples/digital-signature/methods/guest/Cargo.lock
  examples/ecdsa/k256/methods/guest/Cargo.lock
  examples/ecdsa/p256/methods/guest/Cargo.lock
  examples/groth16-verifier/methods/guest/Cargo.lock
  examples/hello-world/methods/guest/Cargo.lock
  examples/json/methods/guest/Cargo.lock
  examples/jwt-validator/methods/guest/Cargo.lock
  examples/keccak/methods/guest/Cargo.lock
  examples/password-checker/methods/guest/Cargo.lock
  examples/profiling/methods/guest/Cargo.lock
  examples/prorata/methods/guest/Cargo.lock
  examples/sha/methods/guest/Cargo.lock
  examples/smartcore-ml/methods/guest/Cargo.lock
  examples/voting-machine/methods/guest/Cargo.lock
  examples/waldo/methods/guest/Cargo.lock
  examples/wasm/methods/guest/Cargo.lock
  examples/wordle/methods/guest/Cargo.lock
  examples/xgboost/methods/guest/Cargo.lock
  risc0/build/src/docker.rs
Owners: @risc0/platform, @risc0/devrel, @risc0/demos

Fix groth16-sys non-cuda compilation
  risc0/groth16-sys/src/lib.rs
Owners: @risc0/platform

Adjust docs-rs building for risc0-groth16
  .github/workflows/main.yml
Owners: @risc0/platform

Update expected hash for risc0.circom
  .github/scripts/circom_stable.sh
Owners: @risc0/platform

Remove cuda_experimental, back to cuda
  benchmarks/Cargo.lock
  bento/Cargo.lock
  examples/Cargo.lock
  risc0/groth16/Cargo.toml
  risc0/groth16/src/prove/mod.rs
  risc0/zkvm/Cargo.toml
Owners: @risc0/platform, @risc0/devrel, @risc0/demos

Install protoc on the GitHub workers
  .github/actions/protoc/action.yml
  .github/workflows/main.yml
Owners: @risc0/platform

Make risc0-groth16-sys required for cuda feature in risc0-groth16
  risc0/groth16/Cargo.toml
Owners: @risc0/platform

Install protoc in bench_pr
  .github/workflows/bench_pr.yml
Owners: @risc0/platform

Install risc0-groth16 component
  .github/workflows/main.yml
Owners: @risc0/platform

Debugging concurrency issue and test changes
  risc0/groth16-sys/kernels/cuda/groth16_prover.cuh
  risc0/groth16-sys/kernels/cuda/util.cuh
  risc0/groth16/src/prove/cuda.rs
  risc0/zkvm/src/host/server/prove/tests.rs
Owners: @risc0/platform

Hold GPU lock for whole groth16 operation
  risc0/zkvm/src/host/server/prove/mod.rs
Owners: @risc0/platform

Update groth16-verifier example to use new API
  examples/groth16-verifier/methods/guest/src/bin/groth16_verifier.rs
  examples/groth16-verifier/src/main.rs
  risc0/groth16/src/types.rs
Owners: @risc0/devrel, @risc0/demos, @risc0/platform

Install protoc in bento docker agent image
  bento/dockerfiles/agent.dockerfile
Owners: @risc0/platform

Rewrite bento stark2snark to call into zkvm
  bento/crates/workflow/src/tasks/snark.rs
Owners: @risc0/platform

bento: Run snark jobs in the gpu_prove_stream
  bento/crates/api/src/helpers.rs
  bento/crates/api/src/lib.rs
  bento/crates/workflow-common/src/lib.rs
  bento/crates/workflow/src/lib.rs
  bento/crates/workflow/src/tasks/executor.rs
  compose.yml
Owners: @risc0/platform

Remove bento groth16 docker usage
  bento/dockerfiles/agent.dockerfile
Owners: @risc0/platform

Fix groth16 paralleism issue, which was really uninitialized reads
  risc0/groth16-sys/kernels/cuda/groth16_prover.cuh
  risc0/groth16-sys/kernels/cuda/util.cuh
  risc0/zkvm/src/host/server/prove/mod.rs
  risc0/zkvm/src/host/server/prove/tests.rs
Owners: @risc0/platform

Add error context messages to groth16 cuda prove operation
  risc0/groth16/src/prove/cuda.rs
Owners: @risc0/platform

Install risc0-groth16 component in bento
  bento/dockerfiles/agent.dockerfile
  compose.yml
Owners: @risc0/platform

Remove write to '/tmp/input.bin' from bento_cli
  bento/crates/bento-client/src/bento_cli.rs
Owners: @risc0/platform

Propagate bento snark error
  bento/crates/api/src/lib.rs
Owners: @risc0/platform

fix: add missing semicolon in bail! macro call
  risc0/cargo-risczero/src/commands/guest.rs
Owners: @risc0/platform

Update bench_reports.yml for new groth16 code
  .github/workflows/bench_reports.yml
Owners: @risc0/platform

Enable groth16 stuff if cuda or docker feature is enabled.
  risc0/zkvm/examples/datasheet.rs
Owners: @risc0/platform

Fix semver-check CI job
  .github/workflows/main.yml
Owners: @risc0/platform

Update bench_reports.yml for new groth16 code (#3301)
  .github/workflows/bench_reports.yml
  risc0/zkvm/examples/datasheet.rs
Owners: @risc0/platform

.github/CODEOWNERS:

# CODEOWNERS

# Note: Order is important; the last matching pattern takes the most
# precedence.

*                                      @risc0/platform

/bonsai/                               @risc0/bonsai
/examples/                             @risc0/devrel @risc0/demos @risc0/platform
/risc0/bigint2/                        @risc0/platform @tzerrell @iddo-bentov @flaub
/rzup/                                 @risc0/platform @hmrtn
/web/                                  @risc0/platform @nahoc
/website/                              @risc0/platform @risc0/devrel @pdg744

# These are sensitive files
/groth16_proof/groth16/                @flaub @nategraf @tzerrell
/SECURITY.md                           @kevinnassery
control_id.rs                          @flaub @nategraf @tzerrell
recursion_zkr.zip                      @flaub @nategraf @tzerrell
