Repository risc0/risc0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @risc0/platform, @risc0/bonsai, @risc0/devrel, @risc0/demos, @tzerrell, @iddo-bentov, @flaub, @hmrtn, @nahoc, @pdg744, @nategraf, @kevinnassery

move attributes after doc comments
  risc0/povw/src/guest.rs
  risc0/povw/src/lib.rs
Owners: @risc0/platform

fix fmt
  risc0/povw/src/prover.rs
Owners: @risc0/platform

fix merge conflict error
  risc0/zkvm/Cargo.toml
Owners: @risc0/platform

Update versions and semver-baselines.lock for 2.3.1 release (#3277)
  Cargo.lock
  Cargo.toml
  risc0/bigint2/Cargo.toml
  risc0/bigint2/methods/guest/Cargo.lock
  semver-baselines.lock
Owners: @risc0/platform, @tzerrell, @iddo-bentov, @flaub

revert changes to risc0/circuit/recursion/build.rs
  risc0/circuit/recursion/build.rs
Owners: @risc0/platform

bootstrap from zirgen 9f488da775c5063415932b83dea4b6e2de297e02
  risc0/circuit/recursion/build.rs
  risc0/circuit/recursion/src/control_id.rs
  risc0/circuit/recursion/src/recursion_zkr.zip
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check.cuh
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_0.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_1.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_2.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_3.cu
  risc0/circuit/rv32im-sys/kernels/cuda/layout.cu.inc
  risc0/circuit/rv32im-sys/kernels/cuda/layout.cuh.inc
  risc0/circuit/rv32im-sys/kernels/cuda/steps.cu
  risc0/circuit/rv32im-sys/kernels/cuda/types.cuh.inc
  risc0/circuit/rv32im-sys/kernels/cxx/layout.cpp.inc
  risc0/circuit/rv32im-sys/kernels/cxx/layout.h.inc
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_0.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_1.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_2.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_3.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/steps.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/types.h.inc
  risc0/circuit/rv32im/src/zirgen/info.rs
  risc0/circuit/rv32im/src/zirgen/layout.rs.inc
  risc0/circuit/rv32im/src/zirgen/types.rs.inc
Owners: @risc0/platform, @flaub, @nategraf, @tzerrell

move Merkle treee impl from lib.rs into tree module
  risc0/povw/Cargo.toml
  risc0/povw/src/consts.rs
  risc0/povw/src/lib.rs
  risc0/povw/src/tree.rs
Owners: @risc0/platform

hash bitmap leaf with tag to avoid potential for confusion
  risc0/povw/src/consts.rs
  risc0/povw/src/tree.rs
Owners: @risc0/platform

resolve comment
  risc0/povw/src/tree.rs
Owners: @risc0/platform

remove anyhow from log-builder guest
  risc0/povw/guests/log-builder/Cargo.lock
  risc0/povw/guests/log-builder/Cargo.toml
  risc0/povw/guests/log-builder/src/main.rs
Owners: @risc0/platform

use thiserror instead of anyhow for risc0-povw::tree
  Cargo.lock
  risc0/povw/Cargo.toml
  risc0/povw/guests/log-builder/Cargo.lock
  risc0/povw/src/error.rs
  risc0/povw/src/lib.rs
  risc0/povw/src/tree.rs
Owners: @risc0/platform

remove todo
  risc0/povw/src/prover.rs
Owners: @risc0/platform

add rejction tests for work log builder
  risc0/povw/guests/log-builder/src/main.rs
  risc0/povw/guests/tests/log-builder.rs
Owners: @risc0/platform

remove a todo
  risc0/binfmt/src/povw.rs
Owners: @risc0/platform

update a comment
  risc0/povw/src/error.rs
  risc0/povw/src/tree.rs
Owners: @risc0/platform

extract common code from new_resolve and new_resolve_povw
  risc0/zkvm/src/host/recursion/prove/mod.rs
Owners: @risc0/platform

remove some todos
  risc0/povw/guests/tests/log-builder.rs
  risc0/povw/src/consts.rs
  risc0/povw/src/guest.rs
Owners: @risc0/platform

update expected verifier parameters
  risc0/zkvm/src/host/recursion/tests.rs
  risc0/zkvm/src/receipt/composite.rs
  risc0/zkvm/src/receipt/groth16.rs
  risc0/zkvm/src/receipt/succinct.rs
Owners: @risc0/platform

add a todo
  risc0/zkvm/src/host/protos/core.proto
Owners: @risc0/platform

reformat some very long comments
  risc0/bigint2/src/ec/mod.rs
Owners: @risc0/platform, @tzerrell, @iddo-bentov, @flaub

Use liblzma instead of xz or xz2, and use parallel feature in rzup.
  Cargo.lock
  risc0/cargo-risczero/Cargo.toml
  risc0/circuit/keccak/Cargo.toml
  risc0/circuit/keccak/build.rs
  risc0/circuit/keccak/src/prove/zkr.rs
  rzup/Cargo.toml
  rzup/src/components.rs
  rzup/src/distribution/s3.rs
  rzup/src/lib.rs
Owners: @risc0/platform, @hmrtn

Fix build issues when the publish feature isn't enabled
  rzup/Cargo.toml
  rzup/src/distribution/http.rs
Owners: @risc0/platform, @hmrtn

Add publish create-artifact command
  rzup/Cargo.toml
  rzup/src/cli/commands.rs
  rzup/src/cli/ui.rs
  rzup/src/distribution/github.rs
  rzup/src/distribution/mod.rs
  rzup/src/distribution/s3.rs
  rzup/src/events.rs
  rzup/src/lib.rs
Owners: @risc0/platform, @hmrtn

Add RSA signature verification to upload JSON payloads
  Cargo.lock
  benchmarks/Cargo.lock
  bento/Cargo.lock
  examples/Cargo.lock
  examples/composition/methods/guest/Cargo.lock
  risc0/zkvm/methods/guest/Cargo.lock
  risc0/zkvm/methods/std-ext/Cargo.lock
  risc0/zkvm/methods/std/Cargo.lock
  rzup/Cargo.toml
  rzup/src/components.rs
  rzup/src/distribution/http.rs
  rzup/src/distribution/mod.rs
  rzup/src/distribution/public_key.pem
  rzup/src/distribution/s3.rs
  rzup/src/distribution/sha2.rs
  rzup/src/distribution/signature.rs
  rzup/src/env.rs
  rzup/src/error.rs
  rzup/src/lib.rs
  rzup/src/paths.rs
  rzup/src/settings.rs
Owners: @risc0/platform, @risc0/devrel, @risc0/demos, @hmrtn

Check SHA256 hashes of downloads when downloading from S3.
  Cargo.lock
  rzup/Cargo.toml
  rzup/src/distribution/mod.rs
  rzup/src/distribution/s3.rs
  rzup/src/distribution/sha2.rs
  rzup/src/error.rs
  rzup/src/lib.rs
Owners: @risc0/platform, @hmrtn

Change artifact.sha256 to sha256_blobs which is a list
  rzup/src/distribution/s3.rs
  rzup/src/lib.rs
Owners: @risc0/platform, @hmrtn

update the nightly rust toolchain for docs-rs job
  .github/workflows/main.yml
Owners: @risc0/platform

update docker image-id
  risc0/build/src/docker.rs
Owners: @risc0/platform

remove ruint as a direct dep of risc0-circuit-rv32im
  risc0/circuit/rv32im/Cargo.toml
  risc0/circuit/rv32im/src/prove/witgen/mod.rs
Owners: @risc0/platform

refactor load_u32 in preflight to make one comparison in the common case
  risc0/circuit/rv32im/src/prove/witgen/preflight.rs
Owners: @risc0/platform

remove protobug GenericReceipt type in favor of using InnerReceipt
  risc0/zkvm/src/host/api/convert.rs
  risc0/zkvm/src/host/protos/api.rs
  risc0/zkvm/src/host/protos/core.proto
  risc0/zkvm/src/host/protos/core.rs
Owners: @risc0/platform

remove into
  risc0/circuit/rv32im/src/prove/witgen/mod.rs
Owners: @risc0/platform

update lock files
  Cargo.lock
  risc0/bigint2/methods/guest/Cargo.lock
  risc0/circuit/keccak/methods/guest/Cargo.lock
  risc0/povw/guests/log-builder/Cargo.lock
  risc0/zkvm/methods/cfg/Cargo.lock
  risc0/zkvm/methods/cpp-crates/Cargo.lock
  risc0/zkvm/methods/env/Cargo.lock
  risc0/zkvm/methods/guest/Cargo.lock
  risc0/zkvm/methods/heap/Cargo.lock
  risc0/zkvm/methods/rand/Cargo.lock
  risc0/zkvm/methods/rand2/Cargo.lock
  risc0/zkvm/methods/std-ext/Cargo.lock
  risc0/zkvm/methods/std/Cargo.lock
Owners: @risc0/platform, @tzerrell, @iddo-bentov, @flaub

rzup publish: Add create-artifact, artifact hash and signature verification (#3281)
  .github/workflows/main.yml
  Cargo.lock
  benchmarks/Cargo.lock
  bento/Cargo.lock
  examples/Cargo.lock
  examples/composition/methods/guest/Cargo.lock
  risc0/build/src/docker.rs
  risc0/cargo-risczero/Cargo.toml
  risc0/circuit/keccak/Cargo.toml
  risc0/circuit/keccak/build.rs
  risc0/circuit/keccak/src/prove/zkr.rs
  risc0/zkvm/methods/guest/Cargo.lock
  risc0/zkvm/methods/std-ext/Cargo.lock
  risc0/zkvm/methods/std/Cargo.lock
  rzup/Cargo.toml
  rzup/src/cli/commands.rs
  rzup/src/cli/ui.rs
  rzup/src/components.rs
  rzup/src/distribution/github.rs
  rzup/src/distribution/http.rs
  rzup/src/distribution/mod.rs
  rzup/src/distribution/public_key.pem
  rzup/src/distribution/s3.rs
  rzup/src/distribution/sha2.rs
  rzup/src/distribution/signature.rs
  rzup/src/env.rs
  rzup/src/error.rs
  rzup/src/events.rs
  rzup/src/lib.rs
  rzup/src/paths.rs
  rzup/src/settings.rs
Owners: @risc0/platform, @risc0/devrel, @risc0/demos, @hmrtn

prove the echo segment once for recursion povw tests
  risc0/zkvm/src/host/recursion/tests.rs
Owners: @risc0/platform

update lock files
  benchmarks/Cargo.lock
  benchmarks/methods/guest/Cargo.lock
  bento/Cargo.lock
  bento/crates/sample-guest/methods/guest/Cargo.lock
  examples/Cargo.lock
  examples/bevy/methods/guest/Cargo.lock
  examples/bls12_381/methods/guest/Cargo.lock
  examples/bn254/methods/guest/Cargo.lock
  examples/c-kzg/methods/guest/Cargo.lock
  examples/chess/methods/guest/Cargo.lock
  examples/composition/methods/guest/Cargo.lock
  examples/digital-signature/methods/guest/Cargo.lock
  examples/ecdsa/k256/methods/guest/Cargo.lock
  examples/ecdsa/p256/methods/guest/Cargo.lock
  examples/groth16-verifier/methods/guest/Cargo.lock
  examples/hello-world/methods/guest/Cargo.lock
  examples/json/methods/guest/Cargo.lock
  examples/jwt-validator/methods/guest/Cargo.lock
  examples/keccak/methods/guest/Cargo.lock
  examples/password-checker/methods/guest/Cargo.lock
  examples/profiling/methods/guest/Cargo.lock
  examples/prorata/methods/guest/Cargo.lock
  examples/sha/methods/guest/Cargo.lock
  examples/smartcore-ml/methods/guest/Cargo.lock
  examples/voting-machine/methods/guest/Cargo.lock
  examples/waldo/methods/guest/Cargo.lock
  examples/wasm/methods/guest/Cargo.lock
  examples/wordle/methods/guest/Cargo.lock
  examples/xgboost/methods/guest/Cargo.lock
  external/substrate/Cargo.lock
Owners: @risc0/platform, @risc0/devrel, @risc0/demos

Update xtask dependencies
  Cargo.lock
  xtask/Cargo.toml
  xtask/src/semver_checks.rs
  xtask/src/update_crate_version.rs
Owners: @risc0/platform

groth16 reimplementation
  bento/Cargo.toml
  groth16_proof/groth16/risc0.circom
  risc0/groth16/Cargo.toml
  risc0/groth16/README.md
  risc0/groth16/src/lib.rs
  risc0/groth16/src/prove/cuda.rs
  risc0/groth16/src/prove/docker.rs
  risc0/groth16/src/prove/mod.rs
  risc0/groth16/src/prove/seal_format.rs
  risc0/groth16/src/prove/seal_to_json.rs
  risc0/groth16/src/types.rs
  risc0/groth16/src/verifier.rs
  risc0/sys/kernels/zkp/cuda/supra/ntt.cu
  risc0/zkp/src/hal/cuda.rs
  risc0/zkvm/examples/datasheet.rs
  risc0/zkvm/src/host/client/prove/mod.rs
  risc0/zkvm/src/host/prove_info.rs
  risc0/zkvm/src/host/recursion/prove/mod.rs
  risc0/zkvm/src/host/server/prove/mod.rs
  risc0/zkvm/src/host/server/prove/prover_impl.rs
  risc0/zkvm/src/host/server/prove/tests.rs
  risc0/zkvm/src/lib.rs
  risc0/zkvm/src/receipt/groth16.rs
Owners: @risc0/platform, @flaub, @nategraf, @tzerrell

Add groth16-sys crate
  Cargo.lock
  Cargo.toml
  risc0/groth16-sys/Cargo.toml
  risc0/groth16-sys/build.rs
  risc0/groth16-sys/kernels/cuda/chacha.cuh
  risc0/groth16-sys/kernels/cuda/ffi.cu
  risc0/groth16-sys/kernels/cuda/groth16_coeffs.cuh
  risc0/groth16-sys/kernels/cuda/groth16_prover.cuh
  risc0/groth16-sys/kernels/cuda/groth16_srs.cuh
  risc0/groth16-sys/kernels/cuda/util.cuh
  risc0/groth16-sys/src/lib.rs
Owners: @risc0/platform

Add groth16 xtask command
  .cargo/config.toml
  Cargo.lock
  xtask/Cargo.toml
  xtask/src/bootstrap_groth16.rs
  xtask/src/main.rs
  xtask/src/setup_groth16.rs
Owners: @risc0/platform

.github/CODEOWNERS:

# CODEOWNERS

# Note: Order is important; the last matching pattern takes the most
# precedence.

*                                      @risc0/platform

/bonsai/                               @risc0/bonsai
/examples/                             @risc0/devrel @risc0/demos @risc0/platform
/risc0/bigint2/                        @risc0/platform @tzerrell @iddo-bentov @flaub
/rzup/                                 @risc0/platform @hmrtn
/web/                                  @risc0/platform @nahoc
/website/                              @risc0/platform @risc0/devrel @pdg744

# These are sensitive files
/groth16_proof/groth16/                @flaub @nategraf @tzerrell
/SECURITY.md                           @kevinnassery
control_id.rs                          @flaub @nategraf @tzerrell
recursion_zkr.zip                      @flaub @nategraf @tzerrell
