Repository risc0/risc0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @risc0/platform, @risc0/bonsai, @risc0/devrel, @risc0/demos, @tzerrell, @iddo-bentov, @flaub, @hmrtn, @nahoc, @pdg744, @nategraf, @kevinnassery

.github/CODEOWNERS:

# CODEOWNERS

# Note: Order is important; the last matching pattern takes the most
# precedence.

*                                      @risc0/platform

/bonsai/                               @risc0/bonsai
/examples/                             @risc0/devrel @risc0/demos @risc0/platform
/risc0/bigint2/                        @risc0/platform @tzerrell @iddo-bentov @flaub
/rzup/                                 @risc0/platform @hmrtn
/web/                                  @risc0/platform @nahoc
/website/                              @risc0/platform @risc0/devrel @pdg744

# These are sensitive files
/groth16_proof/groth16/                @flaub @nategraf @tzerrell
/SECURITY.md                           @kevinnassery
control_id.rs                          @flaub @nategraf @tzerrell
recursion_zkr.zip                      @flaub @nategraf @tzerrell

Fix early exit
  risc0/r0vm/src/actors/job.rs
Owners: @risc0/platform

Fix
  risc0/r0vm/src/lib.rs
Owners: @risc0/platform

Fixes
  Cargo.lock
  risc0/cargo-risczero/Cargo.toml
  risc0/cargo-risczero/src/bin/r0vm.rs
  risc0/r0vm/Cargo.toml
  risc0/r0vm/src/bin/r0vm.rs
  risc0/zkvm/compat/Cargo.toml
  risc0/zkvm/compat/src/bin/local-r0vm.rs
Owners: @risc0/platform

Add program to run r0vm on a bunch of ec2 machines
  Cargo.toml
  risc0/r0vm/aws/Cargo.lock
  risc0/r0vm/aws/Cargo.toml
  risc0/r0vm/aws/src/main.rs
Owners: @risc0/platform

Add simulator
  Cargo.lock
  Cargo.toml
  risc0/r0vm/Cargo.toml
  risc0/r0vm/src/actors/factory.rs
  risc0/r0vm/src/actors/manager.rs
  risc0/r0vm/src/actors/mod.rs
  risc0/r0vm/src/actors/protocol.rs
  risc0/r0vm/src/actors/tests.rs
  risc0/r0vm/src/actors/worker.rs
  risc0/r0vm/src/api.rs
  risc0/r0vm/src/lib.rs
  risc0/r0vm/testdata/hybrid.json
  risc0/zkvm/src/host/server/prove/dev_mode.rs
  risc0/zkvm/src/host/server/prove/mod.rs
  risc0/zkvm/src/host/server/prove/tests.rs
  risc0/zkvm/src/lib.rs
Owners: @risc0/platform

Add --po2
  Cargo.lock
  risc0/r0vm/Cargo.toml
  risc0/r0vm/src/actors/mod.rs
  risc0/r0vm/src/actors/tests.rs
  risc0/r0vm/src/actors/worker.rs
  risc0/r0vm/src/lib.rs
  risc0/r0vm/testdata/hybrid.json
Owners: @risc0/platform

Make gdb optional
  risc0/circuit/rv32im/Cargo.toml
  risc0/circuit/rv32im/src/bin/bigint2-analyze.rs
  risc0/circuit/rv32im/src/execute/gdb.rs
Owners: @risc0/platform

test `4090` on `lenovo-01` with labels `nvidia_rtx_4090` and `test`
  .github/workflows/bench_pr.yml
  .github/workflows/bench_reports.yml
  .github/workflows/bench_trends.yml
Owners: @risc0/platform

Fix provisioning to retry. Give up on stuck machines starting.
  risc0/r0vm/aws/src/main.rs
Owners: @risc0/platform

Increase frame size limit
  risc0/r0vm/src/actors/mod.rs
Owners: @risc0/platform

Join manager to tailscale. Poll instance states on main thread.
  risc0/r0vm/aws/src/main.rs
Owners: @risc0/platform

Add configurable po2
  risc0/r0vm/aws/src/main.rs
Owners: @risc0/platform

Abandon instances that don't start fast enough
  risc0/r0vm/aws/src/main.rs
Owners: @risc0/platform

correct groth16 path in circom_stable.sh (#3148)
  .github/scripts/circom_stable.sh
Owners: @risc0/platform

ZKVM-1382: Add Hoodi to supported verifier contracts for v2 (#3165)
  website/api_versioned_docs/version-2.0.0/blockchain-integration/contracts/verifier.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

chore: fix typo in comment (#3168)
  risc0/binfmt/src/image.rs
Owners: @risc0/platform

Change CPU instance type. This one is fastest.
  risc0/r0vm/aws/src/main.rs
Owners: @risc0/platform

fix: add crate-level documentation
  Cargo.lock
Owners: @risc0/platform

fix: add cargo-rdme integration
  Cargo.toml
  README.md
  src/lib.rs
Owners: @risc0/platform

fix: update crate documentation for cargo-rdme
  src/lib.rs
Owners: @risc0/platform

docs: update README.md with cargo-rdme content
  README.md
Owners: @risc0/platform

style: fix formatting
  src/lib.rs
Owners: @risc0/platform

Update README.md
  bonsai/sdk/README.md
Owners: @risc0/bonsai

Update lock files
  benchmarks/methods/guest/Cargo.lock
  bento/crates/sample-guest/methods/guest/Cargo.lock
  examples/bevy/methods/guest/Cargo.lock
  examples/bls12_381/methods/guest/Cargo.lock
  examples/bn254/methods/guest/Cargo.lock
  examples/c-kzg/methods/guest/Cargo.lock
  examples/chess/methods/guest/Cargo.lock
  examples/composition/methods/guest/Cargo.lock
  examples/digital-signature/methods/guest/Cargo.lock
  examples/ecdsa/k256/methods/guest/Cargo.lock
  examples/ecdsa/p256/methods/guest/Cargo.lock
  examples/groth16-verifier/methods/guest/Cargo.lock
  examples/hello-world/methods/guest/Cargo.lock
  examples/json/methods/guest/Cargo.lock
  examples/jwt-validator/methods/guest/Cargo.lock
  examples/keccak/methods/guest/Cargo.lock
  examples/password-checker/methods/guest/Cargo.lock
  examples/profiling/methods/guest/Cargo.lock
  examples/prorata/methods/guest/Cargo.lock
  examples/sha/methods/guest/Cargo.lock
  examples/smartcore-ml/methods/guest/Cargo.lock
  examples/voting-machine/methods/guest/Cargo.lock
  examples/waldo/methods/guest/Cargo.lock
  examples/wasm/methods/guest/Cargo.lock
  examples/wordle/methods/guest/Cargo.lock
  examples/xgboost/methods/guest/Cargo.lock
  risc0/bigint2/methods/guest/Cargo.lock
  risc0/circuit/keccak/methods/guest/Cargo.lock
  risc0/zkvm/methods/cfg/Cargo.lock
  risc0/zkvm/methods/cpp-crates/Cargo.lock
  risc0/zkvm/methods/env/Cargo.lock
  risc0/zkvm/methods/guest/Cargo.lock
  risc0/zkvm/methods/heap/Cargo.lock
  risc0/zkvm/methods/rand/Cargo.lock
  risc0/zkvm/methods/rand2/Cargo.lock
  risc0/zkvm/methods/std/Cargo.lock
Owners: @risc0/platform, @risc0/devrel, @risc0/demos, @tzerrell, @iddo-bentov, @flaub

update labels to prod
  .github/workflows/bench_pr.yml
  .github/workflows/bench_reports.yml
  .github/workflows/bench_trends.yml
Owners: @risc0/platform

CR fixes
  Cargo.toml
  risc0/build/src/docker.rs
  risc0/cargo-risczero/src/bin/r0vm.rs
  risc0/r0vm/src/actors/factory.rs
  risc0/r0vm/src/actors/mod.rs
  risc0/r0vm/src/actors/worker.rs
  risc0/r0vm/src/bin/r0vm.rs
  risc0/r0vm/src/lib.rs
Owners: @risc0/platform

Fix
  risc0/zkvm/compat/src/bin/local-r0vm.rs
Owners: @risc0/platform

Adjust test
  risc0/r0vm/src/actors/tests.rs
Owners: @risc0/platform

Update main.yml
  .github/workflows/main.yml
Owners: @risc0/platform

Update main.rs
  examples/keccak/src/main.rs
Owners: @risc0/devrel, @risc0/demos, @risc0/platform

Fix broken link to env::write in v2.0.0 zkVM tutorials
  website/api_versioned_docs/version-2.0.0/zkvm/tutorials/io.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Update zkvm-overview.md
  website/api_versioned_docs/version-0.19/zkvm/zkvm-overview.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

fix: correct link for plausible
  website/docusaurus.config.js
Owners: @risc0/platform, @risc0/devrel, @pdg744

fmt
  website/docusaurus.config.js
Owners: @risc0/platform, @risc0/devrel, @pdg744

Add debug
  Cargo.lock
  risc0/r0vm/Cargo.toml
  risc0/r0vm/src/actors/protocol.rs
  risc0/r0vm/src/actors/tests.rs
  risc0/zkvm/src/receipt.rs
  risc0/zkvm/src/receipt/composite.rs
Owners: @risc0/platform

Fix tests
  .github/workflows/main.yml
  risc0/r0vm/src/actors/tests.rs
Owners: @risc0/platform

ZKVM-1387: Replace `3090_ti` jobs with `4090` (#3171)
  .github/workflows/bench_pr.yml
  .github/workflows/bench_reports.yml
  .github/workflows/bench_trends.yml
Owners: @risc0/platform

hmm
  risc0/zkvm/src/host/server/exec/executor.rs
Owners: @risc0/platform

Try buildkite
  .buildkite/pipeline.yml
Owners: @risc0/platform

Disallow memory I/O to same address in the same memory cycle
  risc0/build/src/docker.rs
  risc0/circuit/recursion/build.rs
  risc0/circuit/recursion/src/control_id.rs
  risc0/circuit/recursion/src/recursion_zkr.zip
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check.cuh
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_0.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_1.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_2.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_3.cu
  risc0/circuit/rv32im-sys/kernels/cuda/layout.cu.inc
  risc0/circuit/rv32im-sys/kernels/cuda/layout.cuh.inc
  risc0/circuit/rv32im-sys/kernels/cuda/steps.cu
  risc0/circuit/rv32im-sys/kernels/cuda/steps.cuh
  risc0/circuit/rv32im-sys/kernels/cuda/types.cuh.inc
  risc0/circuit/rv32im-sys/kernels/cxx/layout.cpp.inc
  risc0/circuit/rv32im-sys/kernels/cxx/layout.h.inc
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_0.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_1.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_2.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_3.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/steps.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/steps.h
  risc0/circuit/rv32im-sys/kernels/cxx/types.h.inc
  risc0/circuit/rv32im/src/execute/r0vm.rs
  risc0/circuit/rv32im/src/execute/rv32im.rs
  risc0/circuit/rv32im/src/prove/witgen/preflight.rs
  risc0/circuit/rv32im/src/zirgen/info.rs
  risc0/circuit/rv32im/src/zirgen/layout.rs.inc
  risc0/circuit/rv32im/src/zirgen/types.rs.inc
  risc0/zkvm/src/host/recursion/tests.rs
  risc0/zkvm/src/receipt/composite.rs
  risc0/zkvm/src/receipt/groth16.rs
  risc0/zkvm/src/receipt/succinct.rs
Owners: @risc0/platform, @flaub, @nategraf, @tzerrell
