Repository risc0/risc0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @risc0/platform, @risc0/bonsai, @risc0/devrel, @risc0/demos, @tzerrell, @iddo-bentov, @flaub, @hmrtn, @nahoc, @pdg744, @nategraf, @kevinnassery

add c-kzg
  website/api/zkvm/precompiles.md
  website/api_versioned_docs/version-2.0.0/zkvm/precompiles.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Re-implement the segment dumping
  risc0/circuit/rv32im/src/execute/executor.rs
Owners: @risc0/platform

Try kameo
  Cargo.lock
  risc0/r0vm/Cargo.toml
  risc0/r0vm/src/bin/r0vm.rs
  risc0/r0vm/src/lib.rs
  risc0/r0vm/src/manager.rs
  risc0/r0vm/src/protocol.rs
  risc0/r0vm/src/worker.rs
Owners: @risc0/platform

Update studyclub.md
  website/docs/studyclub.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Fix broken link to guest code file in password-checker README
  examples/password-checker/README.md
Owners: @risc0/devrel, @risc0/demos, @risc0/platform

Move to actors
  risc0/r0vm/src/actors/factory.rs
  risc0/r0vm/src/actors/manager.rs
  risc0/r0vm/src/actors/mod.rs
  risc0/r0vm/src/actors/protocol.rs
  risc0/r0vm/src/actors/worker.rs
  risc0/r0vm/src/lib.rs
  risc0/r0vm/src/worker.rs
Owners: @risc0/platform

Update circom_stable.sh
  .github/scripts/circom_stable.sh
Owners: @risc0/platform

Create README.md
  risc0/circuit/keccak-sys/README.md
Owners: @risc0/platform

Update Cargo.toml
  risc0/zkvm/Cargo.toml
Owners: @risc0/platform

Update build.rs
  risc0/circuit/keccak-sys/build.rs
Owners: @risc0/platform

fix: replace deprecated #[clap
  bento/crates/api/src/lib.rs
  bento/crates/bento-client/src/bento_cli.rs
  bento/crates/workflow/src/lib.rs
  risc0/cargo-risczero/src/commands/guest.rs
Owners: @risc0/platform

fix: typos in code comments
  bonsai/sdk/src/lib.rs
  risc0/sys/cxx/vendor/nvtx3/nvToolsExt.h
  risc0/sys/cxx/vendor/nvtx3/nvtx3.hpp
Owners: @risc0/bonsai, @risc0/platform

WIP
  Cargo.lock
  risc0/r0vm/Cargo.toml
  risc0/r0vm/src/actors/factory.rs
  risc0/r0vm/src/actors/manager.rs
  risc0/r0vm/src/actors/protocol.rs
  risc0/r0vm/src/actors/worker.rs
  risc0/zkvm/src/host/client/env.rs
  risc0/zkvm/src/lib.rs
Owners: @risc0/platform

It wasn't right to call this 1024 PAGE_SIZE
  risc0/circuit/rv32im/src/execute/pager.rs
Owners: @risc0/platform

ZKVM-1369: Add `c-kzg` to list of precompiles (#3144)
  website/api/zkvm/precompiles.md
  website/api_versioned_docs/version-2.0.0/zkvm/precompiles.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

fix(risc0-build): canonicalize manifest dir (#3143)
  risc0/build/src/lib.rs
Owners: @risc0/platform

ZKVM-1371: executor perf: Move all memory hashing to background thread (#3145)
  risc0/binfmt/src/image.rs
  risc0/circuit/rv32im/src/execute/executor.rs
  risc0/circuit/rv32im/src/execute/pager.rs
Owners: @risc0/platform

Don't recalculate page hashes when we can avoid it.
  risc0/binfmt/src/image.rs
  risc0/circuit/rv32im/src/execute/pager.rs
Owners: @risc0/platform

Optimize bigint load for allocations and copies
  risc0/circuit/rv32im/src/execute/bigint.rs
Owners: @risc0/platform

Always inline store / load functions up as far as we can
  risc0/circuit/rv32im/src/execute/executor.rs
  risc0/circuit/rv32im/src/execute/pager.rs
  risc0/circuit/rv32im/src/execute/r0vm.rs
  risc0/circuit/rv32im/src/execute/rv32im.rs
Owners: @risc0/platform

Optimize bigint store for allocations and copies
  risc0/circuit/rv32im/src/execute/bigint.rs
Owners: @risc0/platform

Force many functions to be inlined, add more "unlikely" usage
  risc0/binfmt/src/image.rs
  risc0/circuit/rv32im/src/execute/executor.rs
  risc0/circuit/rv32im/src/execute/mod.rs
  risc0/circuit/rv32im/src/execute/pager.rs
  risc0/circuit/rv32im/src/execute/r0vm.rs
  risc0/circuit/rv32im/src/execute/rv32im.rs
Owners: @risc0/platform

Add tests for BigIntIO
  risc0/circuit/rv32im/src/execute/bigint.rs
  risc0/circuit/rv32im/src/execute/r0vm.rs
Owners: @risc0/platform

Remove usage of dyn Risc0Context
  risc0/circuit/rv32im/src/execute/bigint.rs
  risc0/circuit/rv32im/src/execute/poseidon2.rs
  risc0/circuit/rv32im/src/execute/sha2.rs
  risc0/circuit/rv32im/src/prove/witgen/poseidon2.rs
Owners: @risc0/platform

Update README.md
  groth16_proof/circom-compat/README.md
Owners: @risc0/platform

Update README.md
  examples/waldo/README.md
Owners: @risc0/devrel, @risc0/demos, @risc0/platform

Update README.md
  groth16_proof/README.md
Owners: @risc0/platform

Update circom_stable.sh
  .github/scripts/circom_stable.sh
Owners: @risc0/platform

Getting there
  Cargo.lock
  risc0/r0vm/Cargo.toml
  risc0/r0vm/src/actors/factory.rs
  risc0/r0vm/src/actors/manager.rs
  risc0/r0vm/src/actors/mod.rs
  risc0/r0vm/src/actors/protocol.rs
  risc0/r0vm/src/actors/tests.rs
  risc0/r0vm/src/actors/worker.rs
Owners: @risc0/platform

Revert
  examples/Cargo.lock
  examples/prover/Cargo.toml
  examples/prover/src/main.rs
Owners: @risc0/devrel, @risc0/demos, @risc0/platform

ZKVM-1373: executor perf: Various performance improvemnts (#3152)
  risc0/binfmt/src/image.rs
  risc0/circuit/rv32im/src/execute/bigint.rs
  risc0/circuit/rv32im/src/execute/executor.rs
  risc0/circuit/rv32im/src/execute/mod.rs
  risc0/circuit/rv32im/src/execute/pager.rs
  risc0/circuit/rv32im/src/execute/poseidon2.rs
  risc0/circuit/rv32im/src/execute/r0vm.rs
  risc0/circuit/rv32im/src/execute/rv32im.rs
  risc0/circuit/rv32im/src/execute/sha2.rs
  risc0/circuit/rv32im/src/prove/witgen/poseidon2.rs
Owners: @risc0/platform

Upgrade redis-rs version.
  bento/Cargo.lock
  bento/Cargo.toml
Owners: @risc0/platform

Update compose.yml
  compose.yml
Owners: @risc0/platform

Update Cargo.toml
  examples/bls12_381/methods/guest/Cargo.toml
Owners: @risc0/devrel, @risc0/demos, @risc0/platform

Fix broken link to guest code file in password-checker README (#3147)
  examples/password-checker/README.md
Owners: @risc0/devrel, @risc0/demos, @risc0/platform

Bump version in smoke-test
  tools/smoke-test/Cargo.toml
  tools/smoke-test/methods/Cargo.toml
Owners: @risc0/platform

Bump risc0-build version from 3.0.0-rc.1 to 3.0.1-rc.1
  Cargo.lock
  Cargo.toml
  benchmarks/Cargo.lock
  bento/Cargo.lock
  examples/Cargo.lock
  examples/composition/methods/guest/Cargo.lock
  risc0/build/Cargo.toml
  risc0/zkvm/methods/guest/Cargo.lock
  risc0/zkvm/methods/std/Cargo.lock
Owners: @risc0/platform, @risc0/devrel, @risc0/demos

Add missing rc.1 to cargo-risczero version
  Cargo.lock
  risc0/cargo-risczero/Cargo.toml
Owners: @risc0/platform

Add missing rc.1 to bonsai-sdk, risc0-build-kernel, risc0-tools
  Cargo.lock
  Cargo.toml
  benchmarks/Cargo.lock
  bento/Cargo.lock
  bonsai/sdk/Cargo.toml
  examples/Cargo.lock
  risc0/build_kernel/Cargo.toml
  risc0/tools/Cargo.toml
Owners: @risc0/platform, @risc0/bonsai, @risc0/devrel, @risc0/demos

WIP
  Cargo.lock
  risc0/r0vm/Cargo.toml
  risc0/r0vm/src/actors/factory.rs
  risc0/r0vm/src/actors/job.rs
  risc0/r0vm/src/actors/manager.rs
  risc0/r0vm/src/actors/mod.rs
  risc0/r0vm/src/actors/protocol.rs
  risc0/r0vm/src/actors/tests.rs
  risc0/r0vm/src/actors/worker.rs
  risc0/r0vm/src/lib.rs
  risc0/zkvm/src/host/server/prove/dev_mode.rs
  risc0/zkvm/src/host/server/prove/mod.rs
  risc0/zkvm/src/host/server/prove/prover_impl.rs
Owners: @risc0/platform

.github/CODEOWNERS:

# CODEOWNERS

# Note: Order is important; the last matching pattern takes the most
# precedence.

*                                      @risc0/platform

/bonsai/                               @risc0/bonsai
/examples/                             @risc0/devrel @risc0/demos @risc0/platform
/risc0/bigint2/                        @risc0/platform @tzerrell @iddo-bentov @flaub
/rzup/                                 @risc0/platform @hmrtn
/web/                                  @risc0/platform @nahoc
/website/                              @risc0/platform @risc0/devrel @pdg744

# These are sensitive files
/groth16_proof/groth16/                @flaub @nategraf @tzerrell
/SECURITY.md                           @kevinnassery
control_id.rs                          @flaub @nategraf @tzerrell
recursion_zkr.zip                      @flaub @nategraf @tzerrell
