Repository risc0/risc0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @risc0/platform, @risc0/bonsai, @risc0/devrel, @risc0/demos, @tzerrell, @iddo-bentov, @flaub, @hmrtn, @nahoc, @pdg744, @nategraf, @kevinnassery

chore: fix broken link (#2904)
  website/api/zkvm/precompiles.md
  website/api_versioned_docs/version-1.2/zkvm/precompiles.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

chore: fixed broken link (#2991)
  website/docs/reference-docs/about-fri.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

fix docs.rs badge for `risc0-groth16` crate (#3119)
  README.md
Owners: @risc0/platform

Fix incorrect cd path in hello-world tutorial (#3110)
  website/api_versioned_docs/version-1.2/zkvm/tutorials/hello-world.md
  website/api_versioned_docs/version-2.0.0/zkvm/tutorials/hello-world.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

2025
  examples/sha/src/main.rs
Owners: @risc0/devrel, @risc0/demos, @risc0/platform

2025
  risc0/zkp/src/core/hash/poseidon2/consts.rs
Owners: @risc0/platform

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @risc0/platform

ZKVM-1361: Integrate community contributions (#3126)
  examples/sha/src/main.rs
  risc0/zkp/src/core/hash/poseidon2/consts.rs
  risc0/zkvm/src/host/server/prove/tests.rs
  rzup/src/paths.rs
  xtask/src/update_crate_version.rs
Owners: @risc0/devrel, @risc0/demos, @risc0/platform, @hmrtn

what is this thing I added
  examples/bigint2/.gitignore
  examples/bigint2/Cargo.toml
  examples/bigint2/host/Cargo.toml
  examples/bigint2/host/src/main.rs
  examples/bigint2/methods/Cargo.toml
  examples/bigint2/methods/build.rs
  examples/bigint2/methods/guest/Cargo.toml
  examples/bigint2/methods/guest/src/main.rs
  examples/bigint2/methods/src/lib.rs
Owners: @risc0/devrel, @risc0/demos, @risc0/platform

Update recursion.md
  website/api/recursion.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Update recursion.md
  website/api_versioned_docs/version-1.0/recursion.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Update recursion.md
  website/api_versioned_docs/version-1.1/recursion.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Update recursion.md
  website/api_versioned_docs/version-1.2/recursion.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Update recursion.md
  website/api_versioned_docs/version-2.0.0/recursion.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Add trace feature flag
  risc0/cargo-risczero/tests/test_crate/Cargo.lock
  risc0/circuit/rv32im/Cargo.toml
  risc0/circuit/rv32im/src/execute/executor.rs
  risc0/circuit/rv32im/src/execute/r0vm.rs
  risc0/circuit/rv32im/src/execute/rv32im.rs
  risc0/circuit/rv32im/src/prove/witgen/preflight.rs
  risc0/zkvm/Cargo.toml
  tools/crates-validator/Cargo.lock
Owners: @risc0/platform

Drop trace feature flag
  risc0/circuit/rv32im/Cargo.toml
  risc0/circuit/rv32im/src/execute/executor.rs
  risc0/circuit/rv32im/src/execute/r0vm.rs
  risc0/circuit/rv32im/src/execute/rv32im.rs
  risc0/circuit/rv32im/src/prove/witgen/preflight.rs
  risc0/zkvm/Cargo.toml
Owners: @risc0/platform

Disable dependabot
  .github/dependabot.yml
Owners: @risc0/platform

CR comments
  risc0/circuit/rv32im/src/execute/executor.rs
  risc0/circuit/rv32im/src/prove/witgen/preflight.rs
Owners: @risc0/platform

ZKVM-1365: Disable dependabot (#3136)
  .github/dependabot.yml
Owners: @risc0/platform

Drop dependabot
  .github/dependabot.yml
Owners: @risc0/platform

ZKVM-1364: Replace decoding table with rust matches (#3135)
  .github/dependabot.yml
  risc0/cargo-risczero/tests/test_crate/Cargo.lock
  risc0/circuit/rv32im/src/execute/executor.rs
  risc0/circuit/rv32im/src/execute/r0vm.rs
  risc0/circuit/rv32im/src/execute/rv32im.rs
  risc0/circuit/rv32im/src/prove/witgen/preflight.rs
  tools/crates-validator/Cargo.lock
Owners: @risc0/platform

ci: switch risc0/actions-cache to v3 (Node 20)
  .github/actions/sccache/action.yml
Owners: @risc0/platform

Update README.md
  README.md
Owners: @risc0/platform

Improve xtask bootstrap to utilize the GPU
  risc0/circuit/recursion/src/prove/program.rs
  risc0/zkp/src/hal/cuda.rs
  xtask/Cargo.toml
Owners: @risc0/platform

Add BLST crate to list of precompiles
  website/api/zkvm/precompiles.md
  website/api_versioned_docs/version-2.0.0/zkvm/precompiles.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Add e2e benchmark
  risc0/zkvm/Cargo.toml
  risc0/zkvm/examples/e2e.rs
Owners: @risc0/platform

Update hello-world.md
  website/api_versioned_docs/version-0.19/zkvm/tutorials/hello-world.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Update hello-world.md
  website/api_versioned_docs/version-0.20/zkvm/tutorials/hello-world.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Update hello-world.md
  website/api_versioned_docs/version-0.21/zkvm/tutorials/hello-world.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Update hello-world.md
  website/api_versioned_docs/version-1.0/zkvm/tutorials/hello-world.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Update hello-world.md
  website/api_versioned_docs/version-1.1/zkvm/tutorials/hello-world.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

fix(risc0-build): canonicalize manifest dir
  risc0/build/src/lib.rs
Owners: @risc0/platform

CR feedback; Bubble up unsupported hashfn error.
  risc0/circuit/recursion/src/prove/program.rs
  risc0/zkp/src/hal/cuda.rs
  risc0/zkvm/src/host/recursion/prove/mod.rs
  risc0/zkvm/src/host/recursion/tests.rs
  risc0/zkvm/tests/keccak.rs
  xtask/src/bootstrap.rs
Owners: @risc0/platform

ZKVM-1366: Add way to use cuda to compute control id for bootstrap (#3139)
  risc0/circuit/recursion/src/prove/program.rs
  risc0/zkp/src/hal/cuda.rs
  risc0/zkvm/src/host/recursion/prove/mod.rs
  risc0/zkvm/src/host/recursion/tests.rs
  risc0/zkvm/tests/keccak.rs
  xtask/Cargo.toml
  xtask/src/bootstrap.rs
Owners: @risc0/platform

WIP
  .vscode/settings.json
  Cargo.lock
  risc0/r0vm/Cargo.toml
  risc0/r0vm/src/lib.rs
  risc0/r0vm/src/manager.rs
  risc0/r0vm/src/protocol.rs
  risc0/r0vm/src/worker.rs
Owners: @risc0/platform

Update hello-world.md
  website/api_versioned_docs/version-0.19/zkvm/tutorials/hello-world.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Update hello-world.md
  website/api_versioned_docs/version-0.20/zkvm/tutorials/hello-world.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Update hello-world.md
  website/api_versioned_docs/version-0.21/zkvm/tutorials/hello-world.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Update hello-world.md
  website/api_versioned_docs/version-1.0/zkvm/tutorials/hello-world.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Update hello-world.md
  website/api_versioned_docs/version-1.1/zkvm/tutorials/hello-world.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

.github/CODEOWNERS:

# CODEOWNERS

# Note: Order is important; the last matching pattern takes the most
# precedence.

*                                      @risc0/platform

/bonsai/                               @risc0/bonsai
/examples/                             @risc0/devrel @risc0/demos @risc0/platform
/risc0/bigint2/                        @risc0/platform @tzerrell @iddo-bentov @flaub
/rzup/                                 @risc0/platform @hmrtn
/web/                                  @risc0/platform @nahoc
/website/                              @risc0/platform @risc0/devrel @pdg744

# These are sensitive files
/groth16_proof/groth16/                @flaub @nategraf @tzerrell
/SECURITY.md                           @kevinnassery
control_id.rs                          @flaub @nategraf @tzerrell
recursion_zkr.zip                      @flaub @nategraf @tzerrell
