Repository risc0/risc0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @risc0/platform, @risc0/bonsai, @risc0/devrel, @risc0/demos, @tzerrell, @iddo-bentov, @flaub, @hmrtn, @nahoc, @pdg744, @nategraf, @kevinnassery

Remove unused variable left over from debugging
  risc0/r0vm/src/actors/job.rs
Owners: @risc0/platform

ZKVM-1410: Add metrics/logging to telemetry (#3198)
  Cargo.lock
  risc0/r0vm/Cargo.toml
  risc0/r0vm/src/actors/factory.rs
  risc0/r0vm/src/actors/job.rs
  risc0/r0vm/src/actors/metrics.rs
  risc0/r0vm/src/actors/mod.rs
  risc0/r0vm/src/actors/protocol.rs
  risc0/r0vm/src/actors/rpc.rs
  risc0/r0vm/src/actors/tests.rs
  risc0/r0vm/src/lib.rs
  risc0/r0vm/testdata/rtx_4000_ada-20.toml
  risc0/r0vm/testdata/rtx_4000_ada-21.toml
  risc0/zkvm/src/host/server/prove/dev_mode.rs
Owners: @risc0/platform

Extract several functions from WitnessGenerator::new
  risc0/circuit/rv32im/src/prove/witgen/mod.rs
Owners: @risc0/platform

Extract a PreflightResults object
  risc0/circuit/rv32im/src/prove/hal/mod.rs
  risc0/circuit/rv32im/src/prove/mod.rs
  risc0/circuit/rv32im/src/prove/witgen/mod.rs
  risc0/circuit/rv32im/src/prove/witgen/tests.rs
Owners: @risc0/platform

Add new preflight and prove_core functions to SegmentProver
  risc0/circuit/rv32im/src/prove/hal/mod.rs
  risc0/circuit/rv32im/src/prove/mod.rs
  risc0/circuit/rv32im/src/prove/witgen/mod.rs
Owners: @risc0/platform

Split out preflight and core proving at ProverServer level
  risc0/circuit/rv32im/src/prove/hal/mod.rs
  risc0/circuit/rv32im/src/prove/witgen/mod.rs
  risc0/r0vm/src/actors/tests.rs
  risc0/r0vm/testdata/rtx_4000_ada-20.toml
  risc0/zkvm/src/host/server/exec/executor.rs
  risc0/zkvm/src/host/server/prove/dev_mode.rs
  risc0/zkvm/src/host/server/prove/mod.rs
  risc0/zkvm/src/host/server/prove/prover_impl.rs
  risc0/zkvm/src/host/server/session.rs
  risc0/zkvm/src/lib.rs
  risc0/zkvm/src/receipt_claim.rs
Owners: @risc0/platform

Don't hold hal lock during preflight
  risc0/circuit/rv32im/src/prove/hal/cpu.rs
  risc0/circuit/rv32im/src/prove/hal/cuda.rs
  risc0/circuit/rv32im/src/prove/hal/mod.rs
Owners: @risc0/platform

Run preflight and prove at same time in actor worker
  risc0/r0vm/src/actors/worker.rs
  risc0/zkvm/src/host/server/session.rs
Owners: @risc0/platform

Update docker reproducible build test expectation
  risc0/build/src/docker.rs
Owners: @risc0/platform

ZKVM-1408: Migrate CI to internal cluster (#3197)
  .github/actions/sccache/action.yml
  .github/workflows/bench_pr.yml
  .github/workflows/bench_reports.yml
  .github/workflows/bench_trends.yml
  .github/workflows/groth16_proof.yml
  .github/workflows/main.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/risc0-ethereum.yml
  .github/workflows/website.yml
Owners: @risc0/platform

ZKVM-1412: change next: remote proving to include Boundless (#3200)
  website/api/generating-proofs/remote-proving.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

ZKVM-1411: Consolidate two Blockchain Integration pages to "RISC Zero on Ethereum" (#3199)
  website/api/blockchain-integration/bonsai-on-eth.md
  website/api/blockchain-integration/risc-zero-on-eth.md
  website/api/getting-started.md
  website/api/zkvm/zkvm-overview.md
  website/sidebarsApi.js
Owners: @risc0/platform, @risc0/devrel, @pdg744

fix typo
  bonsai/sdk/src/lib.rs
Owners: @risc0/bonsai

Upgrade default_prover to use new actor system
  .github/workflows/main.yml
  Cargo.lock
  risc0/r0vm/Cargo.toml
  risc0/r0vm/src/actors/manager.rs
  risc0/r0vm/src/actors/mod.rs
  risc0/r0vm/src/actors/protocol.rs
  risc0/r0vm/src/actors/tests.rs
  risc0/r0vm/src/actors/worker.rs
  risc0/r0vm/src/api.rs
  risc0/r0vm/src/lib.rs
  risc0/r0vm/tests/default_prover.rs
  risc0/zkvm/Cargo.toml
  risc0/zkvm/methods/env/Cargo.lock
  risc0/zkvm/methods/rand/Cargo.lock
  risc0/zkvm/src/host/client/prove/default.rs
  risc0/zkvm/src/host/client/prove/mod.rs
  risc0/zkvm/src/host/mod.rs
  risc0/zkvm/src/host/rpc.rs
  risc0/zkvm/src/lib.rs
Owners: @risc0/platform

Fixes
  risc0/bigint2/examples/rsa.rs
  risc0/build/src/docker.rs
  risc0/zkvm/src/host/mod.rs
  risc0/zkvm/src/host/recursion/tests.rs
Owners: @risc0/platform, @tzerrell, @iddo-bentov, @flaub

Update README.md
  examples/json/README.md
Owners: @risc0/devrel, @risc0/demos, @risc0/platform

Fixes
  examples/bevy/src/main.rs
  examples/bn254/src/main.rs
  examples/c-guest/host/src/main.rs
  examples/chess/src/main.rs
  examples/composition/src/main.rs
  examples/digital-signature/src/lib.rs
  examples/ecdsa/k256/src/main.rs
  examples/ecdsa/p256/src/main.rs
  examples/groth16-verifier/src/main.rs
  examples/hello-world/src/lib.rs
  examples/json/src/main.rs
  examples/jwt-validator/src/lib.rs
  examples/keccak/src/main.rs
  examples/password-checker/src/main.rs
  examples/prorata/src/main.rs
  examples/sha/src/main.rs
  examples/smartcore-ml/src/main.rs
  examples/voting-machine/src/lib.rs
  examples/waldo/src/bin/prove.rs
  examples/wasm/src/main.rs
  examples/wordle/src/main.rs
  examples/xgboost/src/main.rs
  external/substrate/Cargo.lock
  risc0/cargo-risczero/templates/rust-starter/host/src/main.rs
  risc0/zkvm/Cargo.toml
  tools/smoke-test/src/main.rs
  website/api/zkvm/host-code-101.md
  website/api/zkvm/tutorials/hello-world.md
Owners: @risc0/devrel, @risc0/demos, @risc0/platform, @pdg744

Fixes
  examples/bevy/src/main.rs
  examples/c-guest/host/src/main.rs
  examples/chess/src/main.rs
  examples/composition/src/main.rs
  examples/digital-signature/src/lib.rs
  examples/groth16-verifier/src/main.rs
  examples/hello-world/src/lib.rs
  examples/json/src/main.rs
  examples/jwt-validator/src/lib.rs
  examples/prorata/src/main.rs
  examples/smartcore-ml/src/main.rs
  examples/voting-machine/src/lib.rs
  examples/wasm/src/main.rs
  examples/wordle/src/main.rs
  examples/xgboost/src/main.rs
  risc0/build/src/docker.rs
  tools/smoke-test/src/main.rs
Owners: @risc0/devrel, @risc0/demos, @risc0/platform

Fix clippy
  .github/workflows/main.yml
Owners: @risc0/platform

po2 selection
  risc0/r0vm/src/actors/mod.rs
  risc0/r0vm/src/actors/tests.rs
  risc0/r0vm/src/actors/worker.rs
  risc0/r0vm/src/api.rs
  risc0/r0vm/src/lib.rs
  risc0/zkvm/src/host/client/prove/default.rs
  risc0/zkvm/src/host/rpc.rs
Owners: @risc0/platform

Launch primary and secondry worker pool
  Cargo.lock
  risc0/r0vm/Cargo.toml
  risc0/r0vm/src/actors/mod.rs
  risc0/r0vm/src/actors/tests.rs
  risc0/r0vm/src/lib.rs
  risc0/zkvm/src/host/server/prove/prover_impl.rs
Owners: @risc0/platform

Skip verify
  risc0/zkvm/src/host/server/prove/prover_impl.rs
Owners: @risc0/platform

Fixes
  risc0/r0vm/src/actors/worker.rs
  risc0/zkvm/Cargo.toml
Owners: @risc0/platform

ZKVM-1413: Split out preflight from prove_segment. Run them in parallel in the worker. (#3201)
  risc0/build/src/docker.rs
  risc0/circuit/rv32im/src/prove/hal/cpu.rs
  risc0/circuit/rv32im/src/prove/hal/cuda.rs
  risc0/circuit/rv32im/src/prove/hal/mod.rs
  risc0/circuit/rv32im/src/prove/mod.rs
  risc0/circuit/rv32im/src/prove/witgen/mod.rs
  risc0/circuit/rv32im/src/prove/witgen/tests.rs
  risc0/r0vm/src/actors/tests.rs
  risc0/r0vm/src/actors/worker.rs
  risc0/r0vm/testdata/rtx_4000_ada-20.toml
  risc0/zkvm/src/host/server/exec/executor.rs
  risc0/zkvm/src/host/server/prove/dev_mode.rs
  risc0/zkvm/src/host/server/prove/mod.rs
  risc0/zkvm/src/host/server/prove/prover_impl.rs
  risc0/zkvm/src/host/server/session.rs
  risc0/zkvm/src/lib.rs
  risc0/zkvm/src/receipt_claim.rs
Owners: @risc0/platform

Bump docker image_id
  risc0/build/src/docker.rs
Owners: @risc0/platform

Upgrade sccache to 0.10.0
  .github/actions/sccache/action.yml
Owners: @risc0/platform

Fix waldo, drop crates-validation
  .github/actions/sccache/action.yml
  .github/workflows/main.yml
  examples/Cargo.lock
  examples/waldo/Cargo.toml
  examples/waldo/tests/integration_test.rs
Owners: @risc0/platform, @risc0/devrel, @risc0/demos

Fix action
  .github/actions/sccache/action.yml
Owners: @risc0/platform

continue on error
  .github/actions/sccache/action.yml
Owners: @risc0/platform

Bump
  examples/waldo/tests/integration_test.rs
Owners: @risc0/devrel, @risc0/demos, @risc0/platform

Upgrade sccache to v0.10.0
  .github/actions/sccache/action.yml
  .github/workflows/main.yml
  examples/Cargo.lock
  examples/waldo/Cargo.toml
  examples/waldo/tests/integration_test.rs
Owners: @risc0/platform, @risc0/devrel, @risc0/demos

ZKVM-1415: Upgrade sccache to v0.10.0 (#3205)
  .github/actions/sccache/action.yml
  .github/workflows/main.yml
  examples/Cargo.lock
  examples/waldo/Cargo.toml
  examples/waldo/tests/integration_test.rs
Owners: @risc0/platform, @risc0/devrel, @risc0/demos

Update action.yml
  .github/actions/sccache/action.yml
Owners: @risc0/platform

Update sccache-setup.sh
  bento/dockerfiles/sccache-setup.sh
Owners: @risc0/platform

ZKVM-1378: Set `sm_code` flags to lowest supported default (#3163)
  bento/dockerfiles/agent.dockerfile
Owners: @risc0/platform

ZKVM-1404: lower noisy bento log levels (#3193)
  bento/crates/bento-client/src/bento_cli.rs
  bento/crates/workflow/src/tasks/executor.rs
  bento/crates/workflow/src/tasks/finalize.rs
  bento/crates/workflow/src/tasks/join.rs
  bento/crates/workflow/src/tasks/keccak.rs
  bento/crates/workflow/src/tasks/prove.rs
  bento/crates/workflow/src/tasks/resolve.rs
  bento/crates/workflow/src/tasks/snark.rs
  bento/crates/workflow/src/tasks/union.rs
Owners: @risc0/platform

Update bento lockfiles for 2.1 release
  bento/Cargo.lock
  bento/crates/sample-guest/methods/guest/Cargo.lock
Owners: @risc0/platform

Update semver baseline. Bump required versions
  Cargo.lock
  Cargo.toml
  risc0/bigint2/Cargo.toml
  risc0/circuit/rv32im-sys/Cargo.toml
  semver-baselines.lock
Owners: @risc0/platform, @tzerrell, @iddo-bentov, @flaub

Update lockfiles
  benchmarks/Cargo.lock
  bento/Cargo.lock
  examples/Cargo.lock
  risc0/bigint2/methods/guest/Cargo.lock
Owners: @risc0/platform, @risc0/devrel, @risc0/demos, @tzerrell, @iddo-bentov, @flaub

Enable SCCACHE_RECACHE
  .github/workflows/main.yml
Owners: @risc0/platform

.github/CODEOWNERS:

# CODEOWNERS

# Note: Order is important; the last matching pattern takes the most
# precedence.

*                                      @risc0/platform

/bonsai/                               @risc0/bonsai
/examples/                             @risc0/devrel @risc0/demos @risc0/platform
/risc0/bigint2/                        @risc0/platform @tzerrell @iddo-bentov @flaub
/rzup/                                 @risc0/platform @hmrtn
/web/                                  @risc0/platform @nahoc
/website/                              @risc0/platform @risc0/devrel @pdg744

# These are sensitive files
/groth16_proof/groth16/                @flaub @nategraf @tzerrell
/SECURITY.md                           @kevinnassery
control_id.rs                          @flaub @nategraf @tzerrell
recursion_zkr.zip                      @flaub @nategraf @tzerrell
