Repository risc0/risc0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @risc0/platform, @risc0/bonsai, @risc0/devrel, @risc0/demos, @tzerrell, @iddo-bentov, @flaub, @hmrtn, @nahoc, @pdg744, @nategraf, @kevinnassery

Use liblzma instead of xz or xz2, and use parallel feature in rzup.
  Cargo.lock
  risc0/cargo-risczero/Cargo.toml
  risc0/circuit/keccak/Cargo.toml
  risc0/circuit/keccak/build.rs
  risc0/circuit/keccak/src/prove/zkr.rs
  rzup/Cargo.toml
  rzup/src/components.rs
  rzup/src/distribution/s3.rs
  rzup/src/lib.rs
Owners: @risc0/platform, @hmrtn

Add publish create-artifact command
  rzup/Cargo.toml
  rzup/src/cli/commands.rs
  rzup/src/cli/ui.rs
  rzup/src/distribution/github.rs
  rzup/src/distribution/mod.rs
  rzup/src/distribution/s3.rs
  rzup/src/events.rs
  rzup/src/lib.rs
Owners: @risc0/platform, @hmrtn

Fix build issues when the publish feature isn't enabled
  rzup/Cargo.toml
  rzup/src/distribution/http.rs
Owners: @risc0/platform, @hmrtn

fix issues with docs
  bonsai/sdk/src/lib.rs
  risc0/bigint2/src/ec/mod.rs
  risc0/bigint2/src/ec/secp256k1.rs
  risc0/bigint2/src/ec/secp384r1.rs
  risc0/circuit/recursion/src/lib.rs
  risc0/zkvm/src/claim/maybe_pruned.rs
  risc0/zkvm/src/claim/work.rs
  risc0/zkvm/src/host/client/env.rs
  risc0/zkvm/src/host/client/prove/opts.rs
Owners: @risc0/bonsai, @risc0/platform, @tzerrell, @iddo-bentov, @flaub

fix issues with new ReceiptClaim::resolve method
  risc0/zkvm/src/claim/receipt.rs
  risc0/zkvm/src/host/recursion/prove/mod.rs
  risc0/zkvm/src/host/recursion/tests.rs
  risc0/zkvm/src/receipt/succinct.rs
Owners: @risc0/platform

fix encoding test
  risc0/zkvm/src/claim/work.rs
Owners: @risc0/platform

add resolve_unwrap_povw test and make logs less verbose
  risc0/zkvm/src/host/recursion/tests.rs
Owners: @risc0/platform

update the nightly rust toolchain for docs-rs job
  .github/workflows/main.yml
Owners: @risc0/platform

remove out of date todos
  risc0/circuit/rv32im/src/execute/testutil.rs
  xtask/src/bootstrap.rs
Owners: @risc0/platform

update control root in stable_root test
  risc0/zkvm/src/host/recursion/tests.rs
Owners: @risc0/platform

fix allowed_control_ids function; stated behavior is to clamp max po2
  risc0/zkvm/src/receipt/succinct.rs
Owners: @risc0/platform

update expected verifier paramters
  risc0/zkvm/src/receipt/composite.rs
  risc0/zkvm/src/receipt/groth16.rs
  risc0/zkvm/src/receipt/segment.rs
  risc0/zkvm/src/receipt/succinct.rs
Owners: @risc0/platform

Update risc0/circuit/rv32im/src/prove/witgen/mod.rs
  risc0/circuit/rv32im/src/prove/witgen/mod.rs
Owners: @risc0/platform

move test utils into mod test
  risc0/povw/src/consts.rs
Owners: @risc0/platform

clean up tree height declarations in povw
  risc0/povw/src/lib.rs
Owners: @risc0/platform

fix ExecutorEnv::povw doctest
  Cargo.lock
  risc0/zkvm/Cargo.toml
  risc0/zkvm/src/host/client/env.rs
Owners: @risc0/platform

add a note
  risc0/povw/guests/log-builder/src/main.rs
Owners: @risc0/platform

fix: Use correct stream IDs for cpu_stream and gpu_stream in stress test job definition
  bento/crates/taskdb/examples/stress.rs
Owners: @risc0/platform

Check SHA256 hashes of downloads when downloading from S3.
  Cargo.lock
  rzup/Cargo.toml
  rzup/src/distribution/mod.rs
  rzup/src/distribution/s3.rs
  rzup/src/distribution/sha2.rs
  rzup/src/error.rs
  rzup/src/lib.rs
Owners: @risc0/platform, @hmrtn

Add RSA signature verification to upload JSON payloads
  Cargo.lock
  benchmarks/Cargo.lock
  bento/Cargo.lock
  examples/Cargo.lock
  examples/composition/methods/guest/Cargo.lock
  risc0/zkvm/methods/guest/Cargo.lock
  risc0/zkvm/methods/std-ext/Cargo.lock
  risc0/zkvm/methods/std/Cargo.lock
  rzup/Cargo.toml
  rzup/src/components.rs
  rzup/src/distribution/http.rs
  rzup/src/distribution/mod.rs
  rzup/src/distribution/public_key.pem
  rzup/src/distribution/s3.rs
  rzup/src/distribution/sha2.rs
  rzup/src/distribution/signature.rs
  rzup/src/env.rs
  rzup/src/error.rs
  rzup/src/lib.rs
  rzup/src/paths.rs
  rzup/src/settings.rs
Owners: @risc0/platform, @risc0/devrel, @risc0/demos, @hmrtn

Update nightly Rust used to build docs
  .github/workflows/main.yml
Owners: @risc0/platform

update docker image-id
  risc0/build/src/docker.rs
Owners: @risc0/platform

Fix docs compilations issues with nightly
  risc0/zkp/src/taps.rs
  risc0/zkvm/src/host/server/exec/syscall/mod.rs
  risc0/zkvm/src/host/server/session.rs
Owners: @risc0/platform

fix: fix the missing return in Update preflight.rs
  risc0/circuit/keccak/src/prove/preflight.rs
Owners: @risc0/platform

Rename cuda feature flag to cuda_experimental
  risc0/groth16/Cargo.toml
  risc0/groth16/src/prove/mod.rs
  risc0/zkvm/Cargo.toml
Owners: @risc0/platform

Remove prove_zkr feature
  bento/crates/workflow/src/tasks/executor.rs
  examples/prover/src/main.rs
  risc0/r0vm/src/actors/worker.rs
  risc0/zkvm/methods/guest/src/bin/multi_test.rs
  risc0/zkvm/methods/src/multi_test.rs
  risc0/zkvm/platform/src/syscall.rs
  risc0/zkvm/src/host/api/client.rs
  risc0/zkvm/src/host/api/convert.rs
  risc0/zkvm/src/host/api/server.rs
  risc0/zkvm/src/host/api/tests.rs
  risc0/zkvm/src/host/client/env.rs
  risc0/zkvm/src/host/protos/api.proto
  risc0/zkvm/src/host/protos/api.rs
  risc0/zkvm/src/host/server/exec/executor.rs
  risc0/zkvm/src/host/server/exec/syscall/mod.rs
  risc0/zkvm/src/host/server/exec/syscall/prove_zkr.rs
  risc0/zkvm/src/host/server/prove/prover_impl.rs
  risc0/zkvm/src/host/server/prove/tests.rs
  risc0/zkvm/src/host/server/session.rs
  risc0/zkvm/src/lib.rs
Owners: @risc0/platform, @risc0/devrel, @risc0/demos

Make keccak stable
  risc0/circuit/keccak/Cargo.toml
  risc0/circuit/keccak/src/lib.rs
  risc0/zkvm/platform/src/syscall.rs
  risc0/zkvm/src/guest/env/mod.rs
  risc0/zkvm/src/guest/env/verify.rs
  risc0/zkvm/src/host/api/client.rs
  risc0/zkvm/src/host/client/env.rs
  risc0/zkvm/src/host/server/prove/dev_mode.rs
  risc0/zkvm/src/host/server/prove/mod.rs
  risc0/zkvm/src/host/server/prove/prover_impl.rs
  risc0/zkvm/src/lib.rs
Owners: @risc0/platform

Scope the "unstable" feature usage down to the guests who need it
  bento/crates/workflow/Cargo.toml
  examples/keccak/methods/guest/Cargo.toml
  examples/prover/Cargo.toml
  risc0/bigint2/Cargo.toml
  risc0/cargo-risczero/Cargo.toml
  risc0/r0vm/Cargo.toml
  risc0/zkvm/methods/Cargo.toml
  risc0/zkvm/methods/guest/Cargo.toml
  risc0/zkvm/methods/std-ext/Cargo.toml
  risc0/zkvm/methods/std/Cargo.toml
Owners: @risc0/platform, @risc0/devrel, @risc0/demos, @tzerrell, @iddo-bentov, @flaub

Update docker reproducible build test image-id
  risc0/build/src/docker.rs
Owners: @risc0/platform

Make the Keccak feature stable (#3284)
  bento/crates/workflow/Cargo.toml
  bento/crates/workflow/src/tasks/executor.rs
  examples/keccak/methods/guest/Cargo.toml
  examples/prover/Cargo.toml
  examples/prover/src/main.rs
  risc0/bigint2/Cargo.toml
  risc0/build/src/docker.rs
  risc0/cargo-risczero/Cargo.toml
  risc0/circuit/keccak/Cargo.toml
  risc0/circuit/keccak/src/lib.rs
  risc0/r0vm/Cargo.toml
  risc0/r0vm/src/actors/worker.rs
  risc0/zkvm/methods/Cargo.toml
  risc0/zkvm/methods/guest/Cargo.toml
  risc0/zkvm/methods/guest/src/bin/multi_test.rs
  risc0/zkvm/methods/src/multi_test.rs
  risc0/zkvm/methods/std-ext/Cargo.toml
  risc0/zkvm/methods/std/Cargo.toml
  risc0/zkvm/platform/src/syscall.rs
  risc0/zkvm/src/guest/env/mod.rs
  risc0/zkvm/src/guest/env/verify.rs
  risc0/zkvm/src/host/api/client.rs
  risc0/zkvm/src/host/api/convert.rs
  risc0/zkvm/src/host/api/server.rs
  risc0/zkvm/src/host/api/tests.rs
  risc0/zkvm/src/host/client/env.rs
  risc0/zkvm/src/host/protos/api.proto
  risc0/zkvm/src/host/protos/api.rs
  risc0/zkvm/src/host/server/exec/executor.rs
  risc0/zkvm/src/host/server/exec/syscall/mod.rs
  risc0/zkvm/src/host/server/exec/syscall/prove_zkr.rs
  risc0/zkvm/src/host/server/prove/dev_mode.rs
  risc0/zkvm/src/host/server/prove/mod.rs
  risc0/zkvm/src/host/server/prove/prover_impl.rs
  risc0/zkvm/src/host/server/prove/tests.rs
  risc0/zkvm/src/host/server/session.rs
  risc0/zkvm/src/lib.rs
Owners: @risc0/platform, @risc0/devrel, @risc0/demos, @tzerrell, @iddo-bentov, @flaub

revert breaking API change
  examples/bevy/src/main.rs
  examples/bn254/src/main.rs
  examples/c-guest/host/src/main.rs
  examples/chess/src/main.rs
  examples/ecdsa/k256/src/main.rs
  examples/ecdsa/p256/src/main.rs
  examples/hello-world/src/lib.rs
  examples/json/src/main.rs
  examples/jwt-validator/src/lib.rs
  examples/keccak/src/main.rs
  examples/password-checker/src/main.rs
  examples/prorata/src/main.rs
  examples/sha/src/main.rs
  examples/smartcore-ml/src/main.rs
  examples/voting-machine/src/lib.rs
  examples/waldo/src/bin/prove.rs
  examples/wasm/src/main.rs
  examples/wordle/src/main.rs
  examples/xgboost/src/main.rs
  risc0/bigint2/examples/rsa.rs
  risc0/cargo-risczero/templates/rust-starter/host/src/main.rs
  risc0/zkvm/src/host/client/prove/mod.rs
  risc0/zkvm/src/host/recursion/tests.rs
  tools/smoke-test/src/main.rs
  website/api/zkvm/host-code-101.md
  website/api/zkvm/tutorials/hello-world.md
Owners: @risc0/devrel, @risc0/demos, @risc0/platform, @tzerrell, @iddo-bentov, @flaub, @pdg744

Fixes
  examples/composition/src/main.rs
  examples/digital-signature/src/lib.rs
  examples/groth16-verifier/src/main.rs
  risc0/cargo-risczero/templates/rust-starter/host/src/main.rs
Owners: @risc0/devrel, @risc0/demos, @risc0/platform

fix invalid usage in Update testutil.rs
  risc0/circuit/keccak/src/prove/testutil.rs
Owners: @risc0/platform

Fix benchmark: Use valid RNG initialization and correct array in Update hash.rs
  risc0/zkp/benches/hash.rs
Owners: @risc0/platform

Fix Poseidon2 Benchmark RNG for rand 0.9.1 in Update hash.rs
  risc0/zkp/benches/hash.rs
Owners: @risc0/platform

default prover uses actor system
  Cargo.lock
  risc0/build/src/docker.rs
  risc0/cargo-risczero/templates/rust-starter/host/src/main.rs
  risc0/r0vm/Cargo.toml
  risc0/r0vm/src/actors/manager.rs
  risc0/r0vm/src/actors/mod.rs
  risc0/r0vm/src/actors/protocol.rs
  risc0/r0vm/src/actors/tests.rs
  risc0/r0vm/src/actors/worker.rs
  risc0/r0vm/src/api.rs
  risc0/r0vm/src/lib.rs
  risc0/r0vm/tests/default_prover.rs
  risc0/zkvm/Cargo.toml
  risc0/zkvm/methods/env/Cargo.lock
  risc0/zkvm/methods/rand/Cargo.lock
  risc0/zkvm/src/host/client/prove/default.rs
  risc0/zkvm/src/host/client/prove/mod.rs
  risc0/zkvm/src/host/rpc.rs
  risc0/zkvm/src/host/server/prove/prover_impl.rs
  risc0/zkvm/src/lib.rs
Owners: @risc0/platform

Use OwnedFd instead of File
  risc0/zkvm/src/host/client/prove/default.rs
Owners: @risc0/platform

dup stdin to avoid double-ownership
  risc0/r0vm/src/actors/mod.rs
Owners: @risc0/platform

Remove unused RefCell
  risc0/zkvm/src/host/client/prove/default.rs
Owners: @risc0/platform

Have actor system shutdown when socket is closed.
  risc0/r0vm/src/actors/factory.rs
  risc0/r0vm/src/actors/mod.rs
  risc0/r0vm/src/actors/worker.rs
  risc0/zkvm/src/host/client/prove/default.rs
Owners: @risc0/platform

.github/CODEOWNERS:

# CODEOWNERS

# Note: Order is important; the last matching pattern takes the most
# precedence.

*                                      @risc0/platform

/bonsai/                               @risc0/bonsai
/examples/                             @risc0/devrel @risc0/demos @risc0/platform
/risc0/bigint2/                        @risc0/platform @tzerrell @iddo-bentov @flaub
/rzup/                                 @risc0/platform @hmrtn
/web/                                  @risc0/platform @nahoc
/website/                              @risc0/platform @risc0/devrel @pdg744

# These are sensitive files
/groth16_proof/groth16/                @flaub @nategraf @tzerrell
/SECURITY.md                           @kevinnassery
control_id.rs                          @flaub @nategraf @tzerrell
recursion_zkr.zip                      @flaub @nategraf @tzerrell
