Repository risc0/risc0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @risc0/platform, @risc0/bonsai, @risc0/devrel, @risc0/demos, @tzerrell, @iddo-bentov, @flaub, @hmrtn, @nahoc, @pdg744, @nategraf, @kevinnassery

.github/CODEOWNERS:

# CODEOWNERS

# Note: Order is important; the last matching pattern takes the most
# precedence.

*                                      @risc0/platform

/bonsai/                               @risc0/bonsai
/examples/                             @risc0/devrel @risc0/demos @risc0/platform
/risc0/bigint2/                        @risc0/platform @tzerrell @iddo-bentov @flaub
/rzup/                                 @risc0/platform @hmrtn
/web/                                  @risc0/platform @nahoc
/website/                              @risc0/platform @risc0/devrel @pdg744

# These are sensitive files
/groth16_proof/groth16/                @flaub @nategraf @tzerrell
/SECURITY.md                           @kevinnassery
control_id.rs                          @flaub @nategraf @tzerrell
recursion_zkr.zip                      @flaub @nategraf @tzerrell

draft test for povw compression
  risc0/zkvm/src/host/recursion/tests.rs
Owners: @risc0/platform

bootstrap from zirgen 7b1d89692708ebddf1303687f8a999ec66b68efd
  risc0/circuit/recursion/build.rs
  risc0/circuit/recursion/src/control_id.rs
  risc0/circuit/recursion/src/recursion_zkr.zip
  risc0/zkvm/src/host/recursion/prove/mod.rs
  risc0/zkvm/src/host/recursion/tests.rs
Owners: @risc0/platform, @flaub, @nategraf, @tzerrell

docs: replace magic number with named constant in starter template
  risc0/cargo-risczero/templates/rust-starter/host/src/main.rs
Owners: @risc0/platform

rzup: Implement installation of risc0-groth16 component
  Cargo.lock
  rzup/Cargo.toml
  rzup/src/build.rs
  rzup/src/components.rs
  rzup/src/distribution/github.rs
  rzup/src/distribution/http.rs
  rzup/src/distribution/mod.rs
  rzup/src/distribution/s3.rs
  rzup/src/error.rs
  rzup/src/lib.rs
  rzup/src/paths.rs
Owners: @risc0/platform, @hmrtn

Use published circom-witnesscalc crate
  Cargo.lock
  Cargo.toml
  bento/Cargo.lock
  risc0/bigint2/methods/guest/Cargo.lock
  risc0/circuit/keccak/methods/guest/Cargo.lock
  risc0/groth16-sys/Cargo.toml
  risc0/groth16-sys/kernels/cuda/ffi.cu
  risc0/groth16-sys/kernels/cuda/groth16_prover.cuh
  risc0/groth16-sys/kernels/cuda/setup_prover.cu
  risc0/groth16-sys/src/lib.rs
  risc0/groth16/Cargo.toml
  risc0/groth16/src/prove/cuda.rs
  risc0/groth16/src/prove/seal_to_json.rs
  risc0/zkvm/methods/cfg/Cargo.lock
  rzup/src/paths.rs
  xtask/Cargo.toml
  xtask/src/setup_groth16.rs
Owners: @risc0/platform, @tzerrell, @iddo-bentov, @flaub, @hmrtn

Updates
  risc0/build/src/docker.rs
  risc0/zkvm/examples/datasheet.rs
Owners: @risc0/platform

rzup: Implement installation of risc0-groth16 component (#3268)
  Cargo.lock
  rzup/Cargo.toml
  rzup/src/build.rs
  rzup/src/components.rs
  rzup/src/distribution/github.rs
  rzup/src/distribution/http.rs
  rzup/src/distribution/mod.rs
  rzup/src/distribution/s3.rs
  rzup/src/error.rs
  rzup/src/lib.rs
  rzup/src/paths.rs
Owners: @risc0/platform, @hmrtn

specify circom version and correct command
  website/api/trusted-setup-ceremony.md
  website/api_versioned_docs/version-2.3/trusted-setup-ceremony.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

add test for lift and unwrap
  risc0/zkvm/src/host/recursion/tests.rs
Owners: @risc0/platform

fix negated condition
  risc0/zkvm/src/claim/work.rs
Owners: @risc0/platform

warn when src recursion_zkrs.zip does not match the expected hash
  risc0/circuit/recursion/build.rs
Owners: @risc0/platform

test updates
  risc0/zkvm/src/host/recursion/tests.rs
Owners: @risc0/platform

Disable sys-getenv and sys-args for guest binaries that shouldn't need it
  risc0/zkvm/methods/Cargo.toml
  risc0/zkvm/methods/build.rs
  risc0/zkvm/methods/std-ext/Cargo.lock
  risc0/zkvm/methods/std-ext/Cargo.toml
  risc0/zkvm/methods/std-ext/src/bin/standard_lib.rs
Owners: @risc0/platform

attempt to patch version mismatck
  Cargo.toml
Owners: @risc0/platform

Revert "attempt to patch version mismatck"
  Cargo.toml
Owners: @risc0/platform

attempt to fix version issues in boundless by downgrading bytemuck_derive
  risc0/core/Cargo.toml
Owners: @risc0/platform

Run the guest_verify example as a test
  risc0/zkvm/Cargo.toml
  risc0/zkvm/examples/guest_verify.rs
Owners: @risc0/platform

Add dev-mode to guest_verify example
  risc0/zkvm/examples/guest_verify.rs
  risc0/zkvm/methods/std/src/bin/verify.rs
  risc0/zkvm/src/host/server/prove/tests.rs
Owners: @risc0/platform

Don't check RISC0_DEV_MODE env-var in the guest.
  risc0/zkvm/src/lib.rs
Owners: @risc0/platform

Update docker reproducible build test expectation
  risc0/build/src/docker.rs
Owners: @risc0/platform

Don't check RISC0_DEV_MODE env-var in guest (#3270)
  risc0/build/src/docker.rs
  risc0/zkvm/Cargo.toml
  risc0/zkvm/examples/guest_verify.rs
  risc0/zkvm/methods/Cargo.toml
  risc0/zkvm/methods/build.rs
  risc0/zkvm/methods/std-ext/Cargo.lock
  risc0/zkvm/methods/std-ext/Cargo.toml
  risc0/zkvm/methods/std-ext/src/bin/standard_lib.rs
  risc0/zkvm/methods/std/src/bin/verify.rs
  risc0/zkvm/src/host/server/prove/tests.rs
  risc0/zkvm/src/lib.rs
Owners: @risc0/platform

fix: remove duplicate ("that")
  website/api_versioned_docs/version-2.3/trusted-setup-ceremony.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Add s3 region to bento
  bento/crates/api/src/lib.rs
  bento/crates/workflow-common/src/s3.rs
  bento/crates/workflow/src/lib.rs
Owners: @risc0/platform

docs(local-proving): Correct `r0vm` to `rzup` in install comment
  website/api_versioned_docs/version-2.3/generating-proofs/local-proving.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

fix comment
  bento/crates/api/src/lib.rs
  bento/crates/workflow/src/lib.rs
Owners: @risc0/platform

dont use Result return type from main
  risc0/povw/guests/log-builder/src/main.rs
Owners: @risc0/platform

add TryFrom<FakeReceipt> for Receipt
  risc0/zkvm/src/receipt.rs
Owners: @risc0/platform

Add s3 region to Bento (#3271)
  bento/crates/api/src/lib.rs
  bento/crates/workflow-common/src/s3.rs
  bento/crates/workflow/src/lib.rs
Owners: @risc0/platform

bento needs 50 series support
  bento/dockerfiles/agent.dockerfile
Owners: @risc0/platform

Don't check RISC0_DEV_MODE env-var in guest (#3270)
  risc0/build/src/docker.rs
  risc0/zkvm/Cargo.toml
  risc0/zkvm/examples/guest_verify.rs
  risc0/zkvm/methods/Cargo.toml
  risc0/zkvm/methods/build.rs
  risc0/zkvm/methods/std-ext/Cargo.lock
  risc0/zkvm/methods/std-ext/Cargo.toml
  risc0/zkvm/methods/std-ext/src/bin/standard_lib.rs
  risc0/zkvm/methods/std/src/bin/verify.rs
  risc0/zkvm/src/host/server/prove/tests.rs
  risc0/zkvm/src/lib.rs
Owners: @risc0/platform

Add s3 region to Bento (#3271)
  bento/crates/api/src/lib.rs
  bento/crates/workflow-common/src/s3.rs
  bento/crates/workflow/src/lib.rs
Owners: @risc0/platform

Add support for 5090 to bento (#3273)
  bento/dockerfiles/agent.dockerfile
Owners: @risc0/platform

Update release.yml and smoke-test version to 2.3.1
  .github/workflows/release.yml
  tools/smoke-test/Cargo.toml
  tools/smoke-test/methods/Cargo.toml
Owners: @risc0/platform

Add s3 region to Bento (#3271)
  bento/crates/api/src/lib.rs
  bento/crates/workflow-common/src/s3.rs
  bento/crates/workflow/src/lib.rs
Owners: @risc0/platform

Update release.yml and smoke-test version to 2.3.1
  .github/workflows/release.yml
  tools/smoke-test/Cargo.toml
  tools/smoke-test/methods/Cargo.toml
Owners: @risc0/platform

Don't check RISC0_DEV_MODE env-var in guest (#3270)
  risc0/build/src/docker.rs
  risc0/zkvm/Cargo.toml
  risc0/zkvm/examples/guest_verify.rs
  risc0/zkvm/methods/Cargo.toml
  risc0/zkvm/methods/build.rs
  risc0/zkvm/methods/std-ext/Cargo.lock
  risc0/zkvm/methods/std-ext/Cargo.toml
  risc0/zkvm/methods/std-ext/src/bin/standard_lib.rs
  risc0/zkvm/methods/std/src/bin/verify.rs
  risc0/zkvm/src/host/server/prove/tests.rs
  risc0/zkvm/src/lib.rs
Owners: @risc0/platform

rzup: Add publish command for uploading components to S3.
  Cargo.lock
  rzup/Cargo.toml
  rzup/src/cli/commands.rs
  rzup/src/cli/mod.rs
  rzup/src/cli/ui.rs
  rzup/src/components.rs
  rzup/src/distribution/github.rs
  rzup/src/distribution/http.rs
  rzup/src/distribution/mod.rs
  rzup/src/distribution/s3.rs
  rzup/src/env.rs
  rzup/src/events.rs
  rzup/src/lib.rs
  rzup/src/paths.rs
  rzup/src/settings.rs
Owners: @risc0/platform, @hmrtn

Update versions and semver-baselines.lock for 2.3.1 release
  Cargo.lock
  Cargo.toml
  risc0/bigint2/Cargo.toml
  risc0/bigint2/methods/guest/Cargo.lock
  semver-baselines.lock
Owners: @risc0/platform, @tzerrell, @iddo-bentov, @flaub

more
  risc0/circuit/rv32im/src/execute/rv32im.rs
Owners: @risc0/platform

more
  risc0/circuit/rv32im/src/execute/rv32im.rs
Owners: @risc0/platform
