Repository risc0/risc0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @risc0/platform, @risc0/bonsai, @risc0/devrel, @risc0/demos, @tzerrell, @iddo-bentov, @flaub, @hmrtn, @nahoc, @pdg744, @nategraf, @kevinnassery

.github/CODEOWNERS:

# CODEOWNERS

# Note: Order is important; the last matching pattern takes the most
# precedence.

*                                      @risc0/platform

/bonsai/                               @risc0/bonsai
/examples/                             @risc0/devrel @risc0/demos @risc0/platform
/risc0/bigint2/                        @risc0/platform @tzerrell @iddo-bentov @flaub
/rzup/                                 @risc0/platform @hmrtn
/web/                                  @risc0/platform @nahoc
/website/                              @risc0/platform @risc0/devrel @pdg744

# These are sensitive files
/groth16_proof/groth16/                @flaub @nategraf @tzerrell
/SECURITY.md                           @kevinnassery
control_id.rs                          @flaub @nategraf @tzerrell
recursion_zkr.zip                      @flaub @nategraf @tzerrell

draft of adding PoVW to ProverImpl
  risc0/binfmt/src/povw.rs
  risc0/zkvm/src/host/api/convert.rs
  risc0/zkvm/src/host/client/prove/bonsai.rs
  risc0/zkvm/src/host/prove_info.rs
  risc0/zkvm/src/host/server/prove/dev_mode.rs
  risc0/zkvm/src/host/server/prove/mod.rs
  risc0/zkvm/src/host/server/prove/prover_impl.rs
Owners: @risc0/platform

Try to fix multiple groth16 proofs. Works in single thread, now fails on multiple threads
  risc0/groth16-sys/kernels/cuda/groth16_prover.cuh
  risc0/groth16-sys/kernels/cuda/util.cuh
  risc0/groth16/src/prove/cuda.rs
  risc0/zkvm/methods/std-ext/Cargo.lock
  risc0/zkvm/src/host/protos/api.proto
  risc0/zkvm/src/host/server/prove/tests.rs
Owners: @risc0/platform

Fixes for CI
  benchmarks/Cargo.lock
  bento/Cargo.lock
  examples/Cargo.lock
  examples/bevy/methods/guest/Cargo.lock
  examples/bls12_381/methods/guest/Cargo.lock
  examples/bn254/methods/guest/Cargo.lock
  examples/c-kzg/methods/guest/Cargo.lock
  examples/chess/methods/guest/Cargo.lock
  examples/composition/methods/guest/Cargo.lock
  examples/digital-signature/methods/guest/Cargo.lock
  examples/ecdsa/k256/methods/guest/Cargo.lock
  examples/ecdsa/p256/methods/guest/Cargo.lock
  examples/groth16-verifier/methods/guest/Cargo.lock
  examples/hello-world/methods/guest/Cargo.lock
  examples/json/methods/guest/Cargo.lock
  examples/jwt-validator/methods/guest/Cargo.lock
  examples/keccak/methods/guest/Cargo.lock
  examples/password-checker/methods/guest/Cargo.lock
  examples/profiling/methods/guest/Cargo.lock
  examples/prorata/methods/guest/Cargo.lock
  examples/sha/methods/guest/Cargo.lock
  examples/smartcore-ml/methods/guest/Cargo.lock
  examples/voting-machine/methods/guest/Cargo.lock
  examples/waldo/methods/guest/Cargo.lock
  examples/wasm/methods/guest/Cargo.lock
  examples/wordle/methods/guest/Cargo.lock
  examples/xgboost/methods/guest/Cargo.lock
  risc0/build/src/docker.rs
  risc0/groth16-sys/Cargo.toml
  risc0/groth16/Cargo.toml
  risc0/groth16/src/lib.rs
  risc0/zkvm/src/host/server/prove/tests.rs
Owners: @risc0/platform, @risc0/devrel, @risc0/demos

Moar fixes
  benchmarks/methods/guest/Cargo.lock
  bento/crates/sample-guest/methods/guest/Cargo.lock
  risc0/zkvm/src/host/server/prove/tests.rs
Owners: @risc0/platform

add first test for PoVW in ProverImpl
  risc0/zkvm/src/host/server/prove/tests.rs
Owners: @risc0/platform

Fixes
  risc0/groth16-sys/kernels/cuda/groth16_coeffs.cuh
  risc0/groth16/README.md
Owners: @risc0/platform

try
  risc0/groth16/Cargo.toml
Owners: @risc0/platform

bump 2025
  risc0/groth16/src/lib.rs
  risc0/groth16/src/prove/seal_to_json.rs
  risc0/groth16/src/types.rs
  risc0/groth16/src/verifier.rs
Owners: @risc0/platform

fix issue with incorrect compression of composite receipts
  risc0/zkvm/src/host/server/prove/mod.rs
  risc0/zkvm/src/host/server/prove/tests.rs
Owners: @risc0/platform

add a note
  risc0/zkvm/src/host/prove_info.rs
Owners: @risc0/platform

add GenericReceipt and use it for ProveInfo::work_receipt
  risc0/zkvm/src/host/prove_info.rs
  risc0/zkvm/src/host/server/prove/prover_impl.rs
  risc0/zkvm/src/host/server/prove/tests.rs
  risc0/zkvm/src/lib.rs
  risc0/zkvm/src/receipt.rs
Owners: @risc0/platform

unify computation of session claim
  risc0/zkvm/src/host/server/prove/dev_mode.rs
  risc0/zkvm/src/host/server/prove/prover_impl.rs
  risc0/zkvm/src/host/server/prove/union_peak.rs
  risc0/zkvm/src/host/server/session.rs
  risc0/zkvm/src/mmr.rs
Owners: @risc0/platform

add dev mode support for povw
  risc0/zkvm/src/host/server/exec/executor.rs
  risc0/zkvm/src/host/server/prove/dev_mode.rs
  risc0/zkvm/src/host/server/prove/prover_impl.rs
  risc0/zkvm/src/host/server/session.rs
Owners: @risc0/platform

remove todo
  risc0/zkvm/src/host/server/prove/dev_mode.rs
Owners: @risc0/platform

remove another todo
  risc0/zkvm/src/host/prove_info.rs
Owners: @risc0/platform

remove a todo
  risc0/zkvm/src/receipt/segment.rs
Owners: @risc0/platform

add doc comments to new code in risc0-zkvm and risc0-binfmt
  risc0/binfmt/src/povw.rs
  risc0/circuit/rv32im/src/lib.rs
  risc0/zkvm/src/claim/receipt.rs
  risc0/zkvm/src/claim/work.rs
  risc0/zkvm/src/host/prove_info.rs
  risc0/zkvm/src/host/recursion/prove/mod.rs
  risc0/zkvm/src/host/server/prove/mod.rs
  risc0/zkvm/src/host/server/session.rs
  risc0/zkvm/src/receipt.rs
  risc0/zkvm/src/receipt/segment.rs
Owners: @risc0/platform

fix comment in ProveInfo
  risc0/zkvm/src/host/prove_info.rs
Owners: @risc0/platform

add docs to risc0-povw
  risc0/povw/src/guest.rs
  risc0/povw/src/lib.rs
Owners: @risc0/platform

bootstrap from zirgen 088df49d523421dbd7ad61a12601f6c1f81d4c6e
  risc0/circuit/rv32im-sys/kernels/cuda/layout.cu.inc
  risc0/circuit/rv32im-sys/kernels/cuda/layout.cuh.inc
  risc0/circuit/rv32im-sys/kernels/cuda/steps.cu
  risc0/circuit/rv32im-sys/kernels/cuda/steps.cuh
  risc0/circuit/rv32im-sys/kernels/cuda/types.cuh.inc
  risc0/circuit/rv32im-sys/kernels/cxx/layout.cpp.inc
  risc0/circuit/rv32im-sys/kernels/cxx/layout.h.inc
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_0.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_1.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_2.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_3.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/steps.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/steps.h
  risc0/circuit/rv32im-sys/kernels/cxx/types.h.inc
  risc0/circuit/rv32im/src/execute/platform.rs
  risc0/circuit/rv32im/src/prove/witgen/preflight.rs
  risc0/circuit/rv32im/src/zirgen/layout.rs.inc
  risc0/circuit/rv32im/src/zirgen/types.rs.inc
Owners: @risc0/platform

resolve a todo
  risc0/binfmt/src/povw.rs
Owners: @risc0/platform

resolve some todos
  risc0/zkvm/src/claim/work.rs
  risc0/zkvm/src/host/client/env.rs
  risc0/zkvm/src/host/server/prove/mod.rs
Owners: @risc0/platform

Add CLI option and environment variable to control number of GPUs default prover uses.
  .github/workflows/main.yml
  risc0/r0vm/src/actors/mod.rs
  risc0/r0vm/src/lib.rs
  risc0/zkvm/src/host/client/prove/default.rs
Owners: @risc0/platform

Add support for shrink_bitvm2
  bonsai/sdk/Cargo.toml
  bonsai/sdk/src/lib.rs
Owners: @risc0/bonsai

fix link to rust-toolchain.toml
  examples/waldo/README.md
Owners: @risc0/devrel, @risc0/demos, @risc0/platform

Gate actor-system based default prover behind environment variable.
  risc0/zkvm/src/host/client/prove/mod.rs
Owners: @risc0/platform

add WorkClaim and GenericReceipt to protobuf
  risc0/binfmt/src/povw.rs
  risc0/povw/src/guest.rs
  risc0/zkvm/src/host/api/convert.rs
  risc0/zkvm/src/host/protos/core.proto
  risc0/zkvm/src/host/protos/core.rs
  risc0/zkvm/src/receipt.rs
Owners: @risc0/platform

remove a todo
  risc0/zkvm/src/host/api/server.rs
Owners: @risc0/platform

Provide actor-system based implementation for default prover (#3293)
  .github/workflows/main.yml
  Cargo.lock
  risc0/build/src/docker.rs
  risc0/cargo-risczero/templates/rust-starter/host/src/main.rs
  risc0/r0vm/Cargo.toml
  risc0/r0vm/src/actors/factory.rs
  risc0/r0vm/src/actors/manager.rs
  risc0/r0vm/src/actors/mod.rs
  risc0/r0vm/src/actors/protocol.rs
  risc0/r0vm/src/actors/tests.rs
  risc0/r0vm/src/actors/worker.rs
  risc0/r0vm/src/api.rs
  risc0/r0vm/src/lib.rs
  risc0/r0vm/tests/default_prover.rs
  risc0/zkvm/Cargo.toml
  risc0/zkvm/methods/env/Cargo.lock
  risc0/zkvm/methods/rand/Cargo.lock
  risc0/zkvm/src/host/client/prove/default.rs
  risc0/zkvm/src/host/client/prove/mod.rs
  risc0/zkvm/src/host/rpc.rs
  risc0/zkvm/src/host/server/prove/prover_impl.rs
  risc0/zkvm/src/lib.rs
Owners: @risc0/platform

reduce required trait bounds on claim types
  risc0/zkvm/src/claim/maybe_pruned.rs
  risc0/zkvm/src/claim/merge.rs
  risc0/zkvm/src/claim/work.rs
  risc0/zkvm/src/host/api/client.rs
  risc0/zkvm/src/host/api/convert.rs
  risc0/zkvm/src/host/recursion/prove/mod.rs
  risc0/zkvm/src/host/server/prove/dev_mode.rs
  risc0/zkvm/src/host/server/prove/mod.rs
  risc0/zkvm/src/receipt.rs
  risc0/zkvm/src/receipt/groth16.rs
  risc0/zkvm/src/receipt/succinct.rs
Owners: @risc0/platform

add into_unknown for GenericReceipt and WorkClaim
  risc0/zkvm/src/claim/work.rs
  risc0/zkvm/src/receipt.rs
Owners: @risc0/platform

impl Prover for Rc<Prover>
  risc0/zkvm/src/host/client/prove/mod.rs
Owners: @risc0/platform

add a note to work_receipt
  risc0/zkvm/src/host/prove_info.rs
Owners: @risc0/platform

add WorkLogUpdateProver to help prove work log updates
  Cargo.lock
  risc0/povw/Cargo.toml
  risc0/povw/guests/Cargo.toml
  risc0/povw/guests/log-builder/Cargo.toml
  risc0/povw/guests/tests/log-builder.rs
  risc0/povw/src/lib.rs
  risc0/povw/src/prover.rs
Owners: @risc0/platform

add a note
  risc0/povw/guests/log-builder/src/main.rs
Owners: @risc0/platform

add documentation for risc0_povw::prover
  risc0/povw/src/prover.rs
Owners: @risc0/platform

fix build issue from 75bb2a58e9bf23927be24d93d5104ac8cfe1da8c
  risc0/povw/guests/tests/log-builder.rs
Owners: @risc0/platform

add a todo
  risc0/zkvm/src/host/recursion/tests.rs
Owners: @risc0/platform

use fully-qualified risc0_zkp::MAX_CYCLES_PO2
  risc0/zkvm/src/receipt/succinct.rs
Owners: @risc0/platform

Update risc0/circuit/recursion/src/prove/mod.rs
  risc0/circuit/recursion/src/prove/mod.rs
Owners: @risc0/platform
