Repository risc0/risc0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @risc0/platform, @risc0/bonsai, @risc0/devrel, @risc0/demos, @tzerrell, @iddo-bentov, @flaub, @hmrtn, @nahoc, @pdg744, @nategraf, @kevinnassery

Fix groth16-sys non-cuda compilation
  risc0/groth16-sys/src/lib.rs
Owners: @risc0/platform

Make bento compile
  bento/crates/workflow/src/tasks/snark.rs
Owners: @risc0/platform

Make groth16-verifier example compile
  examples/groth16-verifier/methods/guest/src/bin/groth16_verifier.rs
  examples/groth16-verifier/src/main.rs
Owners: @risc0/devrel, @risc0/demos, @risc0/platform

Update expected hash for risc0.circom
  .github/scripts/circom_stable.sh
Owners: @risc0/platform

Adjust docs-rs building for risc0-groth16
  .github/workflows/main.yml
Owners: @risc0/platform

refactor recursion tests to reduce work
  risc0/zkvm/src/host/recursion/tests.rs
Owners: @risc0/platform

rzup publish: Add create-artifact, artifact hash and signature verification (#3281)
  Cargo.lock
  benchmarks/Cargo.lock
  bento/Cargo.lock
  examples/Cargo.lock
  examples/composition/methods/guest/Cargo.lock
  risc0/build/src/docker.rs
  risc0/cargo-risczero/Cargo.toml
  risc0/circuit/keccak/Cargo.toml
  risc0/circuit/keccak/build.rs
  risc0/circuit/keccak/src/prove/zkr.rs
  risc0/zkvm/methods/guest/Cargo.lock
  risc0/zkvm/methods/std-ext/Cargo.lock
  risc0/zkvm/methods/std/Cargo.lock
  rzup/Cargo.toml
  rzup/src/cli/commands.rs
  rzup/src/cli/ui.rs
  rzup/src/components.rs
  rzup/src/distribution/github.rs
  rzup/src/distribution/http.rs
  rzup/src/distribution/mod.rs
  rzup/src/distribution/public_key.pem
  rzup/src/distribution/s3.rs
  rzup/src/distribution/sha2.rs
  rzup/src/distribution/signature.rs
  rzup/src/env.rs
  rzup/src/error.rs
  rzup/src/events.rs
  rzup/src/lib.rs
  rzup/src/paths.rs
  rzup/src/settings.rs
Owners: @risc0/platform, @risc0/devrel, @risc0/demos, @hmrtn

update docker build digest
  risc0/build/src/docker.rs
Owners: @risc0/platform

fix off-by-one error in test_recursion_lift_join_unwrap_povw
  risc0/zkvm/src/host/recursion/tests.rs
Owners: @risc0/platform

fix total work calc
  risc0/zkvm/src/host/recursion/tests.rs
Owners: @risc0/platform

run cargo fmt and update lock files
  Cargo.lock
  risc0/zkvm/methods/std-ext/Cargo.lock
  risc0/zkvm/methods/std/Cargo.lock
  risc0/zkvm/src/host/protos/api.rs
Owners: @risc0/platform

Remove cuda_experimental, back to cuda
  benchmarks/Cargo.lock
  bento/Cargo.lock
  examples/Cargo.lock
  risc0/groth16/Cargo.toml
  risc0/groth16/src/prove/mod.rs
  risc0/zkvm/Cargo.toml
Owners: @risc0/platform, @risc0/devrel, @risc0/demos

Install protoc on the GitHub workers
  .github/actions/protoc/action.yml
  .github/workflows/main.yml
Owners: @risc0/platform

Make risc0-groth16-sys required for cuda feature in risc0-groth16
  risc0/groth16/Cargo.toml
Owners: @risc0/platform

Install risc0-groth16 component
  .github/workflows/main.yml
Owners: @risc0/platform

Install protoc in bench_pr
  .github/workflows/bench_pr.yml
Owners: @risc0/platform

Debugging concurrency issue and test changes
  risc0/groth16-sys/kernels/cuda/groth16_prover.cuh
  risc0/groth16-sys/kernels/cuda/util.cuh
  risc0/groth16/src/prove/cuda.rs
  risc0/zkvm/src/host/server/prove/tests.rs
Owners: @risc0/platform

Hold GPU lock for whole groth16 operation
  risc0/zkvm/src/host/server/prove/mod.rs
Owners: @risc0/platform

fix(groth16): include docker stderr/stdout in error messages
  risc0/groth16/src/docker.rs
Owners: @risc0/platform

add Polygon deployment
  website/api_versioned_docs/version-2.3/blockchain-integration/contracts/verifier.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

add Polygon deployment (#3299)
  website/api_versioned_docs/version-2.3/blockchain-integration/contracts/verifier.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

remove pin on bytemuck-derive version
  risc0/core/Cargo.toml
Owners: @risc0/platform

update docker build commit
  risc0/build/src/docker.rs
Owners: @risc0/platform

remove blank line to fix license check
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_0.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_1.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_2.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_3.cpp
Owners: @risc0/platform

mark risc0-povw as publish = false
  risc0/povw/Cargo.toml
Owners: @risc0/platform

update shapella segments encoding for datasheet
  risc0/zkvm/examples/shapella-100.bin
  risc0/zkvm/examples/shapella-30.bin
  risc0/zkvm/examples/shapella-50.bin
Owners: @risc0/platform

attempt to fix the redis_asset test failure
  risc0/zkvm/src/host/api/tests.rs
Owners: @risc0/platform

Update xtask dependencies
  Cargo.lock
  xtask/Cargo.toml
  xtask/src/semver_checks.rs
  xtask/src/update_crate_version.rs
Owners: @risc0/platform

Add groth16-sys crate
  Cargo.lock
  Cargo.toml
  risc0/groth16-sys/Cargo.toml
  risc0/groth16-sys/build.rs
  risc0/groth16-sys/kernels/cuda/chacha.cuh
  risc0/groth16-sys/kernels/cuda/ffi.cu
  risc0/groth16-sys/kernels/cuda/groth16_coeffs.cuh
  risc0/groth16-sys/kernels/cuda/groth16_prover.cuh
  risc0/groth16-sys/kernels/cuda/groth16_srs.cuh
  risc0/groth16-sys/kernels/cuda/util.cuh
  risc0/groth16-sys/src/lib.rs
Owners: @risc0/platform

Add groth16 xtask command
  .cargo/config.toml
  Cargo.lock
  xtask/Cargo.toml
  xtask/src/bootstrap_groth16.rs
  xtask/src/main.rs
  xtask/src/setup_groth16.rs
Owners: @risc0/platform

groth16 reimplementation
  bento/Cargo.toml
  groth16_proof/groth16/risc0.circom
  risc0/groth16/Cargo.toml
  risc0/groth16/README.md
  risc0/groth16/src/lib.rs
  risc0/groth16/src/prove/cuda.rs
  risc0/groth16/src/prove/docker.rs
  risc0/groth16/src/prove/mod.rs
  risc0/groth16/src/prove/seal_format.rs
  risc0/groth16/src/prove/seal_to_json.rs
  risc0/groth16/src/types.rs
  risc0/groth16/src/verifier.rs
  risc0/sys/kernels/zkp/cuda/supra/ntt.cu
  risc0/zkp/src/hal/cuda.rs
  risc0/zkvm/examples/datasheet.rs
  risc0/zkvm/src/host/client/prove/mod.rs
  risc0/zkvm/src/host/prove_info.rs
  risc0/zkvm/src/host/recursion/prove/mod.rs
  risc0/zkvm/src/host/server/prove/mod.rs
  risc0/zkvm/src/host/server/prove/prover_impl.rs
  risc0/zkvm/src/host/server/prove/tests.rs
  risc0/zkvm/src/lib.rs
  risc0/zkvm/src/receipt/groth16.rs
Owners: @risc0/platform, @flaub, @nategraf, @tzerrell

Fix groth16-sys non-cuda compilation
  risc0/groth16-sys/src/lib.rs
Owners: @risc0/platform

Adjust docs-rs building for risc0-groth16
  .github/workflows/main.yml
Owners: @risc0/platform

Update expected hash for risc0.circom
  .github/scripts/circom_stable.sh
Owners: @risc0/platform

Install protoc on the GitHub workers
  .github/actions/protoc/action.yml
  .github/workflows/main.yml
Owners: @risc0/platform

Remove cuda_experimental, back to cuda
  benchmarks/Cargo.lock
  bento/Cargo.lock
  examples/Cargo.lock
  risc0/groth16/Cargo.toml
  risc0/groth16/src/prove/mod.rs
  risc0/zkvm/Cargo.toml
Owners: @risc0/platform, @risc0/devrel, @risc0/demos

Make risc0-groth16-sys required for cuda feature in risc0-groth16
  risc0/groth16/Cargo.toml
Owners: @risc0/platform

Install risc0-groth16 component
  .github/workflows/main.yml
Owners: @risc0/platform

Install protoc in bench_pr
  .github/workflows/bench_pr.yml
Owners: @risc0/platform

Update groth16-verifier example to use new API
  examples/groth16-verifier/methods/guest/src/bin/groth16_verifier.rs
  examples/groth16-verifier/src/main.rs
  risc0/groth16/src/types.rs
Owners: @risc0/devrel, @risc0/demos, @risc0/platform

.github/CODEOWNERS:

# CODEOWNERS

# Note: Order is important; the last matching pattern takes the most
# precedence.

*                                      @risc0/platform

/bonsai/                               @risc0/bonsai
/examples/                             @risc0/devrel @risc0/demos @risc0/platform
/risc0/bigint2/                        @risc0/platform @tzerrell @iddo-bentov @flaub
/rzup/                                 @risc0/platform @hmrtn
/web/                                  @risc0/platform @nahoc
/website/                              @risc0/platform @risc0/devrel @pdg744

# These are sensitive files
/groth16_proof/groth16/                @flaub @nategraf @tzerrell
/SECURITY.md                           @kevinnassery
control_id.rs                          @flaub @nategraf @tzerrell
recursion_zkr.zip                      @flaub @nategraf @tzerrell
