Repository risc0/risc0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @risc0/platform, @risc0/bonsai, @risc0/devrel, @risc0/demos, @tzerrell, @iddo-bentov, @flaub, @hmrtn, @nahoc, @pdg744, @nategraf, @kevinnassery

.github/CODEOWNERS:

# CODEOWNERS

# Note: Order is important; the last matching pattern takes the most
# precedence.

*                                      @risc0/platform

/bonsai/                               @risc0/bonsai
/examples/                             @risc0/devrel @risc0/demos @risc0/platform
/risc0/bigint2/                        @risc0/platform @tzerrell @iddo-bentov @flaub
/rzup/                                 @risc0/platform @hmrtn
/web/                                  @risc0/platform @nahoc
/website/                              @risc0/platform @risc0/devrel @pdg744

# These are sensitive files
/groth16_proof/groth16/                @flaub @nategraf @tzerrell
/SECURITY.md                           @kevinnassery
control_id.rs                          @flaub @nategraf @tzerrell
recursion_zkr.zip                      @flaub @nategraf @tzerrell

update error handling
  risc0/zkvm/src/host/api/convert.rs
Owners: @risc0/platform

move povw_job_id from ProverOpts to ExecutorEnv
  risc0/zkvm/src/host/api/client.rs
  risc0/zkvm/src/host/api/convert.rs
  risc0/zkvm/src/host/api/server.rs
  risc0/zkvm/src/host/client/env.rs
  risc0/zkvm/src/host/client/prove/opts.rs
  risc0/zkvm/src/host/protos/api.proto
  risc0/zkvm/src/host/protos/api.rs
  risc0/zkvm/src/host/server/exec/executor.rs
  risc0/zkvm/src/host/server/prove/prover_impl.rs
Owners: @risc0/platform

add a couple of tests for the executor
  risc0/bigint2/methods/guest/Cargo.lock
  risc0/binfmt/src/povw.rs
  risc0/circuit/keccak/methods/guest/Cargo.lock
  risc0/zkvm/methods/cfg/Cargo.lock
  risc0/zkvm/methods/cpp-crates/Cargo.lock
  risc0/zkvm/methods/env/Cargo.lock
  risc0/zkvm/methods/guest/Cargo.lock
  risc0/zkvm/methods/heap/Cargo.lock
  risc0/zkvm/methods/rand/Cargo.lock
  risc0/zkvm/methods/rand2/Cargo.lock
  risc0/zkvm/methods/std/Cargo.lock
  risc0/zkvm/src/host/api/server.rs
  risc0/zkvm/src/host/client/env.rs
  risc0/zkvm/src/host/server/exec/tests.rs
Owners: @risc0/platform, @tzerrell, @iddo-bentov, @flaub

add memory address consts for povw
  risc0/circuit/rv32im/src/execute/platform.rs
Owners: @risc0/platform

bootstrap from zirgen a4cbfa31b8244a3ab4f27226744b1706092d6c8a
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check.cuh
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_0.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_1.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_2.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_3.cu
  risc0/circuit/rv32im-sys/kernels/cuda/layout.cu.inc
  risc0/circuit/rv32im-sys/kernels/cuda/layout.cuh.inc
  risc0/circuit/rv32im-sys/kernels/cuda/steps.cu
  risc0/circuit/rv32im-sys/kernels/cuda/types.cuh.inc
  risc0/circuit/rv32im-sys/kernels/cxx/layout.cpp.inc
  risc0/circuit/rv32im-sys/kernels/cxx/layout.h.inc
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_0.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_1.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_2.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_3.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/steps.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/types.h.inc
  risc0/circuit/rv32im/src/zirgen/info.rs
  risc0/circuit/rv32im/src/zirgen/layout.rs.inc
  risc0/circuit/rv32im/src/zirgen/types.rs.inc
Owners: @risc0/platform

add to and from bytes for PovwNonce
  risc0/binfmt/src/povw.rs
Owners: @risc0/platform

fix and add to_u32s and to_u16s methods to PovwNonce
  Cargo.lock
  risc0/binfmt/Cargo.toml
  risc0/binfmt/src/povw.rs
  risc0/zkvm/methods/cfg/Cargo.lock
  risc0/zkvm/methods/cpp-crates/Cargo.lock
  risc0/zkvm/methods/env/Cargo.lock
  risc0/zkvm/methods/guest/Cargo.lock
  risc0/zkvm/methods/heap/Cargo.lock
  risc0/zkvm/methods/rand/Cargo.lock
  risc0/zkvm/methods/rand2/Cargo.lock
  risc0/zkvm/methods/std/Cargo.lock
Owners: @risc0/platform

add povw_nonce memory transactions to preflight
  risc0/circuit/rv32im/src/prove/witgen/preflight.rs
Owners: @risc0/platform

add todo
  risc0/circuit/rv32im/src/execute/platform.rs
Owners: @risc0/platform

update Cargo.lock
  risc0/bigint2/methods/guest/Cargo.lock
  risc0/circuit/keccak/methods/guest/Cargo.lock
Owners: @risc0/platform, @tzerrell, @iddo-bentov, @flaub

Fix potential panic in sys_alloc_aligned functions
  risc0/zkvm/platform/src/syscall.rs
Owners: @risc0/platform

Update Algolia public key
  website/docusaurus.config.js
Owners: @risc0/platform, @risc0/devrel, @pdg744

Update precompiles.md
  website/api_versioned_docs/version-2.0.0/zkvm/precompiles.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Update rpc.rs
  risc0/r0vm/src/actors/rpc.rs
Owners: @risc0/platform

Update layout.tsx
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/datasheet/layout.tsx
Owners: @risc0/platform, @nahoc

Update Algolia public key to fix search (#3218)
  website/docusaurus.config.js
Owners: @risc0/platform, @risc0/devrel, @pdg744

fill in some gaps and add test for povw in segment proving
  risc0/binfmt/src/povw.rs
  risc0/circuit/rv32im/src/lib.rs
  risc0/zkvm/src/host/server/prove/tests.rs
  risc0/zkvm/src/receipt/segment.rs
Owners: @risc0/platform

Fix typo in README.md
  README.md
Owners: @risc0/platform

Update README.md
  README.md
Owners: @risc0/platform

move receipt_claim.rs to claim/receipt.rs
  risc0/zkvm/src/claim/mod.rs
  risc0/zkvm/src/claim/receipt.rs
  risc0/zkvm/src/host/api/client.rs
  risc0/zkvm/src/host/api/convert.rs
  risc0/zkvm/src/host/recursion/prove/mod.rs
  risc0/zkvm/src/host/recursion/tests.rs
  risc0/zkvm/src/host/server/exec/executor.rs
  risc0/zkvm/src/host/server/prove/dev_mode.rs
  risc0/zkvm/src/host/server/prove/mod.rs
  risc0/zkvm/src/host/server/prove/prover_impl.rs
  risc0/zkvm/src/lib.rs
  risc0/zkvm/src/mmr.rs
  risc0/zkvm/src/receipt.rs
  risc0/zkvm/src/receipt/groth16.rs
  risc0/zkvm/src/receipt/succinct.rs
Owners: @risc0/platform

split off MaybePruned and Unknown
  risc0/zkvm/src/claim/maybe_pruned.rs
  risc0/zkvm/src/claim/mod.rs
  risc0/zkvm/src/claim/receipt.rs
  risc0/zkvm/src/host/api/convert.rs
  risc0/zkvm/src/host/recursion/prove/mod.rs
  risc0/zkvm/src/host/recursion/tests.rs
  risc0/zkvm/src/host/server/prove/dev_mode.rs
  risc0/zkvm/src/host/server/prove/mod.rs
  risc0/zkvm/src/host/server/prove/prover_impl.rs
  risc0/zkvm/src/lib.rs
  risc0/zkvm/src/receipt.rs
  risc0/zkvm/src/receipt/groth16.rs
  risc0/zkvm/src/receipt/succinct.rs
Owners: @risc0/platform

Improve rzup to build Rust 1.88.0
  rzup/src/build.rs
  rzup/src/lib.rs
Owners: @risc0/platform, @hmrtn

add povw claims
  risc0/zkvm/src/claim/mod.rs
  risc0/zkvm/src/claim/work.rs
  risc0/zkvm/src/lib.rs
Owners: @risc0/platform

add test for verifier parameters mismatch
  risc0/zkvm/src/host/server/prove/tests.rs
Owners: @risc0/platform

Remove inline(always) from no_mangle functions
  risc0/zkvm/methods/guest/src/bin/multi_test/profiler.rs
  risc0/zkvm/platform/src/syscall.rs
  risc0/zkvm/src/host/server/exec/gdb.rs
  risc0/zkvm/src/host/server/exec/tests.rs
Owners: @risc0/platform

[R0ENG-145] Add test for verifier parameters mismatch (#3226)
  risc0/zkvm/src/host/server/prove/tests.rs
Owners: @risc0/platform

Prepare for guest code upgrade to Rust 1.88.0 (#3225)
  risc0/zkvm/methods/guest/src/bin/multi_test/profiler.rs
  risc0/zkvm/platform/src/syscall.rs
  risc0/zkvm/src/host/server/exec/gdb.rs
  risc0/zkvm/src/host/server/exec/tests.rs
  rzup/src/build.rs
  rzup/src/lib.rs
Owners: @risc0/platform, @hmrtn

Use Rust 1.88.0 for compiling guest code
  .github/workflows/bench_pr.yml
  .github/workflows/bench_reports.yml
  .github/workflows/bench_trends.yml
  .github/workflows/main.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/risc0-ethereum.yml
  .github/workflows/website.yml
Owners: @risc0/platform

copy in proof of verifiable work core library
  Cargo.lock
  Cargo.toml
  risc0/povw/Cargo.lock
  risc0/povw/Cargo.toml
  risc0/povw/src/consts.rs
  risc0/povw/src/guest.rs
  risc0/povw/src/lib.rs
  risc0/zkvm/src/claim/maybe_pruned.rs
  risc0/zkvm/src/claim/work.rs
Owners: @risc0/platform

copy in povw log builder guest
  Cargo.lock
  Cargo.toml
  risc0/povw/guests/Cargo.toml
  risc0/povw/guests/build.rs
  risc0/povw/guests/log-builder/Cargo.lock
  risc0/povw/guests/log-builder/Cargo.toml
  risc0/povw/guests/log-builder/src/main.rs
  risc0/povw/guests/src/lib.rs
  risc0/povw/guests/tests/log-builder.rs
Owners: @risc0/platform

Upgrade Guest code to Rust 1.88.0 (#3227)
  .github/workflows/bench_pr.yml
  .github/workflows/bench_reports.yml
  .github/workflows/bench_trends.yml
  .github/workflows/main.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/risc0-ethereum.yml
  .github/workflows/website.yml
Owners: @risc0/platform

fix patch statement for curve25519-dalek
  website/api/zkvm/precompiles.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

update other versions of the docs
  website/api/zkvm/precompiles.md
  website/api_versioned_docs/version-2.0.0/zkvm/precompiles.md
  website/api_versioned_docs/version-2.1/zkvm/precompiles.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

always set the unstable feature flag on risc0-build
  risc0/cargo-risczero/Cargo.toml
Owners: @risc0/platform

Update the patch statement to use the corruct URL for curve25519-dalek (#3229)
  website/api/zkvm/precompiles.md
  website/api_versioned_docs/version-2.0.0/zkvm/precompiles.md
  website/api_versioned_docs/version-2.1/zkvm/precompiles.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

WIP
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  bento/Cargo.lock
  groth16_proof/supra/.gitignore
  risc0/groth16-sys/Cargo.toml
  risc0/groth16-sys/build.rs
  risc0/groth16-sys/kernels/cuda/chacha.cuh
  risc0/groth16-sys/kernels/cuda/ffi.cu
  risc0/groth16-sys/kernels/cuda/groth16_coeffs.cuh
  risc0/groth16-sys/kernels/cuda/groth16_prover.cuh
  risc0/groth16-sys/kernels/cuda/groth16_srs.cuh
  risc0/groth16-sys/kernels/cuda/setup_prover.cu
  risc0/groth16-sys/kernels/cuda/util.cuh
  risc0/groth16-sys/src/lib.rs
  risc0/groth16/Cargo.toml
  risc0/groth16/src/data_structures.rs
Owners: @risc0/platform

WIP
  Cargo.lock
  Cargo.toml
  bento/Cargo.lock
  risc0/groth16-sys/Cargo.toml
  risc0/groth16-sys/build.rs
  risc0/groth16/Cargo.toml
  rzup/src/components.rs
  rzup/src/distribution/github.rs
  rzup/src/paths.rs
  rzup/src/registry.rs
Owners: @risc0/platform, @hmrtn

Cleanup public API of risc0-groth16
  Cargo.lock
  bento/Cargo.lock
  risc0/bigint2/methods/guest/Cargo.lock
  risc0/circuit/keccak/methods/guest/Cargo.lock
  risc0/groth16/Cargo.toml
  risc0/groth16/src/lib.rs
  risc0/groth16/src/prove/docker.rs
  risc0/groth16/src/prove/mod.rs
  risc0/groth16/src/prove/seal_format.rs
  risc0/groth16/src/prove/seal_to_json.rs
  risc0/groth16/src/types.rs
  risc0/groth16/src/verifier.rs
  risc0/zkvm/methods/cfg/Cargo.lock
  risc0/zkvm/methods/cpp-crates/Cargo.lock
  risc0/zkvm/methods/env/Cargo.lock
  risc0/zkvm/methods/guest/Cargo.lock
  risc0/zkvm/methods/heap/Cargo.lock
  risc0/zkvm/methods/rand/Cargo.lock
  risc0/zkvm/methods/rand2/Cargo.lock
  risc0/zkvm/methods/std/Cargo.lock
  risc0/zkvm/src/host/server/prove/mod.rs
  risc0/zkvm/src/lib.rs
  risc0/zkvm/src/receipt/groth16.rs
Owners: @risc0/platform, @tzerrell, @iddo-bentov, @flaub

Add example usage and a bit of documentation to ApiClient module. Affected methods: - `from_env` - `prove` - `execute` - `prove_segment` - `lift` - `join` - `verify`
  risc0/zkvm/src/host/api/client.rs
Owners: @risc0/platform

WIP
  Cargo.lock
  bento/Cargo.lock
  groth16_proof/groth16/risc0.circom
  risc0/groth16-sys/build.rs
  risc0/groth16-sys/kernels/cuda/ffi.cu
  risc0/groth16-sys/kernels/cuda/util.cuh
  risc0/groth16-sys/src/lib.rs
  risc0/groth16/Cargo.toml
  risc0/groth16/src/prove/cuda.rs
  risc0/groth16/src/prove/mod.rs
  risc0/zkvm/Cargo.toml
  risc0/zkvm/src/host/recursion/prove/mod.rs
  risc0/zkvm/src/host/server/prove/mod.rs
  risc0/zkvm/src/host/server/prove/prover_impl.rs
  risc0/zkvm/src/host/server/prove/tests.rs
  rzup/src/lib.rs
Owners: @risc0/platform, @flaub, @nategraf, @tzerrell, @hmrtn
