Repository risc0/risc0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @risc0/platform, @risc0/bonsai, @risc0/devrel, @risc0/demos, @tzerrell, @iddo-bentov, @flaub, @hmrtn, @nahoc, @pdg744, @nategraf, @kevinnassery

zkvm/guest: fix doc typo
  risc0/zkvm/src/guest/mod.rs
Owners: @risc0/platform

Replace remote feature with homegrown tcp impl
  Cargo.lock
  risc0/r0vm/Cargo.toml
  risc0/r0vm/src/actors/factory.rs
  risc0/r0vm/src/actors/job.rs
  risc0/r0vm/src/actors/manager.rs
  risc0/r0vm/src/actors/mod.rs
  risc0/r0vm/src/actors/tests.rs
  risc0/r0vm/src/actors/worker.rs
Owners: @risc0/platform

Better stop
  risc0/r0vm/src/actors/mod.rs
Owners: @risc0/platform

fix bootstrap_poseidon.rs
  xtask/src/bootstrap_poseidon.rs
Owners: @risc0/platform

Use codec
  Cargo.lock
  risc0/r0vm/Cargo.toml
  risc0/r0vm/src/actors/factory.rs
  risc0/r0vm/src/actors/mod.rs
Owners: @risc0/platform

Cleanup
  risc0/r0vm/src/actors/mod.rs
Owners: @risc0/platform

fix: update rust-toolchain link in waldo example README
  examples/waldo/README.md
Owners: @risc0/devrel, @risc0/demos, @risc0/platform

Update README.md
  examples/waldo/README.md
Owners: @risc0/devrel, @risc0/demos, @risc0/platform

chore(workspace): point `repository` to `risc0/risc0` instead of removed `risc0/bento`
  bento/Cargo.toml
Owners: @risc0/platform

set sm_code flags to lowest default we support
  bento/dockerfiles/agent.dockerfile
Owners: @risc0/platform

ZKVM-1367: Add BLST crate to list of precompiles (#3140)
  website/api/zkvm/precompiles.md
  website/api_versioned_docs/version-2.0.0/zkvm/precompiles.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Add gdb as something rzup can download
  Cargo.lock
  Cargo.toml
  benchmarks/Cargo.lock
  bento/Cargo.lock
  examples/Cargo.lock
  examples/composition/methods/guest/Cargo.lock
  risc0/zkvm/methods/guest/Cargo.lock
  risc0/zkvm/methods/std/Cargo.lock
  rzup/Cargo.toml
  rzup/src/cli/commands.rs
  rzup/src/components.rs
  rzup/src/distribution/github.rs
  rzup/src/lib.rs
  rzup/src/paths.rs
  rzup/src/registry.rs
Owners: @risc0/platform, @risc0/devrel, @risc0/demos, @hmrtn

Add end-to-end gdb test
  .github/workflows/main.yml
  Cargo.lock
  risc0/zkvm/Cargo.toml
  risc0/zkvm/src/host/server/exec/gdb.rs
Owners: @risc0/platform

Update docker reproducible build test image-id
  risc0/build/src/docker.rs
Owners: @risc0/platform

update nvcc flags and cuda opts
  bento/dockerfiles/agent.dockerfile
Owners: @risc0/platform

Install macOS gdb dependencies in GitHub worker
  .github/workflows/main.yml
Owners: @risc0/platform

add hoodi to support verifier contracts
  website/api_versioned_docs/version-2.0.0/blockchain-integration/contracts/verifier.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

bento cli sorta works
  Cargo.lock
  risc0/r0vm/Cargo.toml
  risc0/r0vm/src/actors/factory.rs
  risc0/r0vm/src/actors/job.rs
  risc0/r0vm/src/actors/manager.rs
  risc0/r0vm/src/actors/mod.rs
  risc0/r0vm/src/actors/protocol.rs
  risc0/r0vm/src/actors/tests.rs
  risc0/r0vm/src/actors/worker.rs
  risc0/r0vm/src/api.rs
  risc0/r0vm/src/lib.rs
  risc0/zkvm/src/host/prove_info.rs
Owners: @risc0/platform

Inline functions in hot-path for preflight
  Cargo.lock
  benchmarks/Cargo.lock
  bento/Cargo.lock
  examples/Cargo.lock
  risc0/circuit/rv32im/Cargo.toml
  risc0/circuit/rv32im/src/prove/witgen/byte_poly.rs
  risc0/circuit/rv32im/src/prove/witgen/paged_map.rs
  risc0/circuit/rv32im/src/prove/witgen/preflight.rs
Owners: @risc0/platform, @risc0/devrel, @risc0/demos

Add zeth preflight benchmark
  Cargo.toml
  risc0/circuit/rv32im/src/lib.rs
  risc0/circuit/rv32im/src/prove/witgen/preflight.rs
  risc0/zkvm/examples/preflight_benchmark.rs
  risc0/zkvm/src/host/server/session.rs
Owners: @risc0/platform

Use AddAssign to avoid allocating a new BytePoly at times
  risc0/circuit/rv32im/src/prove/witgen/byte_poly.rs
Owners: @risc0/platform

fix error handling
  risc0/r0vm/src/actors/factory.rs
  risc0/r0vm/src/actors/job.rs
  risc0/r0vm/src/actors/manager.rs
  risc0/r0vm/src/actors/protocol.rs
  risc0/r0vm/src/actors/worker.rs
  risc0/r0vm/src/api.rs
Owners: @risc0/platform

vectorize BytePolynomial
  Cargo.lock
  risc0/bigint2/methods/guest/Cargo.lock
  risc0/circuit/keccak/methods/guest/Cargo.lock
  risc0/circuit/rv32im/Cargo.toml
  risc0/circuit/rv32im/src/prove/witgen/bigint.rs
  risc0/circuit/rv32im/src/prove/witgen/byte_poly.rs
  risc0/zkvm/methods/cfg/Cargo.lock
  risc0/zkvm/methods/cpp-crates/Cargo.lock
  risc0/zkvm/methods/env/Cargo.lock
  risc0/zkvm/methods/guest/Cargo.lock
  risc0/zkvm/methods/heap/Cargo.lock
  risc0/zkvm/methods/rand/Cargo.lock
  risc0/zkvm/methods/rand2/Cargo.lock
  risc0/zkvm/methods/std/Cargo.lock
Owners: @risc0/platform, @tzerrell, @iddo-bentov, @flaub

Inline functions in hot-path for preflight
  Cargo.lock
  benchmarks/Cargo.lock
  bento/Cargo.lock
  examples/Cargo.lock
  risc0/circuit/rv32im/Cargo.toml
  risc0/circuit/rv32im/src/prove/witgen/byte_poly.rs
  risc0/circuit/rv32im/src/prove/witgen/paged_map.rs
  risc0/circuit/rv32im/src/prove/witgen/preflight.rs
Owners: @risc0/platform, @risc0/devrel, @risc0/demos

Use AddAssign to avoid allocating a new BytePoly at times
  risc0/circuit/rv32im/src/prove/witgen/byte_poly.rs
Owners: @risc0/platform

vectorize BytePolynomial
  Cargo.lock
  benchmarks/Cargo.lock
  bento/Cargo.lock
  examples/Cargo.lock
  examples/composition/methods/guest/Cargo.lock
  risc0/circuit/rv32im/Cargo.toml
  risc0/circuit/rv32im/src/prove/witgen/bigint.rs
  risc0/circuit/rv32im/src/prove/witgen/byte_poly.rs
  risc0/zkvm/methods/std/Cargo.lock
Owners: @risc0/platform, @risc0/devrel, @risc0/demos

Handle assumptions
  bento/Cargo.lock
  bento/crates/bento-client/Cargo.toml
  bento/crates/bento-client/src/bento_cli.rs
  risc0/r0vm/Cargo.toml
  risc0/r0vm/src/actors/job.rs
  risc0/r0vm/src/actors/manager.rs
  risc0/r0vm/src/actors/mod.rs
  risc0/r0vm/src/actors/protocol.rs
  risc0/r0vm/src/actors/tests.rs
  risc0/r0vm/src/actors/worker.rs
  risc0/r0vm/src/api.rs
  risc0/zkvm/src/host/client/env.rs
  risc0/zkvm/src/host/server/prove/dev_mode.rs
  risc0/zkvm/src/host/server/prove/mod.rs
  risc0/zkvm/src/host/server/prove/prover_impl.rs
  risc0/zkvm/src/lib.rs
Owners: @risc0/platform

chore: fix typo in comment
  risc0/binfmt/src/image.rs
Owners: @risc0/platform

Update Cargo.toml
  risc0/circuit/keccak-sys/Cargo.toml
Owners: @risc0/platform

Update lib.rs
  risc0/zkvm/src/lib.rs
Owners: @risc0/platform

Update Cargo.toml
  risc0/circuit/keccak/Cargo.toml
Owners: @risc0/platform

Update mod.rs
  risc0/circuit/keccak/src/prove/mod.rs
Owners: @risc0/platform

Update README.md
  risc0/circuit/keccak-sys/README.md
Owners: @risc0/platform

Update Cargo.toml
  risc0/zkvm/Cargo.toml
Owners: @risc0/platform

Update build.rs
  risc0/circuit/keccak-sys/build.rs
Owners: @risc0/platform

return correct error message
  risc0/circuit/rv32im/src/execute/bibc.rs
Owners: @risc0/platform

Update nvtxImpl.h
  risc0/sys/cxx/vendor/nvtx3/nvtxDetail/nvtxImpl.h
Owners: @risc0/platform

ZKVM-1385: Preflight peformance improvements (#3167)
  Cargo.lock
  benchmarks/Cargo.lock
  bento/Cargo.lock
  examples/Cargo.lock
  examples/composition/methods/guest/Cargo.lock
  risc0/circuit/rv32im/Cargo.toml
  risc0/circuit/rv32im/src/prove/witgen/bigint.rs
  risc0/circuit/rv32im/src/prove/witgen/byte_poly.rs
  risc0/circuit/rv32im/src/prove/witgen/paged_map.rs
  risc0/circuit/rv32im/src/prove/witgen/preflight.rs
  risc0/zkvm/methods/std/Cargo.lock
Owners: @risc0/platform, @risc0/devrel, @risc0/demos

Support keccak, union, resolve
  bento/crates/bento-client/src/bento_cli.rs
  risc0/r0vm/src/actors/factory.rs
  risc0/r0vm/src/actors/job.rs
  risc0/r0vm/src/actors/protocol.rs
  risc0/r0vm/src/actors/worker.rs
Owners: @risc0/platform

Fix telemetry
  risc0/r0vm/src/actors/job.rs
Owners: @risc0/platform

.github/CODEOWNERS:

# CODEOWNERS

# Note: Order is important; the last matching pattern takes the most
# precedence.

*                                      @risc0/platform

/bonsai/                               @risc0/bonsai
/examples/                             @risc0/devrel @risc0/demos @risc0/platform
/risc0/bigint2/                        @risc0/platform @tzerrell @iddo-bentov @flaub
/rzup/                                 @risc0/platform @hmrtn
/web/                                  @risc0/platform @nahoc
/website/                              @risc0/platform @risc0/devrel @pdg744

# These are sensitive files
/groth16_proof/groth16/                @flaub @nategraf @tzerrell
/SECURITY.md                           @kevinnassery
control_id.rs                          @flaub @nategraf @tzerrell
recursion_zkr.zip                      @flaub @nategraf @tzerrell
