Repository risc0/risc0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @risc0/platform, @risc0/bonsai, @risc0/devrel, @risc0/demos, @tzerrell, @iddo-bentov, @flaub, @hmrtn, @nahoc, @pdg744, @nategraf, @kevinnassery

add verifier contract addresses for zkvm 2.2
  website/api_versioned_docs/version-2.2/blockchain-integration/contracts/verifier.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

update refs
  website/api_versioned_docs/version-2.2/blockchain-integration/contracts/verifier.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

update refs
  website/api_versioned_docs/version-2.2/blockchain-integration/contracts/verifier.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

remove todo
  website/api/blockchain-integration/contracts/verifier.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

add verifier contract addresses for zkvm 2.2
  website/api_versioned_docs/version-2.2/blockchain-integration/contracts/verifier.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

remove the version numbers from the unversioned part of the docs
  website/api/blockchain-integration/contracts/verifier.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

lint fixes
  website/api_versioned_docs/version-2.2/blockchain-integration/contracts/verifier.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Update docs for 2.2 (#3245)
  website/api/blockchain-integration/contracts/verifier.md
  website/api_versioned_docs/version-2.2/blockchain-integration/contracts/verifier.md
  website/api_versioned_docs/version-2.2/blockchain-integration/risc-zero-on-eth.md
  website/api_versioned_docs/version-2.2/generating-proofs/dev-mode.md
  website/api_versioned_docs/version-2.2/generating-proofs/local-proving.md
  website/api_versioned_docs/version-2.2/generating-proofs/proving-options.md
  website/api_versioned_docs/version-2.2/generating-proofs/remote-proving.md
  website/api_versioned_docs/version-2.2/getting-started.md
  website/api_versioned_docs/version-2.2/introduction.md
  website/api_versioned_docs/version-2.2/recursion.md
  website/api_versioned_docs/version-2.2/secure-sdlc.md
  website/api_versioned_docs/version-2.2/security-model.md
  website/api_versioned_docs/version-2.2/trusted-setup-ceremony.md
  website/api_versioned_docs/version-2.2/use-cases.md
  website/api_versioned_docs/version-2.2/zkvm/benchmarks.md
  website/api_versioned_docs/version-2.2/zkvm/composition.md
  website/api_versioned_docs/version-2.2/zkvm/examples.md
  website/api_versioned_docs/version-2.2/zkvm/guest-code-101.md
  website/api_versioned_docs/version-2.2/zkvm/host-code-101.md
  website/api_versioned_docs/version-2.2/zkvm/install.md
  website/api_versioned_docs/version-2.2/zkvm/optimization.md
  website/api_versioned_docs/version-2.2/zkvm/precompiles.md
  website/api_versioned_docs/version-2.2/zkvm/profiling.md
  website/api_versioned_docs/version-2.2/zkvm/quickstart.md
  website/api_versioned_docs/version-2.2/zkvm/receipts.md
  website/api_versioned_docs/version-2.2/zkvm/rust-crates-with-cpp.md
  website/api_versioned_docs/version-2.2/zkvm/rust-resources.md
  website/api_versioned_docs/version-2.2/zkvm/tutorials/hello-world.md
  website/api_versioned_docs/version-2.2/zkvm/tutorials/io.md
  website/api_versioned_docs/version-2.2/zkvm/tutorials/overview.md
  website/api_versioned_docs/version-2.2/zkvm/zkvm-overview.md
  website/api_versioned_docs/version-2.2/zkvm/zkvm-specification.md
  website/api_versioned_sidebars/version-2.2-sidebars.json
  website/api_versions.json
Owners: @risc0/platform, @risc0/devrel, @pdg744

Update lib.rs
  bento/crates/api/src/lib.rs
Owners: @risc0/platform

Update lib.rs
  bento/crates/taskdb/src/lib.rs
Owners: @risc0/platform

Update api.rs
  risc0/r0vm/src/api.rs
Owners: @risc0/platform

fix: executor workflow Receipt deserialization
  bento/crates/workflow/src/tasks/executor.rs
Owners: @risc0/platform

Add a way to programmatically enable dev-mode.
  risc0/build/src/docker.rs
  risc0/r0vm/src/actors/worker.rs
  risc0/r0vm/tests/dev_mode.rs
  risc0/zkvm/src/host/api/convert.rs
  risc0/zkvm/src/host/api/server.rs
  risc0/zkvm/src/host/client/prove/bonsai.rs
  risc0/zkvm/src/host/client/prove/external.rs
  risc0/zkvm/src/host/client/prove/mod.rs
  risc0/zkvm/src/host/protos/api.proto
  risc0/zkvm/src/host/protos/api.rs
  risc0/zkvm/src/host/server/prove/dev_mode.rs
  risc0/zkvm/src/host/server/prove/mod.rs
  risc0/zkvm/src/host/server/prove/prover_impl.rs
  risc0/zkvm/src/lib.rs
  risc0/zkvm/src/receipt.rs
Owners: @risc0/platform

Update groth16_proof.yml
  .github/workflows/groth16_proof.yml
Owners: @risc0/platform

Optimize image processing loop order for better cache locality
  examples/waldo/core/src/image.rs
Owners: @risc0/devrel, @risc0/demos, @risc0/platform

fix duplicate in Update ceremony.Dockerfile
  groth16_proof/docker/ceremony.Dockerfile
Owners: @risc0/platform

location_constraint
  bento/crates/workflow-common/src/s3.rs
Owners: @risc0/platform

fix Update prover.Dockerfile
  groth16_proof/docker/prover.Dockerfile
Owners: @risc0/platform

add dummy health check endpoint to bento api
  bento/crates/api/src/lib.rs
Owners: @risc0/platform

delete ∑ sign
  website/api_versioned_docs/version-1.0/zkvm/examples.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

delete ∑ sign
  website/api_versioned_docs/version-0.21/zkvm/examples.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

delete ∑ sign
  website/api_versioned_docs/version-1.1/zkvm/examples.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

delete ∑ sign
  website/api_versioned_docs/version-1.2/zkvm/examples.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

delete ∑ sign
  website/api_versioned_docs/version-0.20/zkvm/examples.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

fix(blst): replace non-existent rand::rng() with rand::thread_rng()
  risc0/zkvm/methods/cpp-crates/src/bin/blst.rs
Owners: @risc0/platform

Add a way to programmatically enable dev-mode.
  risc0/build/src/docker.rs
  risc0/r0vm/src/actors/worker.rs
  risc0/r0vm/tests/dev_mode.rs
  risc0/r0vm/tests/external_prover.rs
  risc0/zkvm/src/host/api/convert.rs
  risc0/zkvm/src/host/api/server.rs
  risc0/zkvm/src/host/client/prove/bonsai.rs
  risc0/zkvm/src/host/client/prove/external.rs
  risc0/zkvm/src/host/client/prove/mod.rs
  risc0/zkvm/src/host/protos/api.proto
  risc0/zkvm/src/host/protos/api.rs
  risc0/zkvm/src/host/server/prove/dev_mode.rs
  risc0/zkvm/src/host/server/prove/mod.rs
  risc0/zkvm/src/host/server/prove/prover_impl.rs
  risc0/zkvm/src/host/server/prove/tests.rs
  risc0/zkvm/src/lib.rs
  risc0/zkvm/src/receipt.rs
Owners: @risc0/platform

Add a way to programmatically enable dev-mode. (#3252)
  risc0/build/src/docker.rs
  risc0/r0vm/src/actors/worker.rs
  risc0/r0vm/tests/dev_mode.rs
  risc0/r0vm/tests/external_prover.rs
  risc0/zkvm/src/host/api/convert.rs
  risc0/zkvm/src/host/api/server.rs
  risc0/zkvm/src/host/client/prove/bonsai.rs
  risc0/zkvm/src/host/client/prove/external.rs
  risc0/zkvm/src/host/client/prove/mod.rs
  risc0/zkvm/src/host/protos/api.proto
  risc0/zkvm/src/host/protos/api.rs
  risc0/zkvm/src/host/server/prove/dev_mode.rs
  risc0/zkvm/src/host/server/prove/mod.rs
  risc0/zkvm/src/host/server/prove/prover_impl.rs
  risc0/zkvm/src/host/server/prove/tests.rs
  risc0/zkvm/src/lib.rs
  risc0/zkvm/src/receipt.rs
Owners: @risc0/platform

Add a way to programmatically enable dev-mode. (#3252)
  Cargo.lock
  risc0/r0vm/Cargo.toml
  risc0/r0vm/tests/dev_mode.rs
  risc0/r0vm/tests/external_prover.rs
  risc0/zkvm/src/host/api/convert.rs
  risc0/zkvm/src/host/api/server.rs
  risc0/zkvm/src/host/client/prove/bonsai.rs
  risc0/zkvm/src/host/client/prove/external.rs
  risc0/zkvm/src/host/client/prove/mod.rs
  risc0/zkvm/src/host/protos/api.proto
  risc0/zkvm/src/host/protos/api.rs
  risc0/zkvm/src/host/server/prove/dev_mode.rs
  risc0/zkvm/src/host/server/prove/mod.rs
  risc0/zkvm/src/host/server/prove/prover_impl.rs
  risc0/zkvm/src/host/server/prove/tests.rs
  risc0/zkvm/src/lib.rs
  risc0/zkvm/src/receipt.rs
Owners: @risc0/platform

upcap bento upload file size limit
  bento/crates/api/src/lib.rs
Owners: @risc0/platform

location_constraint
  bento/crates/workflow-common/src/s3.rs
Owners: @risc0/platform

Uncap bento upload limit and other fixes (#3261)
  bento/crates/api/src/lib.rs
  bento/crates/workflow-common/src/s3.rs
Owners: @risc0/platform

Uncap bento upload limit and other fixes (#3261)
  bento/crates/api/src/lib.rs
  bento/crates/workflow-common/src/s3.rs
Owners: @risc0/platform

Uncap bento upload limit and other fixes (#3261)
  bento/crates/api/src/lib.rs
  bento/crates/workflow-common/src/s3.rs
Owners: @risc0/platform

Add a way to programmatically enable dev-mode. (#3252)
  Cargo.lock
  risc0/r0vm/Cargo.toml
  risc0/r0vm/tests/dev_mode.rs
  risc0/r0vm/tests/external_prover.rs
  risc0/zkvm/src/host/api/convert.rs
  risc0/zkvm/src/host/api/server.rs
  risc0/zkvm/src/host/client/prove/bonsai.rs
  risc0/zkvm/src/host/client/prove/external.rs
  risc0/zkvm/src/host/client/prove/mod.rs
  risc0/zkvm/src/host/protos/api.proto
  risc0/zkvm/src/host/protos/api.rs
  risc0/zkvm/src/host/server/prove/dev_mode.rs
  risc0/zkvm/src/host/server/prove/mod.rs
  risc0/zkvm/src/host/server/prove/prover_impl.rs
  risc0/zkvm/src/host/server/prove/tests.rs
  risc0/zkvm/src/lib.rs
  risc0/zkvm/src/receipt.rs
Owners: @risc0/platform

Uncap bento upload limit and other fixes (#3261)
  bento/crates/api/src/lib.rs
  bento/crates/workflow-common/src/s3.rs
Owners: @risc0/platform

Add risc0-groth16 component to rzup
  rzup/src/components.rs
  rzup/src/distribution/github.rs
  rzup/src/lib.rs
  rzup/src/paths.rs
  rzup/src/registry.rs
Owners: @risc0/platform, @hmrtn

Optimize groth16 witness generation and proving
  groth16_proof/supra/README.md
  groth16_proof/supra/cuda/build.sh
  groth16_proof/supra/cuda/chacha.cuh
  groth16_proof/supra/cuda/groth16_coeffs.cuh
  groth16_proof/supra/cuda/groth16_prover.cuh
  groth16_proof/supra/cuda/groth16_srs.cuh
  groth16_proof/supra/cuda/run_prover.cu
  groth16_proof/supra/cuda/setup_prover.cu
  groth16_proof/supra/cuda/util.cuh
  groth16_proof/supra/input-files/fib-seal.json
  groth16_proof/supra/input-files/loop-seal.json
  groth16_proof/supra/modified-circuit/risc0.circom
  groth16_proof/supra/prove_and_verify.sh
  groth16_proof/supra/setup_circuit.sh
  groth16_proof/supra/test_witness_generation.sh
Owners: @risc0/platform

flatten WorkLogCommit into Journal
  risc0/povw/guests/log-builder/src/main.rs
  risc0/povw/guests/tests/log-builder.rs
  risc0/povw/src/guest.rs
Owners: @risc0/platform

use borsh for (de)serialization
  Cargo.lock
  risc0/bigint2/methods/guest/Cargo.lock
  risc0/binfmt/Cargo.toml
  risc0/binfmt/src/povw.rs
  risc0/circuit/keccak/methods/guest/Cargo.lock
  risc0/povw/Cargo.toml
  risc0/povw/guests/Cargo.toml
  risc0/povw/guests/log-builder/Cargo.lock
  risc0/povw/guests/log-builder/Cargo.toml
  risc0/povw/guests/log-builder/src/main.rs
  risc0/povw/guests/tests/log-builder.rs
  risc0/povw/src/guest.rs
  risc0/povw/src/lib.rs
  risc0/zkvm/methods/cfg/Cargo.lock
  risc0/zkvm/methods/cpp-crates/Cargo.lock
  risc0/zkvm/methods/env/Cargo.lock
  risc0/zkvm/methods/guest/Cargo.lock
  risc0/zkvm/methods/heap/Cargo.lock
  risc0/zkvm/methods/rand/Cargo.lock
  risc0/zkvm/methods/rand2/Cargo.lock
  risc0/zkvm/methods/std/Cargo.lock
  risc0/zkvm/src/claim/work.rs
Owners: @risc0/platform, @tzerrell, @iddo-bentov, @flaub

bootstrap from zirgen 71efec514bb80ebe9cbefb68069e9ebd08fa5042
  risc0/circuit/rv32im-sys/kernels/cuda/defs.cu.inc
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check.cuh
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_0.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_1.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_2.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_3.cu
  risc0/circuit/rv32im-sys/kernels/cuda/layout.cu.inc
  risc0/circuit/rv32im-sys/kernels/cuda/layout.cuh.inc
  risc0/circuit/rv32im-sys/kernels/cuda/steps.cu
  risc0/circuit/rv32im-sys/kernels/cuda/steps.cuh
  risc0/circuit/rv32im-sys/kernels/cuda/types.cuh.inc
  risc0/circuit/rv32im-sys/kernels/cxx/defs.cpp.inc
  risc0/circuit/rv32im-sys/kernels/cxx/layout.cpp.inc
  risc0/circuit/rv32im-sys/kernels/cxx/layout.h.inc
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_0.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_1.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_2.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_3.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/steps.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/types.h.inc
  risc0/circuit/rv32im/src/zirgen/info.rs
  risc0/circuit/rv32im/src/zirgen/layout.rs.inc
Owners: @risc0/platform

.github/CODEOWNERS:

# CODEOWNERS

# Note: Order is important; the last matching pattern takes the most
# precedence.

*                                      @risc0/platform

/bonsai/                               @risc0/bonsai
/examples/                             @risc0/devrel @risc0/demos @risc0/platform
/risc0/bigint2/                        @risc0/platform @tzerrell @iddo-bentov @flaub
/rzup/                                 @risc0/platform @hmrtn
/web/                                  @risc0/platform @nahoc
/website/                              @risc0/platform @risc0/devrel @pdg744

# These are sensitive files
/groth16_proof/groth16/                @flaub @nategraf @tzerrell
/SECURITY.md                           @kevinnassery
control_id.rs                          @flaub @nategraf @tzerrell
recursion_zkr.zip                      @flaub @nategraf @tzerrell
