Repository risc0/risc0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @risc0/platform, @risc0/bonsai, @risc0/devrel, @risc0/demos, @tzerrell, @iddo-bentov, @flaub, @hmrtn, @nahoc, @pdg744, @nategraf, @kevinnassery

.github/CODEOWNERS:

# CODEOWNERS

# Note: Order is important; the last matching pattern takes the most
# precedence.

*                                      @risc0/platform

/bonsai/                               @risc0/bonsai
/examples/                             @risc0/devrel @risc0/demos @risc0/platform
/risc0/bigint2/                        @risc0/platform @tzerrell @iddo-bentov @flaub
/rzup/                                 @risc0/platform @hmrtn
/web/                                  @risc0/platform @nahoc
/website/                              @risc0/platform @risc0/devrel @pdg744

# These are sensitive files
/groth16_proof/groth16/                @flaub @nategraf @tzerrell
/SECURITY.md                           @kevinnassery
control_id.rs                          @flaub @nategraf @tzerrell
recursion_zkr.zip                      @flaub @nategraf @tzerrell

Update semver-baselines for risc0-groth16-sys and risc0-povw
  risc0/groth16-sys/Cargo.toml
  risc0/povw/Cargo.toml
  semver-baselines.lock
Owners: @risc0/platform

When detecting the release branch in semver-checks check the PR destination branch
  .github/workflows/main.yml
Owners: @risc0/platform

Semver fixes for 3.0 publishing (#3303)
  .github/workflows/main.yml
  risc0/groth16-sys/Cargo.toml
  risc0/povw/Cargo.toml
  semver-baselines.lock
Owners: @risc0/platform

Remove the lock around groth16
  risc0/zkvm/src/host/server/prove/mod.rs
Owners: @risc0/platform

Add SessionStats to actor-system Session
  risc0/r0vm/src/actors/job.rs
  risc0/r0vm/src/actors/worker.rs
  risc0/r0vm/src/api.rs
  risc0/zkvm/src/host/client/prove/default.rs
  risc0/zkvm/src/host/rpc.rs
Owners: @risc0/platform

Add execution_time to SessionStats
  risc0/zkvm/src/host/api/convert.rs
  risc0/zkvm/src/host/client/prove/bonsai.rs
  risc0/zkvm/src/host/protos/core.proto
  risc0/zkvm/src/host/protos/core.rs
  risc0/zkvm/src/host/prove_info.rs
  risc0/zkvm/src/host/server/exec/executor.rs
  risc0/zkvm/src/host/server/session.rs
Owners: @risc0/platform

Hoist logging of session stats to Prover::prove_with_ctx
  risc0/zkvm/src/host/client/prove/bonsai.rs
  risc0/zkvm/src/host/client/prove/default.rs
  risc0/zkvm/src/host/client/prove/external.rs
  risc0/zkvm/src/host/prove_info.rs
  risc0/zkvm/src/host/server/exec/executor.rs
Owners: @risc0/platform

ignore unused-pragma and unused-parameter
  risc0/build_kernel/src/lib.rs
Owners: @risc0/platform

Fix CUDA kernel compilation warnings
  risc0/build_kernel/src/lib.rs
  risc0/circuit/keccak-sys/build.rs
  risc0/circuit/rv32im-sys/build.rs
  risc0/sys/kernels/zkp/cuda/kernels.cu
Owners: @risc0/platform

Fix CUDA code compilation warnings (#3305)
  risc0/build_kernel/src/lib.rs
  risc0/circuit/keccak-sys/build.rs
  risc0/circuit/rv32im-sys/build.rs
  risc0/sys/kernels/zkp/cuda/kernels.cu
Owners: @risc0/platform

fix(povw/prover): correct error messages in WorkLogUpdateProver
  risc0/povw/src/prover.rs
Owners: @risc0/platform

Remove unused active_tasks tracking in FactoryActor
  risc0/r0vm/src/actors/factory.rs
Owners: @risc0/platform

Update install_prover.sh
  groth16_proof/scripts/install_prover.sh
Owners: @risc0/platform

docs(field): correct polynomial reduction comment in baby_bear.rs and remove unused import
  risc0/core/src/field/baby_bear.rs
Owners: @risc0/platform

Test IOP and merkle compatibility with V3
  risc0/zkp/src/prove/merkle.rs
Owners: @risc0/platform

Update bench_pr.yml
  .github/workflows/bench_pr.yml
Owners: @risc0/platform

Update bench_reports.yml
  .github/workflows/bench_reports.yml
Owners: @risc0/platform

Update bench_trends.yml
  .github/workflows/bench_trends.yml
Owners: @risc0/platform

Update groth16_proof.yml
  .github/workflows/groth16_proof.yml
Owners: @risc0/platform

Update main.yml
  .github/workflows/main.yml
Owners: @risc0/platform

Update nightly.yml
  .github/workflows/nightly.yml
Owners: @risc0/platform

Update release.yml
  .github/workflows/release.yml
Owners: @risc0/platform

Update risc0-ethereum.yml
  .github/workflows/risc0-ethereum.yml
Owners: @risc0/platform

Update website.yml
  .github/workflows/website.yml
Owners: @risc0/platform

ci: bump actions/checkout to v5
  .github/workflows/bench_pr.yml
  .github/workflows/bench_reports.yml
  .github/workflows/bench_trends.yml
  .github/workflows/groth16_proof.yml
  .github/workflows/main.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/risc0-ethereum.yml
  .github/workflows/website.yml
Owners: @risc0/platform

Update README.md
  benchmarks/README.md
Owners: @risc0/platform

Update proof-system-sequence-diagram.md
  website/docs/proof-system/proof-system-sequence-diagram.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Update about-finite-fields-exercises.md
  website/docs/reference-docs/about-finite-fields-exercises.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Update bench_reports.yml for new groth16 code (#3301)
  .github/workflows/bench_reports.yml
  risc0/zkvm/examples/datasheet.rs
Owners: @risc0/platform

Semver fixes for 3.0 publishing (#3303)
  .github/workflows/main.yml
  risc0/groth16-sys/Cargo.toml
  risc0/povw/Cargo.toml
  semver-baselines.lock
Owners: @risc0/platform

Replace size_t literal syntax with more portable static_cast
  risc0/sys/kernels/zkp/cuda/kernels.cu
Owners: @risc0/platform

Add missing `-std=c++17` flag to the cuda code compilation
  risc0/build_kernel/src/lib.rs
Owners: @risc0/platform

Update README.md
  examples/c-kzg/README.md
Owners: @risc0/devrel, @risc0/demos, @risc0/platform

Replace size_t literal syntax with more portable static_cast (#3314)
  risc0/sys/kernels/zkp/cuda/kernels.cu
Owners: @risc0/platform

Actor config: WIP
  risc0/r0vm/src/actors/config.rs
  risc0/r0vm/src/actors/mod.rs
  risc0/r0vm/testdata/manager.toml
  risc0/r0vm/testdata/prover.toml
Owners: @risc0/platform

semver: Fix check for SemVer compatibility to consider pre
  xtask/src/semver_checks.rs
Owners: @risc0/platform

semver: --locked and --update enforces semver-baselines.lock are up-to-date
  xtask/src/semver_checks.rs
Owners: @risc0/platform

Run the tests if xtask directory changes
  .github/workflows/main.yml
Owners: @risc0/platform

semver-checks: More fixes for release branches (#3315)
  .github/workflows/main.yml
  xtask/src/semver_checks.rs
Owners: @risc0/platform

risc0-linux toolchain proof of concept
  Cargo.lock
  Cargo.toml
  benchmarks/Cargo.lock
  risc0/build/src/config.rs
  risc0/build/src/docker.rs
  risc0/build/src/lib.rs
  risc0/circuit/rv32im-sys/kernels/cxx/ffi.cpp
  risc0/circuit/rv32im/src/prove/witgen/preflight.rs
  risc0/sys/kernels/zkp/cuda/kernels.cu
  risc0/zkos/linux/Cargo.toml
  risc0/zkos/linux/elfs/vmlinuz.elf
  risc0/zkos/linux/elfs/vmlinuz.iid
  risc0/zkos/linux/guests/Cargo.toml
  risc0/zkos/linux/guests/build.rs
  risc0/zkos/linux/guests/hello/Cargo.lock
  risc0/zkos/linux/guests/hello/Cargo.toml
  risc0/zkos/linux/guests/hello/src/main.rs
  risc0/zkos/linux/guests/src/lib.rs
  risc0/zkos/linux/src/kernel.rs
  risc0/zkos/linux/src/kernel.s
  risc0/zkos/linux/src/lib.rs
  risc0/zkos/linux/src/main.rs
  risc0/zkvm/methods/Cargo.toml
  risc0/zkvm/methods/build.rs
Owners: @risc0/platform
