Repository risc0/risc0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @risc0/platform, @risc0/bonsai, @risc0/devrel, @risc0/demos, @tzerrell, @iddo-bentov, @flaub, @hmrtn, @nahoc, @pdg744, @nategraf, @kevinnassery

.github/CODEOWNERS:

# CODEOWNERS

# Note: Order is important; the last matching pattern takes the most
# precedence.

*                                      @risc0/platform

/bonsai/                               @risc0/bonsai
/examples/                             @risc0/devrel @risc0/demos @risc0/platform
/risc0/bigint2/                        @risc0/platform @tzerrell @iddo-bentov @flaub
/rzup/                                 @risc0/platform @hmrtn
/web/                                  @risc0/platform @nahoc
/website/                              @risc0/platform @risc0/devrel @pdg744

# These are sensitive files
/groth16_proof/groth16/                @flaub @nategraf @tzerrell
/SECURITY.md                           @kevinnassery
control_id.rs                          @flaub @nategraf @tzerrell
recursion_zkr.zip                      @flaub @nategraf @tzerrell

fix missing members in examples/Cargo.toml
  examples/Cargo.toml
Owners: @risc0/devrel, @risc0/demos, @risc0/platform

update CI runner for browser
  .github/workflows/main.yml
Owners: @risc0/platform

set label to test second 4090 machine
  .github/workflows/bench_pr.yml
  .github/workflows/bench_reports.yml
  .github/workflows/bench_trends.yml
Owners: @risc0/platform

hmm
  risc0/circuit/rv32im/src/prove/witgen/preflight.rs
Owners: @risc0/platform

vibes
  risc0/circuit/rv32im/src/prove/witgen/byte_poly.rs
  risc0/circuit/rv32im/src/prove/witgen/poseidon2.rs
  risc0/circuit/rv32im/src/prove/witgen/preflight.rs
Owners: @risc0/platform

Fix typos in bonsai/sdk/README.md
  bonsai/sdk/README.md
Owners: @risc0/bonsai

Fix typos in examples/smartcore-ml/README.md
  examples/smartcore-ml/README.md
Owners: @risc0/devrel, @risc0/demos, @risc0/platform

vibes
  risc0/circuit/rv32im/src/prove/witgen/preflight.rs
Owners: @risc0/platform

vibes
  risc0/circuit/rv32im/src/prove/witgen/preflight.rs
Owners: @risc0/platform

add 3.0 to reports
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/applications-benchmarks/[slug]/_components/applications-benchmarks-table-columns.tsx
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/applications-benchmarks/[slug]/_components/applications-benchmarks-table-schema.ts
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/applications-benchmarks/[slug]/_utils/constants.tsx
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/datasheet/_utils/constants.tsx
  web/apps/benchmarks-and-reports/src/types/version.ts
  web/apps/benchmarks-and-reports/src/versions.js
Owners: @risc0/platform, @nahoc

chmod the r0vm binary to ensure its executable
  risc0/r0vm/aws/src/main.rs
Owners: @risc0/platform

add 3.0 to reports
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/applications-benchmarks/[slug]/_components/applications-benchmarks-table-columns.tsx
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/applications-benchmarks/[slug]/_components/applications-benchmarks-table-schema.ts
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/applications-benchmarks/[slug]/_utils/constants.tsx
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/datasheet/_utils/constants.tsx
  web/apps/benchmarks-and-reports/src/types/version.ts
  web/apps/benchmarks-and-reports/src/versions.js
Owners: @risc0/platform, @nahoc

add 4090 to reports
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/applications-benchmarks/[slug]/_utils/constants.tsx
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/datasheet/_utils/constants.tsx
Owners: @risc0/platform, @nahoc

fmt
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/applications-benchmarks/[slug]/_utils/constants.tsx
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/datasheet/_utils/constants.tsx
Owners: @risc0/platform, @nahoc

add Austin's changes that worked with POC
  bento/dockerfiles/agent.dockerfile
Owners: @risc0/platform

ZKVM-1392: Disallow memory I/O to same address in the same memory cycle (#3181)
  risc0/build/src/docker.rs
  risc0/circuit/recursion/build.rs
  risc0/circuit/recursion/src/control_id.rs
  risc0/circuit/recursion/src/recursion_zkr.zip
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check.cuh
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_0.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_1.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_2.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_3.cu
  risc0/circuit/rv32im-sys/kernels/cuda/layout.cu.inc
  risc0/circuit/rv32im-sys/kernels/cuda/layout.cuh.inc
  risc0/circuit/rv32im-sys/kernels/cuda/steps.cu
  risc0/circuit/rv32im-sys/kernels/cuda/steps.cuh
  risc0/circuit/rv32im-sys/kernels/cuda/types.cuh.inc
  risc0/circuit/rv32im-sys/kernels/cxx/layout.cpp.inc
  risc0/circuit/rv32im-sys/kernels/cxx/layout.h.inc
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_0.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_1.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_2.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_3.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/steps.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/steps.h
  risc0/circuit/rv32im-sys/kernels/cxx/types.h.inc
  risc0/circuit/rv32im/src/execute/r0vm.rs
  risc0/circuit/rv32im/src/execute/rv32im.rs
  risc0/circuit/rv32im/src/prove/witgen/preflight.rs
  risc0/circuit/rv32im/src/zirgen/info.rs
  risc0/circuit/rv32im/src/zirgen/layout.rs.inc
  risc0/circuit/rv32im/src/zirgen/types.rs.inc
  risc0/zkvm/src/host/recursion/tests.rs
  risc0/zkvm/src/receipt/composite.rs
  risc0/zkvm/src/receipt/groth16.rs
  risc0/zkvm/src/receipt/succinct.rs
Owners: @risc0/platform, @flaub, @nategraf, @tzerrell

ZKVM-1395: reports: add 4090 to reports (#3183)
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/applications-benchmarks/[slug]/_utils/constants.tsx
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/datasheet/_utils/constants.tsx
Owners: @risc0/platform, @nahoc

remove workspace in browser-verify, add relative paths
  examples/browser-verify/Cargo.toml
  examples/browser-verify/guest/Cargo.toml
  examples/browser-verify/guest/fibonacci/Cargo.toml
  examples/browser-verify/host/Cargo.toml
Owners: @risc0/devrel, @risc0/demos, @risc0/platform

perhaps i finally understand cargo tomls now
  examples/Cargo.lock
  examples/Cargo.toml
  examples/browser-verify/Cargo.toml
  examples/browser-verify/host/Cargo.toml
  examples/browser-verify/src/main.rs
  examples/browser-verify/verifier/Cargo.toml
Owners: @risc0/devrel, @risc0/demos, @risc0/platform

ZKVM-1392: Disallow memory I/O to same address in the same memory cycle (#3181)
  risc0/build/src/docker.rs
  risc0/circuit/recursion/build.rs
  risc0/circuit/recursion/src/control_id.rs
  risc0/circuit/recursion/src/recursion_zkr.zip
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check.cuh
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_0.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_1.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_2.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_3.cu
  risc0/circuit/rv32im-sys/kernels/cuda/layout.cu.inc
  risc0/circuit/rv32im-sys/kernels/cuda/layout.cuh.inc
  risc0/circuit/rv32im-sys/kernels/cuda/steps.cu
  risc0/circuit/rv32im-sys/kernels/cuda/steps.cuh
  risc0/circuit/rv32im-sys/kernels/cuda/types.cuh.inc
  risc0/circuit/rv32im-sys/kernels/cxx/layout.cpp.inc
  risc0/circuit/rv32im-sys/kernels/cxx/layout.h.inc
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_0.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_1.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_2.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_3.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/steps.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/steps.h
  risc0/circuit/rv32im-sys/kernels/cxx/types.h.inc
  risc0/circuit/rv32im/src/execute/r0vm.rs
  risc0/circuit/rv32im/src/execute/rv32im.rs
  risc0/circuit/rv32im/src/prove/witgen/preflight.rs
  risc0/circuit/rv32im/src/zirgen/info.rs
  risc0/circuit/rv32im/src/zirgen/layout.rs.inc
  risc0/circuit/rv32im/src/zirgen/types.rs.inc
  risc0/zkvm/src/host/recursion/tests.rs
  risc0/zkvm/src/receipt/composite.rs
  risc0/zkvm/src/receipt/groth16.rs
  risc0/zkvm/src/receipt/succinct.rs
Owners: @risc0/platform, @flaub, @nategraf, @tzerrell

Replace reference precompiles.md
  website/api_versioned_docs/version-1.2/zkvm/precompiles.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Update precompiles.md
  website/api_versioned_docs/version-1.2/zkvm/precompiles.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Update SECURITY.md
  SECURITY.md
Owners: @kevinnassery

copy chess example cargo.toml configs
  examples/Cargo.lock
  examples/Cargo.toml
  examples/browser-verify/Cargo.toml
  examples/browser-verify/guest/fibonacci/Cargo.lock
  examples/browser-verify/guest/fibonacci/Cargo.toml
  examples/browser-verify/src/main.rs
Owners: @risc0/devrel, @risc0/demos, @risc0/platform

add dev mode skip + run license-check --fix
  examples/browser-verify/guest/build.rs
  examples/browser-verify/guest/fibonacci/src/main.rs
  examples/browser-verify/guest/src/lib.rs
  examples/browser-verify/src/main.rs
  examples/browser-verify/verifier/src/lib.rs
Owners: @risc0/devrel, @risc0/demos, @risc0/platform

reports: add version-3.0
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/applications-benchmarks/[slug]/_components/applications-benchmarks-table-columns.tsx
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/applications-benchmarks/[slug]/_components/applications-benchmarks-table-schema.ts
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/applications-benchmarks/[slug]/_utils/constants.tsx
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/datasheet/_utils/constants.tsx
  web/apps/benchmarks-and-reports/src/types/version.ts
  web/apps/benchmarks-and-reports/src/versions.js
  web/package.json
Owners: @risc0/platform, @nahoc

fmt
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/applications-benchmarks/[slug]/_components/applications-benchmarks-table-columns.tsx
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/applications-benchmarks/[slug]/_components/applications-benchmarks-table-schema.ts
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/applications-benchmarks/[slug]/_utils/constants.tsx
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/datasheet/_utils/constants.tsx
  web/apps/benchmarks-and-reports/src/types/version.ts
  web/apps/benchmarks-and-reports/src/versions.js
Owners: @risc0/platform, @nahoc

smallvec inline 12
  risc0/circuit/rv32im/src/execute/bigint.rs
Owners: @risc0/platform

ZKVM-1387: Replace `3090_ti` jobs with `4090` (#3171)
  .github/workflows/bench_pr.yml
  .github/workflows/bench_reports.yml
  .github/workflows/bench_trends.yml
Owners: @risc0/platform

Fix clippy error caused by backport
  risc0/circuit/rv32im/src/execute/rv32im.rs
Owners: @risc0/platform

Add metrics/logging to telemetry
  Cargo.lock
  risc0/r0vm/Cargo.toml
  risc0/r0vm/src/actors/factory.rs
  risc0/r0vm/src/actors/job.rs
  risc0/r0vm/src/actors/mod.rs
  risc0/r0vm/src/actors/protocol.rs
  risc0/r0vm/src/lib.rs
  risc0/r0vm/testdata/rtx_4000_ada-20.toml
  risc0/r0vm/testdata/rtx_4000_ada-21.toml
  risc0/zkvm/src/host/server/prove/dev_mode.rs
Owners: @risc0/platform

add benchmark_label and values so reports run on same runner each time
  .github/workflows/bench_reports.yml
  .github/workflows/bench_trends.yml
Owners: @risc0/platform

ZKVM-1392: Disallow memory I/O to same address in the same memory cycle (#3181)
  risc0/build/src/docker.rs
  risc0/circuit/recursion/build.rs
  risc0/circuit/recursion/src/control_id.rs
  risc0/circuit/recursion/src/recursion_zkr.zip
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check.cuh
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_0.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_1.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_2.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_3.cu
  risc0/circuit/rv32im-sys/kernels/cuda/layout.cu.inc
  risc0/circuit/rv32im-sys/kernels/cuda/layout.cuh.inc
  risc0/circuit/rv32im-sys/kernels/cuda/steps.cu
  risc0/circuit/rv32im-sys/kernels/cuda/steps.cuh
  risc0/circuit/rv32im-sys/kernels/cuda/types.cuh.inc
  risc0/circuit/rv32im-sys/kernels/cxx/layout.cpp.inc
  risc0/circuit/rv32im-sys/kernels/cxx/layout.h.inc
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_0.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_1.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_2.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_3.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/steps.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/steps.h
  risc0/circuit/rv32im-sys/kernels/cxx/types.h.inc
  risc0/circuit/rv32im/src/execute/r0vm.rs
  risc0/circuit/rv32im/src/execute/rv32im.rs
  risc0/circuit/rv32im/src/prove/witgen/preflight.rs
  risc0/circuit/rv32im/src/zirgen/info.rs
  risc0/circuit/rv32im/src/zirgen/layout.rs.inc
  risc0/circuit/rv32im/src/zirgen/types.rs.inc
  risc0/zkvm/src/host/recursion/tests.rs
  risc0/zkvm/src/receipt/composite.rs
  risc0/zkvm/src/receipt/groth16.rs
  risc0/zkvm/src/receipt/succinct.rs
Owners: @risc0/platform, @flaub, @nategraf, @tzerrell

Fix clippy error caused by backport
  risc0/circuit/rv32im/src/execute/rv32im.rs
Owners: @risc0/platform

ZKVM-1387: Replace `3090_ti` jobs with `4090` (#3171)
  .github/workflows/bench_pr.yml
  .github/workflows/bench_reports.yml
  .github/workflows/bench_trends.yml
Owners: @risc0/platform

add comment about why the change
  risc0/circuit/rv32im/src/execute/bigint.rs
Owners: @risc0/platform

lower noisy bento log levels
  bento/crates/workflow/src/tasks/executor.rs
  bento/crates/workflow/src/tasks/finalize.rs
  bento/crates/workflow/src/tasks/join.rs
  bento/crates/workflow/src/tasks/keccak.rs
  bento/crates/workflow/src/tasks/prove.rs
  bento/crates/workflow/src/tasks/resolve.rs
  bento/crates/workflow/src/tasks/snark.rs
  bento/crates/workflow/src/tasks/union.rs
Owners: @risc0/platform

adjust to single label `benchmark_pin`
  .github/workflows/bench_reports.yml
  .github/workflows/bench_trends.yml
Owners: @risc0/platform

Add test mode
  risc0/r0vm/src/actors/mod.rs
  risc0/r0vm/src/actors/tests.rs
Owners: @risc0/platform

Optimize groth16 witness generation and proving
  groth16_proof/supra/README.md
  groth16_proof/supra/cuda/build.sh
  groth16_proof/supra/cuda/chacha.cuh
  groth16_proof/supra/cuda/groth16_coeffs.cuh
  groth16_proof/supra/cuda/groth16_prover.cuh
  groth16_proof/supra/cuda/groth16_srs.cuh
  groth16_proof/supra/cuda/run_prover.cu
  groth16_proof/supra/cuda/setup_prover.cu
  groth16_proof/supra/cuda/util.cuh
  groth16_proof/supra/input-files/fib-seal.json
  groth16_proof/supra/input-files/loop-seal.json
  groth16_proof/supra/modified-circuit/risc0.circom
  groth16_proof/supra/prove_and_verify.sh
  groth16_proof/supra/setup_circuit.sh
  groth16_proof/supra/test_witness_generation.sh
Owners: @risc0/platform
