Repository risc0/risc0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @risc0/platform, @risc0/bonsai, @risc0/devrel, @risc0/demos, @tzerrell, @iddo-bentov, @flaub, @hmrtn, @nahoc, @pdg744, @nategraf, @kevinnassery

.github/CODEOWNERS:

# CODEOWNERS

# Note: Order is important; the last matching pattern takes the most
# precedence.

*                                      @risc0/platform

/bonsai/                               @risc0/bonsai
/examples/                             @risc0/devrel @risc0/demos @risc0/platform
/risc0/bigint2/                        @risc0/platform @tzerrell @iddo-bentov @flaub
/rzup/                                 @risc0/platform @hmrtn
/web/                                  @risc0/platform @nahoc
/website/                              @risc0/platform @risc0/devrel @pdg744

# These are sensitive files
/groth16_proof/groth16/                @flaub @nategraf @tzerrell
/SECURITY.md                           @kevinnassery
control_id.rs                          @flaub @nategraf @tzerrell
recursion_zkr.zip                      @flaub @nategraf @tzerrell

WIP
  .cargo/config.toml
  Cargo.lock
  bento/Cargo.lock
  bento/Cargo.toml
  groth16_proof/supra/.gitignore
  groth16_proof/supra/README.md
  groth16_proof/supra/cuda/build.sh
  groth16_proof/supra/cuda/chacha.cuh
  groth16_proof/supra/cuda/groth16_coeffs.cuh
  groth16_proof/supra/cuda/groth16_prover.cuh
  groth16_proof/supra/cuda/groth16_srs.cuh
  groth16_proof/supra/cuda/run_prover.cu
  groth16_proof/supra/cuda/setup_prover.cu
  groth16_proof/supra/cuda/util.cuh
  groth16_proof/supra/input-files/fib-seal.json
  groth16_proof/supra/input-files/loop-seal.json
  groth16_proof/supra/modified-circuit/risc0.circom
  groth16_proof/supra/prove_and_verify.sh
  groth16_proof/supra/setup_circuit.sh
  groth16_proof/supra/test_witness_generation.sh
  risc0/groth16-sys/Cargo.toml
  risc0/groth16-sys/build.rs
  risc0/groth16-sys/kernels/cuda/chacha.cuh
  risc0/groth16-sys/kernels/cuda/ffi.cu
  risc0/groth16-sys/kernels/cuda/groth16_coeffs.cuh
  risc0/groth16-sys/kernels/cuda/groth16_prover.cuh
  risc0/groth16-sys/kernels/cuda/groth16_srs.cuh
  risc0/groth16-sys/kernels/cuda/util.cuh
  risc0/groth16-sys/src/lib.rs
  risc0/groth16/src/prove/cuda.rs
  xtask/Cargo.toml
  xtask/src/bootstrap_groth16.rs
  xtask/src/main.rs
  xtask/src/semver_checks.rs
  xtask/src/setup_groth16.rs
  xtask/src/update_crate_version.rs
Owners: @risc0/platform

Update guest builder docker image to Rust 1.88.0
  risc0/build/src/lib.rs
  risc0/cargo-risczero/docker/Dockerfile.release
Owners: @risc0/platform

Update docker ImageID
  risc0/build/src/docker.rs
Owners: @risc0/platform

Update lib.rs
  risc0/build/src/lib.rs
Owners: @risc0/platform

Upgrade guest docker builder to Rust 1.88.0 (#3236)
  risc0/build/src/docker.rs
  risc0/build/src/lib.rs
  risc0/cargo-risczero/docker/Dockerfile.release
Owners: @risc0/platform

Apply changes from risc0/zirgen@b5abc506bbc97f83496ef42e19f3e8961444be5c
  risc0/circuit/recursion/build.rs
  risc0/circuit/recursion/src/recursion_zkr.zip
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check.cuh
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_0.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_1.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_2.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_3.cu
  risc0/circuit/rv32im-sys/kernels/cuda/layout.cu.inc
  risc0/circuit/rv32im-sys/kernels/cuda/layout.cuh.inc
  risc0/circuit/rv32im-sys/kernels/cuda/steps.cu
  risc0/circuit/rv32im-sys/kernels/cuda/types.cuh.inc
  risc0/circuit/rv32im-sys/kernels/cxx/layout.cpp.inc
  risc0/circuit/rv32im-sys/kernels/cxx/layout.h.inc
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_0.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_1.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_2.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_3.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/steps.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/types.h.inc
  risc0/circuit/rv32im/src/zirgen/info.rs
  risc0/circuit/rv32im/src/zirgen/layout.rs.inc
  risc0/circuit/rv32im/src/zirgen/types.rs.inc
Owners: @risc0/platform, @flaub, @nategraf, @tzerrell

Update control roots
  risc0/circuit/recursion/src/control_id.rs
Owners: @flaub, @nategraf, @tzerrell

Update docker test ImageID
  risc0/build/src/docker.rs
Owners: @risc0/platform

Update host::recursion::tests::stable_root test expectation
  risc0/zkvm/src/host/recursion/tests.rs
Owners: @risc0/platform

Update composite groth16 and succinct "is_stable" test expectations
  risc0/zkvm/src/receipt/composite.rs
  risc0/zkvm/src/receipt/groth16.rs
  risc0/zkvm/src/receipt/succinct.rs
Owners: @risc0/platform

Update lib.rs
  risc0/build/src/lib.rs
Owners: @risc0/platform

Update lib.rs
  risc0/build/src/lib.rs
Owners: @risc0/platform

Circuit changes to "improve special case handling for division" (#3235)
  risc0/build/src/docker.rs
  risc0/circuit/recursion/build.rs
  risc0/circuit/recursion/src/control_id.rs
  risc0/circuit/recursion/src/recursion_zkr.zip
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check.cuh
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_0.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_1.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_2.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_3.cu
  risc0/circuit/rv32im-sys/kernels/cuda/layout.cu.inc
  risc0/circuit/rv32im-sys/kernels/cuda/layout.cuh.inc
  risc0/circuit/rv32im-sys/kernels/cuda/steps.cu
  risc0/circuit/rv32im-sys/kernels/cuda/types.cuh.inc
  risc0/circuit/rv32im-sys/kernels/cxx/layout.cpp.inc
  risc0/circuit/rv32im-sys/kernels/cxx/layout.h.inc
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_0.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_1.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_2.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_3.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/steps.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/types.h.inc
  risc0/circuit/rv32im/src/zirgen/info.rs
  risc0/circuit/rv32im/src/zirgen/layout.rs.inc
  risc0/circuit/rv32im/src/zirgen/types.rs.inc
  risc0/zkvm/src/host/recursion/tests.rs
  risc0/zkvm/src/receipt/composite.rs
  risc0/zkvm/src/receipt/groth16.rs
  risc0/zkvm/src/receipt/succinct.rs
Owners: @risc0/platform, @flaub, @nategraf, @tzerrell

[release-2.2] Partial backport of a4b0091736dfdd8f582d470f04e7164e04e1ae12
  risc0/zkvm/platform/src/syscall.rs
Owners: @risc0/platform

[release-2.2] backport: ZKVM-1334: Hard disable fake receipt verification in the zkVM (#3102)
  risc0/zkvm/src/receipt.rs
Owners: @risc0/platform

[release-2.2] backport: Circuit changes to "improve special case handling for division" (#3235)
  risc0/build/src/docker.rs
  risc0/circuit/recursion/build.rs
  risc0/circuit/recursion/src/control_id.rs
  risc0/circuit/recursion/src/recursion_zkr.zip
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check.cuh
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_0.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_1.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_2.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_3.cu
  risc0/circuit/rv32im-sys/kernels/cuda/layout.cu.inc
  risc0/circuit/rv32im-sys/kernels/cuda/layout.cuh.inc
  risc0/circuit/rv32im-sys/kernels/cuda/steps.cu
  risc0/circuit/rv32im-sys/kernels/cuda/types.cuh.inc
  risc0/circuit/rv32im-sys/kernels/cxx/layout.cpp.inc
  risc0/circuit/rv32im-sys/kernels/cxx/layout.h.inc
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_0.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_1.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_2.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_3.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/steps.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/types.h.inc
  risc0/circuit/rv32im/src/zirgen/info.rs
  risc0/circuit/rv32im/src/zirgen/layout.rs.inc
  risc0/circuit/rv32im/src/zirgen/types.rs.inc
  risc0/zkvm/src/host/recursion/tests.rs
  risc0/zkvm/src/receipt/composite.rs
  risc0/zkvm/src/receipt/groth16.rs
  risc0/zkvm/src/receipt/succinct.rs
Owners: @risc0/platform, @flaub, @nategraf, @tzerrell

Update sccache cache key
  .github/actions/sccache/action.yml
Owners: @risc0/platform

Update Host to 1.88.0
  rust-toolchain.toml
Owners: @risc0/platform

Fix clippy warnings
  benchmarks/shared/src/lib.rs
  bento/crates/taskdb/src/lib.rs
  bento/crates/taskdb/src/planner/mod.rs
  bento/crates/taskdb/tests/e2e.rs
  bonsai/sdk/src/lib.rs
  examples/c-guest/host/src/main.rs
  examples/hello-world/src/lib.rs
  examples/keccak/src/main.rs
  examples/prorata/src/main.rs
  examples/sha/src/main.rs
  examples/wordle/src/main.rs
  risc0/binfmt/src/hash.rs
  risc0/build/src/lib.rs
  risc0/build_kernel/src/lib.rs
  risc0/cargo-risczero/src/utils.rs
  risc0/circuit/rv32im/src/execute/bigint.rs
  risc0/circuit/rv32im/src/execute/gdb.rs
  risc0/circuit/rv32im/src/prove/witgen/paged_map.rs
  risc0/r0vm/src/actors/mod.rs
  risc0/r0vm/src/actors/protocol.rs
  risc0/r0vm/src/actors/rpc.rs
  risc0/zkp/src/adapter.rs
  risc0/zkp/src/layout.rs
  risc0/zkvm/compat/tests/compat.rs
  risc0/zkvm/examples/datasheet.rs
  risc0/zkvm/src/host/api/server.rs
  risc0/zkvm/src/host/server/exec/tests.rs
  risc0/zkvm/src/host/server/prove/tests.rs
  risc0/zkvm/src/receipt/succinct.rs
  risc0/zkvm/src/serde/deserializer.rs
  rzup/src/settings.rs
  tools/hotbench/src/lib.rs
  website/doc-test/main/build.rs
  xtask/src/bootstrap_groth16.rs
  xtask/src/bootstrap_poseidon.rs
  xtask/src/semver_checks.rs
Owners: @risc0/platform, @risc0/bonsai, @risc0/devrel, @risc0/demos, @hmrtn, @pdg744

Update cargo-semver-checks
  Cargo.lock
  xtask/Cargo.toml
Owners: @risc0/platform

Clear CARGO_ENCODED_RUSTFLAGS when calling cargo install in compat tests
  risc0/zkvm/compat/build.rs
Owners: @risc0/platform

Remove `#[no_mangle]` from this panic_handler in external/substrate
  external/substrate/src/lib.rs
Owners: @risc0/platform

[release-2.2] backport: ZKVM-1334: Hard disable fake receipt verification in the zkVM (#3102)
  risc0/zkvm/src/receipt.rs
Owners: @risc0/platform

[release-2.2] Partial backport of a4b0091736dfdd8f582d470f04e7164e04e1ae12
  risc0/zkvm/platform/src/syscall.rs
Owners: @risc0/platform

[release-2.2] backport: Circuit changes to "improve special case handling for division" (#3235)
  risc0/build/src/docker.rs
  risc0/circuit/recursion/build.rs
  risc0/circuit/recursion/src/control_id.rs
  risc0/circuit/recursion/src/recursion_zkr.zip
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check.cuh
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_0.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_1.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_2.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_3.cu
  risc0/circuit/rv32im-sys/kernels/cuda/layout.cu.inc
  risc0/circuit/rv32im-sys/kernels/cuda/layout.cuh.inc
  risc0/circuit/rv32im-sys/kernels/cuda/steps.cu
  risc0/circuit/rv32im-sys/kernels/cuda/types.cuh.inc
  risc0/circuit/rv32im-sys/kernels/cxx/layout.cpp.inc
  risc0/circuit/rv32im-sys/kernels/cxx/layout.h.inc
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_0.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_1.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_2.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_3.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/steps.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/types.h.inc
  risc0/circuit/rv32im/src/zirgen/info.rs
  risc0/circuit/rv32im/src/zirgen/layout.rs.inc
  risc0/circuit/rv32im/src/zirgen/types.rs.inc
  risc0/zkvm/src/host/recursion/tests.rs
  risc0/zkvm/src/receipt/composite.rs
  risc0/zkvm/src/receipt/groth16.rs
  risc0/zkvm/src/receipt/succinct.rs
Owners: @risc0/platform, @flaub, @nategraf, @tzerrell

Update sccache cache key
  .github/actions/sccache/action.yml
Owners: @risc0/platform

fix: add cross-platform symlink support for Windows
  rzup/src/components.rs
Owners: @risc0/platform, @hmrtn

Remove bigint2 features from unstable
  risc0/bigint2/README.md
  risc0/bigint2/methods/guest/Cargo.toml
  risc0/bigint2/src/ec/mod.rs
  risc0/bigint2/src/field/ffi.rs
  risc0/bigint2/src/lib.rs
Owners: @risc0/platform, @tzerrell, @iddo-bentov, @flaub

Stabilize bigint2 features in risc0
  risc0/bigint2/methods/Cargo.toml
  risc0/build/src/docker.rs
  risc0/build/src/lib.rs
  risc0/zkvm/platform/src/syscall.rs
Owners: @risc0/platform, @tzerrell, @iddo-bentov, @flaub

Update website precompiles page
  website/api/zkvm/precompiles.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Remove unstable from bigint examples
  examples/bls12_381/Cargo.toml
  examples/bls12_381/methods/Cargo.toml
  examples/bls12_381/methods/guest/Cargo.toml
  examples/bn254/methods/Cargo.toml
  examples/bn254/methods/guest/Cargo.toml
  examples/ecdsa/k256/methods/Cargo.toml
  examples/ecdsa/k256/methods/guest/Cargo.toml
  examples/ecdsa/p256/methods/Cargo.toml
  examples/ecdsa/p256/methods/guest/Cargo.toml
  examples/jwt-validator/methods/Cargo.toml
  examples/jwt-validator/methods/guest/Cargo.toml
Owners: @risc0/devrel, @risc0/demos, @risc0/platform

Update mod.rs
  risc0/zkp/src/prove/mod.rs
Owners: @risc0/platform

Update poolstl.hpp
  risc0/sys/cxx/vendor/poolstl.hpp
Owners: @risc0/platform

Update poolstl.hpp
  risc0/sys/cxx/vendor/poolstl.hpp
Owners: @risc0/platform

fix: correct typo in error message (stdout instead of stodout)
  rzup/src/build.rs
Owners: @risc0/platform, @hmrtn

Update docs for 2.2
  website/api_versioned_docs/version-2.2/blockchain-integration/contracts/verifier.md
  website/api_versioned_docs/version-2.2/blockchain-integration/risc-zero-on-eth.md
  website/api_versioned_docs/version-2.2/generating-proofs/dev-mode.md
  website/api_versioned_docs/version-2.2/generating-proofs/local-proving.md
  website/api_versioned_docs/version-2.2/generating-proofs/proving-options.md
  website/api_versioned_docs/version-2.2/generating-proofs/remote-proving.md
  website/api_versioned_docs/version-2.2/getting-started.md
  website/api_versioned_docs/version-2.2/introduction.md
  website/api_versioned_docs/version-2.2/recursion.md
  website/api_versioned_docs/version-2.2/secure-sdlc.md
  website/api_versioned_docs/version-2.2/security-model.md
  website/api_versioned_docs/version-2.2/trusted-setup-ceremony.md
  website/api_versioned_docs/version-2.2/use-cases.md
  website/api_versioned_docs/version-2.2/zkvm/benchmarks.md
  website/api_versioned_docs/version-2.2/zkvm/composition.md
  website/api_versioned_docs/version-2.2/zkvm/examples.md
  website/api_versioned_docs/version-2.2/zkvm/guest-code-101.md
  website/api_versioned_docs/version-2.2/zkvm/host-code-101.md
  website/api_versioned_docs/version-2.2/zkvm/install.md
  website/api_versioned_docs/version-2.2/zkvm/optimization.md
  website/api_versioned_docs/version-2.2/zkvm/precompiles.md
  website/api_versioned_docs/version-2.2/zkvm/profiling.md
  website/api_versioned_docs/version-2.2/zkvm/quickstart.md
  website/api_versioned_docs/version-2.2/zkvm/receipts.md
  website/api_versioned_docs/version-2.2/zkvm/rust-crates-with-cpp.md
  website/api_versioned_docs/version-2.2/zkvm/rust-resources.md
  website/api_versioned_docs/version-2.2/zkvm/tutorials/hello-world.md
  website/api_versioned_docs/version-2.2/zkvm/tutorials/io.md
  website/api_versioned_docs/version-2.2/zkvm/tutorials/overview.md
  website/api_versioned_docs/version-2.2/zkvm/zkvm-overview.md
  website/api_versioned_docs/version-2.2/zkvm/zkvm-specification.md
  website/api_versioned_sidebars/version-2.2-sidebars.json
  website/api_versions.json
Owners: @risc0/platform, @risc0/devrel, @pdg744

Unify byte slice handling in run_guest_framed calls in serde benchmark
  risc0/zkvm/benches/guest_run.rs
Owners: @risc0/platform

Stabilize bigint2 feature (#3241)
  examples/bls12_381/Cargo.toml
  examples/bls12_381/methods/Cargo.toml
  examples/bls12_381/methods/guest/Cargo.toml
  examples/bn254/methods/Cargo.toml
  examples/bn254/methods/guest/Cargo.toml
  examples/ecdsa/k256/methods/Cargo.toml
  examples/ecdsa/k256/methods/guest/Cargo.toml
  examples/ecdsa/p256/methods/Cargo.toml
  examples/ecdsa/p256/methods/guest/Cargo.toml
  examples/jwt-validator/methods/Cargo.toml
  examples/jwt-validator/methods/guest/Cargo.toml
  risc0/bigint2/README.md
  risc0/bigint2/methods/Cargo.toml
  risc0/bigint2/methods/guest/Cargo.toml
  risc0/bigint2/src/ec/mod.rs
  risc0/bigint2/src/field/ffi.rs
  risc0/bigint2/src/lib.rs
  risc0/build/src/docker.rs
  risc0/build/src/lib.rs
  risc0/zkvm/platform/src/syscall.rs
  website/api/zkvm/precompiles.md
Owners: @risc0/devrel, @risc0/demos, @risc0/platform, @tzerrell, @iddo-bentov, @flaub, @pdg744

remove the version numbers from the unversioned part of the docs
  website/api/blockchain-integration/contracts/verifier.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

remove todo
  website/api/blockchain-integration/contracts/verifier.md
Owners: @risc0/platform, @risc0/devrel, @pdg744
