Repository risc0/risc0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @risc0/platform, @risc0/bonsai, @risc0/devrel, @risc0/demos, @tzerrell, @iddo-bentov, @flaub, @hmrtn, @nahoc, @pdg744, @nategraf, @kevinnassery

.github/CODEOWNERS:

# CODEOWNERS

# Note: Order is important; the last matching pattern takes the most
# precedence.

*                                      @risc0/platform

/bonsai/                               @risc0/bonsai
/examples/                             @risc0/devrel @risc0/demos @risc0/platform
/risc0/bigint2/                        @risc0/platform @tzerrell @iddo-bentov @flaub
/rzup/                                 @risc0/platform @hmrtn
/web/                                  @risc0/platform @nahoc
/website/                              @risc0/platform @risc0/devrel @pdg744

# These are sensitive files
/groth16_proof/groth16/                @flaub @nategraf @tzerrell
/SECURITY.md                           @kevinnassery
control_id.rs                          @flaub @nategraf @tzerrell
recursion_zkr.zip                      @flaub @nategraf @tzerrell

Move CI back to AWS
  .github/actions/sccache/action.yml
  .github/workflows/bench_pr.yml
  .github/workflows/bench_reports.yml
  .github/workflows/bench_trends.yml
  .github/workflows/groth16_proof.yml
  .github/workflows/main.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/risc0-ethereum.yml
  .github/workflows/website.yml
Owners: @risc0/platform

Disable check-semver temporarily
  .github/workflows/main.yml
Owners: @risc0/platform

ZKVM-1418: Move CI back to AWS (#3210)
  .github/actions/sccache/action.yml
  .github/workflows/bench_pr.yml
  .github/workflows/bench_reports.yml
  .github/workflows/bench_trends.yml
  .github/workflows/groth16_proof.yml
  .github/workflows/main.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/risc0-ethereum.yml
  .github/workflows/website.yml
Owners: @risc0/platform

Update semver baseline. Bump required versions
  Cargo.lock
  Cargo.toml
  risc0/bigint2/Cargo.toml
  risc0/circuit/rv32im-sys/Cargo.toml
  semver-baselines.lock
Owners: @risc0/platform, @tzerrell, @iddo-bentov, @flaub

Update lockfiles
  benchmarks/Cargo.lock
  bento/Cargo.lock
  examples/Cargo.lock
  risc0/bigint2/methods/guest/Cargo.lock
Owners: @risc0/platform, @risc0/devrel, @risc0/demos, @tzerrell, @iddo-bentov, @flaub

Re-enable CI check-semver requirement
  .github/workflows/main.yml
Owners: @risc0/platform

ZKVM-1417: Update semver baseline. Bump required versions (#3209)
  .github/workflows/main.yml
  Cargo.lock
  Cargo.toml
  benchmarks/Cargo.lock
  bento/Cargo.lock
  examples/Cargo.lock
  risc0/bigint2/Cargo.toml
  risc0/bigint2/methods/guest/Cargo.lock
  risc0/circuit/rv32im-sys/Cargo.toml
  semver-baselines.lock
Owners: @risc0/platform, @risc0/devrel, @risc0/demos, @tzerrell, @iddo-bentov, @flaub

Update docs for v2.1
  README.md
  website/api_versioned_docs/version-2.1.0/blockchain-integration/contracts/verifier.md
  website/api_versioned_docs/version-2.1.0/blockchain-integration/risc-zero-on-eth.md
  website/api_versioned_docs/version-2.1.0/generating-proofs/dev-mode.md
  website/api_versioned_docs/version-2.1.0/generating-proofs/local-proving.md
  website/api_versioned_docs/version-2.1.0/generating-proofs/proving-options.md
  website/api_versioned_docs/version-2.1.0/generating-proofs/remote-proving.md
  website/api_versioned_docs/version-2.1.0/getting-started.md
  website/api_versioned_docs/version-2.1.0/introduction.md
  website/api_versioned_docs/version-2.1.0/recursion.md
  website/api_versioned_docs/version-2.1.0/secure-sdlc.md
  website/api_versioned_docs/version-2.1.0/security-model.md
  website/api_versioned_docs/version-2.1.0/trusted-setup-ceremony.md
  website/api_versioned_docs/version-2.1.0/use-cases.md
  website/api_versioned_docs/version-2.1.0/zkvm/benchmarks.md
  website/api_versioned_docs/version-2.1.0/zkvm/composition.md
  website/api_versioned_docs/version-2.1.0/zkvm/examples.md
  website/api_versioned_docs/version-2.1.0/zkvm/guest-code-101.md
  website/api_versioned_docs/version-2.1.0/zkvm/host-code-101.md
  website/api_versioned_docs/version-2.1.0/zkvm/install.md
  website/api_versioned_docs/version-2.1.0/zkvm/optimization.md
  website/api_versioned_docs/version-2.1.0/zkvm/precompiles.md
  website/api_versioned_docs/version-2.1.0/zkvm/profiling.md
  website/api_versioned_docs/version-2.1.0/zkvm/quickstart.md
  website/api_versioned_docs/version-2.1.0/zkvm/receipts.md
  website/api_versioned_docs/version-2.1.0/zkvm/rust-crates-with-cpp.md
  website/api_versioned_docs/version-2.1.0/zkvm/rust-resources.md
  website/api_versioned_docs/version-2.1.0/zkvm/tutorials/hello-world.md
  website/api_versioned_docs/version-2.1.0/zkvm/tutorials/io.md
  website/api_versioned_docs/version-2.1.0/zkvm/tutorials/overview.md
  website/api_versioned_docs/version-2.1.0/zkvm/zkvm-overview.md
  website/api_versioned_docs/version-2.1.0/zkvm/zkvm-specification.md
  website/api_versioned_sidebars/version-2.1.0-sidebars.json
  website/api_versions.json
Owners: @risc0/platform, @risc0/devrel, @pdg744

add verifier contract addresses
  website/api/blockchain-integration/contracts/verifier.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Add verifier contract addresses to 2.1 docs (#3212)
  website/api/blockchain-integration/contracts/verifier.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Fix lint issues
  website/api/blockchain-integration/contracts/verifier.md
  website/api_versioned_docs/version-2.1.0/blockchain-integration/contracts/verifier.md
  website/api_versioned_docs/version-2.1.0/blockchain-integration/risc-zero-on-eth.md
  website/api_versioned_docs/version-2.1.0/generating-proofs/dev-mode.md
  website/api_versioned_docs/version-2.1.0/generating-proofs/local-proving.md
  website/api_versioned_docs/version-2.1.0/generating-proofs/proving-options.md
  website/api_versioned_docs/version-2.1.0/generating-proofs/remote-proving.md
  website/api_versioned_docs/version-2.1.0/recursion.md
  website/api_versioned_docs/version-2.1.0/secure-sdlc.md
  website/api_versioned_docs/version-2.1.0/security-model.md
  website/api_versioned_docs/version-2.1.0/trusted-setup-ceremony.md
  website/api_versioned_docs/version-2.1.0/use-cases.md
  website/api_versioned_docs/version-2.1.0/zkvm/composition.md
  website/api_versioned_docs/version-2.1.0/zkvm/examples.md
  website/api_versioned_docs/version-2.1.0/zkvm/guest-code-101.md
  website/api_versioned_docs/version-2.1.0/zkvm/host-code-101.md
  website/api_versioned_docs/version-2.1.0/zkvm/install.md
  website/api_versioned_docs/version-2.1.0/zkvm/optimization.md
  website/api_versioned_docs/version-2.1.0/zkvm/precompiles.md
  website/api_versioned_docs/version-2.1.0/zkvm/profiling.md
  website/api_versioned_docs/version-2.1.0/zkvm/receipts.md
  website/api_versioned_docs/version-2.1.0/zkvm/tutorials/io.md
  website/api_versions.json
  website/link-version-check.py
Owners: @risc0/platform, @risc0/devrel, @pdg744

fix construction of verifier parameters in the prove_zkr
  risc0/zkvm/src/host/recursion/prove/mod.rs
  risc0/zkvm/src/host/server/prove/prover_impl.rs
Owners: @risc0/platform

update docker build digest
  risc0/build/src/docker.rs
Owners: @risc0/platform

Move version-2.1.0 to version-2.1
  website/api_versioned_docs/version-2.1/blockchain-integration/contracts/verifier.md
  website/api_versioned_docs/version-2.1/blockchain-integration/risc-zero-on-eth.md
  website/api_versioned_docs/version-2.1/generating-proofs/dev-mode.md
  website/api_versioned_docs/version-2.1/generating-proofs/local-proving.md
  website/api_versioned_docs/version-2.1/generating-proofs/proving-options.md
  website/api_versioned_docs/version-2.1/generating-proofs/remote-proving.md
  website/api_versioned_docs/version-2.1/getting-started.md
  website/api_versioned_docs/version-2.1/introduction.md
  website/api_versioned_docs/version-2.1/recursion.md
  website/api_versioned_docs/version-2.1/secure-sdlc.md
  website/api_versioned_docs/version-2.1/security-model.md
  website/api_versioned_docs/version-2.1/trusted-setup-ceremony.md
  website/api_versioned_docs/version-2.1/use-cases.md
  website/api_versioned_docs/version-2.1/zkvm/benchmarks.md
  website/api_versioned_docs/version-2.1/zkvm/composition.md
  website/api_versioned_docs/version-2.1/zkvm/examples.md
  website/api_versioned_docs/version-2.1/zkvm/guest-code-101.md
  website/api_versioned_docs/version-2.1/zkvm/host-code-101.md
  website/api_versioned_docs/version-2.1/zkvm/install.md
  website/api_versioned_docs/version-2.1/zkvm/optimization.md
  website/api_versioned_docs/version-2.1/zkvm/precompiles.md
  website/api_versioned_docs/version-2.1/zkvm/profiling.md
  website/api_versioned_docs/version-2.1/zkvm/quickstart.md
  website/api_versioned_docs/version-2.1/zkvm/receipts.md
  website/api_versioned_docs/version-2.1/zkvm/rust-crates-with-cpp.md
  website/api_versioned_docs/version-2.1/zkvm/rust-resources.md
  website/api_versioned_docs/version-2.1/zkvm/tutorials/hello-world.md
  website/api_versioned_docs/version-2.1/zkvm/tutorials/io.md
  website/api_versioned_docs/version-2.1/zkvm/tutorials/overview.md
  website/api_versioned_docs/version-2.1/zkvm/zkvm-overview.md
  website/api_versioned_docs/version-2.1/zkvm/zkvm-specification.md
  website/api_versions.json
Owners: @risc0/platform, @risc0/devrel, @pdg744

ZKVM-1020: Fix verifier parameters metadata check to actually compare verifier context and metadata (#2619)
  risc0/build/src/docker.rs
  risc0/zkvm/src/host/recursion/prove/mod.rs
  risc0/zkvm/src/host/server/prove/prover_impl.rs
  risc0/zkvm/src/receipt.rs
  risc0/zkvm/src/receipt/groth16.rs
  risc0/zkvm/src/receipt/segment.rs
  risc0/zkvm/src/receipt/succinct.rs
Owners: @risc0/platform

boostrap from zirgen c62e35ca40e37393cfb032855d2fb7657d052459
  risc0/circuit/rv32im-sys/kernels/cuda/defs.cu.inc
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check.cuh
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_0.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_1.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_2.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_3.cu
  risc0/circuit/rv32im-sys/kernels/cuda/layout.cu.inc
  risc0/circuit/rv32im-sys/kernels/cuda/layout.cuh.inc
  risc0/circuit/rv32im-sys/kernels/cuda/steps.cu
  risc0/circuit/rv32im-sys/kernels/cuda/steps.cuh
  risc0/circuit/rv32im-sys/kernels/cuda/types.cuh.inc
  risc0/circuit/rv32im-sys/kernels/cxx/defs.cpp.inc
  risc0/circuit/rv32im-sys/kernels/cxx/layout.cpp.inc
  risc0/circuit/rv32im-sys/kernels/cxx/layout.h.inc
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_0.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_1.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_2.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_3.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/steps.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/steps.h
  risc0/circuit/rv32im-sys/kernels/cxx/types.h.inc
  risc0/circuit/rv32im/src/zirgen/defs.rs.inc
  risc0/circuit/rv32im/src/zirgen/info.rs
  risc0/circuit/rv32im/src/zirgen/layout.rs.inc
  risc0/circuit/rv32im/src/zirgen/types.rs.inc
Owners: @risc0/platform

Update bento lockfiles for 2.1 release
  bento/Cargo.lock
  bento/crates/sample-guest/methods/guest/Cargo.lock
Owners: @risc0/platform

wip on updating prefligh to handle the povw nonce
  risc0/circuit/rv32im/src/lib.rs
  risc0/circuit/rv32im/src/prove/witgen/mod.rs
Owners: @risc0/platform

bootstrap from zirgen 815e0d0815a6a1b9aee849da38e9379cfad83076
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check.cuh
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_0.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_1.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_2.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_3.cu
  risc0/circuit/rv32im-sys/kernels/cuda/layout.cu.inc
  risc0/circuit/rv32im-sys/kernels/cuda/layout.cuh.inc
  risc0/circuit/rv32im-sys/kernels/cuda/steps.cu
  risc0/circuit/rv32im-sys/kernels/cuda/steps.cuh
  risc0/circuit/rv32im-sys/kernels/cuda/types.cuh.inc
  risc0/circuit/rv32im-sys/kernels/cxx/layout.cpp.inc
  risc0/circuit/rv32im-sys/kernels/cxx/layout.h.inc
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_0.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_1.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_2.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_3.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/steps.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/steps.h
  risc0/circuit/rv32im-sys/kernels/cxx/types.h.inc
  risc0/circuit/rv32im/src/zirgen/info.rs
  risc0/circuit/rv32im/src/zirgen/layout.rs.inc
  risc0/circuit/rv32im/src/zirgen/types.rs.inc
Owners: @risc0/platform

Disable bento-run CI job
  .github/workflows/main.yml
Owners: @risc0/platform

update recursion programs from zirgen 169706b81f9dc786c31635641df0e6d7cee7c25e
  risc0/circuit/recursion/build.rs
  risc0/circuit/recursion/src/control_id.rs
  risc0/circuit/recursion/src/recursion_zkr.zip
Owners: @risc0/platform, @flaub, @nategraf, @tzerrell

Try using nvidia-mps for better GPU usage
  .github/workflows/bench_pr.yml
  .github/workflows/bench_reports.yml
  .github/workflows/bench_trends.yml
  .github/workflows/main.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/risc0-ethereum.yml
  .github/workflows/website.yml
Owners: @risc0/platform

Changes for cluster
  .github/actions/sccache/action.yml
  .github/workflows/bench_pr.yml
  .github/workflows/bench_reports.yml
  .github/workflows/bench_trends.yml
  .github/workflows/groth16_proof.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  .github/workflows/risc0-ethereum.yml
  .github/workflows/website.yml
Owners: @risc0/platform

use cluster
  .github/actions/sccache/action.yml
  .github/workflows/bench_pr.yml
  .github/workflows/bench_reports.yml
  .github/workflows/bench_trends.yml
  .github/workflows/main.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/risc0-ethereum.yml
  .github/workflows/website.yml
Owners: @risc0/platform

Use runner group
  .github/workflows/bench_pr.yml
  .github/workflows/bench_reports.yml
  .github/workflows/bench_trends.yml
  .github/workflows/main.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/risc0-ethereum.yml
  .github/workflows/website.yml
Owners: @risc0/platform

Revert "Use runner group"
  .github/workflows/bench_pr.yml
  .github/workflows/bench_reports.yml
  .github/workflows/bench_trends.yml
  .github/workflows/main.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/risc0-ethereum.yml
  .github/workflows/website.yml
Owners: @risc0/platform

drop linear
  .github/workflows/linear.yml
Owners: @risc0/platform

Use nvidia-mps for better GPU usage (#3213)
  .github/actions/sccache/action.yml
  .github/workflows/bench_pr.yml
  .github/workflows/bench_reports.yml
  .github/workflows/bench_trends.yml
  .github/workflows/groth16_proof.yml
  .github/workflows/linear.yml
  .github/workflows/main.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/risc0-ethereum.yml
  .github/workflows/website.yml
Owners: @risc0/platform

ZKVM-1420: Update docs for v2.1 (#3211)
  README.md
  website/api_versioned_docs/version-2.1/blockchain-integration/contracts/verifier.md
  website/api_versioned_docs/version-2.1/blockchain-integration/risc-zero-on-eth.md
  website/api_versioned_docs/version-2.1/generating-proofs/dev-mode.md
  website/api_versioned_docs/version-2.1/generating-proofs/local-proving.md
  website/api_versioned_docs/version-2.1/generating-proofs/proving-options.md
  website/api_versioned_docs/version-2.1/generating-proofs/remote-proving.md
  website/api_versioned_docs/version-2.1/getting-started.md
  website/api_versioned_docs/version-2.1/introduction.md
  website/api_versioned_docs/version-2.1/recursion.md
  website/api_versioned_docs/version-2.1/secure-sdlc.md
  website/api_versioned_docs/version-2.1/security-model.md
  website/api_versioned_docs/version-2.1/trusted-setup-ceremony.md
  website/api_versioned_docs/version-2.1/use-cases.md
  website/api_versioned_docs/version-2.1/zkvm/benchmarks.md
  website/api_versioned_docs/version-2.1/zkvm/composition.md
  website/api_versioned_docs/version-2.1/zkvm/examples.md
  website/api_versioned_docs/version-2.1/zkvm/guest-code-101.md
  website/api_versioned_docs/version-2.1/zkvm/host-code-101.md
  website/api_versioned_docs/version-2.1/zkvm/install.md
  website/api_versioned_docs/version-2.1/zkvm/optimization.md
  website/api_versioned_docs/version-2.1/zkvm/precompiles.md
  website/api_versioned_docs/version-2.1/zkvm/profiling.md
  website/api_versioned_docs/version-2.1/zkvm/quickstart.md
  website/api_versioned_docs/version-2.1/zkvm/receipts.md
  website/api_versioned_docs/version-2.1/zkvm/rust-crates-with-cpp.md
  website/api_versioned_docs/version-2.1/zkvm/rust-resources.md
  website/api_versioned_docs/version-2.1/zkvm/tutorials/hello-world.md
  website/api_versioned_docs/version-2.1/zkvm/tutorials/io.md
  website/api_versioned_docs/version-2.1/zkvm/tutorials/overview.md
  website/api_versioned_docs/version-2.1/zkvm/zkvm-overview.md
  website/api_versioned_docs/version-2.1/zkvm/zkvm-specification.md
  website/api_versioned_sidebars/version-2.1.0-sidebars.json
  website/api_versions.json
  website/link-version-check.py
Owners: @risc0/platform, @risc0/devrel, @pdg744

rearranging deck chairs
  risc0/zkvm/src/receipt_claim.rs
Owners: @risc0/platform

Update documentation link to root risc0_zkvm docs
  risc0/zkp/src/prove/mod.rs
Owners: @risc0/platform

docs: update broken link
  website/api_versioned_docs/version-1.1/blockchain-integration/contracts/verifier.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Fix 2.1 sidebar name
  website/api_versioned_sidebars/version-2.1-sidebars.json
Owners: @risc0/platform, @risc0/devrel, @pdg744

move ProverOpts into opts.rs
  risc0/zkvm/src/host/client/prove/mod.rs
  risc0/zkvm/src/host/client/prove/opts.rs
  risc0/zkvm/src/host/server/prove/prover_impl.rs
  risc0/zkvm/src/lib.rs
Owners: @risc0/platform

make getting Assumption from SuccinctReceipt a little more concise
  risc0/zkvm/src/host/recursion/prove/mod.rs
  risc0/zkvm/src/receipt/succinct.rs
Owners: @risc0/platform

start plumbing through PoVW nonces
  Cargo.lock
  risc0/bigint2/methods/guest/Cargo.lock
  risc0/binfmt/Cargo.toml
  risc0/binfmt/src/lib.rs
  risc0/binfmt/src/povw.rs
  risc0/circuit/keccak/methods/guest/Cargo.lock
  risc0/circuit/rv32im/Cargo.toml
  risc0/circuit/rv32im/src/execute/executor.rs
  risc0/circuit/rv32im/src/execute/segment.rs
  risc0/circuit/rv32im/src/execute/testutil.rs
  risc0/circuit/rv32im/src/prove/witgen/mod.rs
  risc0/r0vm/src/actors/worker.rs
  risc0/r0vm/src/lib.rs
  risc0/zkvm/methods/cfg/Cargo.lock
  risc0/zkvm/methods/cpp-crates/Cargo.lock
  risc0/zkvm/methods/env/Cargo.lock
  risc0/zkvm/methods/guest/Cargo.lock
  risc0/zkvm/methods/heap/Cargo.lock
  risc0/zkvm/methods/rand/Cargo.lock
  risc0/zkvm/methods/rand2/Cargo.lock
  risc0/zkvm/methods/std/Cargo.lock
  risc0/zkvm/src/host/api/convert.rs
  risc0/zkvm/src/host/api/server.rs
  risc0/zkvm/src/host/client/prove/opts.rs
  risc0/zkvm/src/host/server/exec/executor.rs
  risc0/zkvm/src/host/server/exec/gdb.rs
  risc0/zkvm/src/host/server/prove/dev_mode.rs
  risc0/zkvm/src/host/server/prove/prover_impl.rs
  risc0/zkvm/src/receipt/succinct.rs
Owners: @risc0/platform, @tzerrell, @iddo-bentov, @flaub

mark todos for search
  risc0/circuit/rv32im/src/execute/testutil.rs
  risc0/r0vm/src/actors/worker.rs
  risc0/r0vm/src/lib.rs
  risc0/zkvm/src/host/api/convert.rs
  risc0/zkvm/src/host/api/server.rs
  risc0/zkvm/src/host/client/prove/opts.rs
  risc0/zkvm/src/host/server/prove/dev_mode.rs
Owners: @risc0/platform

Fix 2.1 docs sidebar name (#3216)
  website/api_versioned_sidebars/version-2.1-sidebars.json
Owners: @risc0/platform, @risc0/devrel, @pdg744

add new PovwJobId type
  risc0/binfmt/src/lib.rs
  risc0/binfmt/src/povw.rs
  risc0/circuit/rv32im/src/execute/executor.rs
  risc0/circuit/rv32im/src/execute/testutil.rs
  risc0/zkvm/src/host/client/prove/opts.rs
  risc0/zkvm/src/host/server/exec/executor.rs
  risc0/zkvm/src/host/server/prove/prover_impl.rs
Owners: @risc0/platform

add povw_job_id to ProverOpts proto
  risc0/zkvm/src/host/api/convert.rs
  risc0/zkvm/src/host/protos/api.proto
  risc0/zkvm/src/host/protos/api.rs
Owners: @risc0/platform
