Repository risc0/risc0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @risc0/platform, @risc0/bonsai, @risc0/devrel, @risc0/demos, @tzerrell, @iddo-bentov, @flaub, @hmrtn, @nahoc, @pdg744, @nategraf, @kevinnassery

more
  risc0/circuit/rv32im/src/execute/executor.rs
Owners: @risc0/platform

more
  risc0/circuit/rv32im/src/execute/executor.rs
  risc0/circuit/rv32im/src/execute/rv32im.rs
Owners: @risc0/platform

more
  risc0/circuit/rv32im/src/execute/rv32im.rs
Owners: @risc0/platform

more
  risc0/circuit/rv32im/src/execute/rv32im.rs
Owners: @risc0/platform

more
  risc0/circuit/rv32im/src/execute/executor.rs
Owners: @risc0/platform

more
  risc0/circuit/rv32im/src/execute/executor.rs
  risc0/circuit/rv32im/src/execute/rv32im.rs
Owners: @risc0/platform

more
  risc0/circuit/rv32im/src/execute/executor.rs
Owners: @risc0/platform

more
  risc0/circuit/rv32im/src/execute/rv32im.rs
Owners: @risc0/platform

more
  risc0/circuit/rv32im/src/execute/rv32im.rs
Owners: @risc0/platform

more
  risc0/circuit/rv32im/src/execute/rv32im.rs
Owners: @risc0/platform

more
  risc0/circuit/rv32im/src/execute/rv32im.rs
Owners: @risc0/platform

docs: delete ∑ sign in versioned docs (#3258)
  website/api_versioned_docs/version-0.20/zkvm/examples.md
  website/api_versioned_docs/version-0.21/zkvm/examples.md
  website/api_versioned_docs/version-1.0/zkvm/examples.md
  website/api_versioned_docs/version-1.1/zkvm/examples.md
  website/api_versioned_docs/version-1.2/zkvm/examples.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Improve tests
  risc0/groth16/src/prove/cuda.rs
  risc0/groth16/src/prove/docker.rs
  risc0/sys/kernels/zkp/cuda/supra/ntt.cu
  risc0/zkp/src/hal/cuda.rs
  risc0/zkvm/src/host/client/prove/mod.rs
  risc0/zkvm/src/host/prove_info.rs
  risc0/zkvm/src/host/server/prove/tests.rs
Owners: @risc0/platform

fix: typo un comment bonsai/sdk/src/lib.rs (#3202)
  bonsai/sdk/src/lib.rs
Owners: @risc0/bonsai

more
  risc0/circuit/rv32im/src/execute/executor.rs
  risc0/circuit/rv32im/src/execute/pager.rs
  risc0/circuit/rv32im/src/execute/rv32im.rs
Owners: @risc0/platform

more
  risc0/circuit/rv32im/src/execute/pager.rs
Owners: @risc0/platform

more
  risc0/circuit/rv32im/src/execute/pager.rs
Owners: @risc0/platform

more
  risc0/circuit/rv32im/src/execute/executor.rs
Owners: @risc0/platform

more
  risc0/circuit/rv32im/src/execute/executor.rs
Owners: @risc0/platform

more
  risc0/circuit/rv32im/src/execute/executor.rs
  risc0/circuit/rv32im/src/execute/pager.rs
Owners: @risc0/platform

more
  risc0/circuit/rv32im/src/execute/pager.rs
Owners: @risc0/platform

more
  risc0/circuit/rv32im/src/execute/executor.rs
  risc0/circuit/rv32im/src/execute/pager.rs
Owners: @risc0/platform

Update extern.cpp
  risc0/circuit/recursion-sys/kernels/cxx/extern.cpp
Owners: @risc0/platform

Update cpu.rs
  risc0/circuit/rv32im/src/prove/hal/cpu.rs
Owners: @risc0/platform

add some debug functions
  risc0/circuit/recursion/src/prove/mod.rs
  risc0/zkvm/src/host/recursion/prove/mod.rs
  risc0/zkvm/src/host/recursion/tests.rs
Owners: @risc0/platform

rzup: Add publish command for uploading components to S3.
  Cargo.lock
  rzup/Cargo.toml
  rzup/src/cli/commands.rs
  rzup/src/cli/mod.rs
  rzup/src/cli/ui.rs
  rzup/src/components.rs
  rzup/src/distribution/github.rs
  rzup/src/distribution/http.rs
  rzup/src/distribution/mod.rs
  rzup/src/distribution/s3.rs
  rzup/src/env.rs
  rzup/src/events.rs
  rzup/src/lib.rs
  rzup/src/paths.rs
  rzup/src/settings.rs
Owners: @risc0/platform, @hmrtn

Grab AWS credentials lazily
  rzup/src/components.rs
  rzup/src/distribution/s3.rs
  rzup/src/env.rs
  rzup/src/lib.rs
  rzup/src/paths.rs
  rzup/src/settings.rs
Owners: @risc0/platform, @hmrtn

rzup: Add publish command to upload to S3 (#3276)
  Cargo.lock
  rzup/Cargo.toml
  rzup/src/cli/commands.rs
  rzup/src/cli/mod.rs
  rzup/src/cli/ui.rs
  rzup/src/components.rs
  rzup/src/distribution/github.rs
  rzup/src/distribution/http.rs
  rzup/src/distribution/mod.rs
  rzup/src/distribution/s3.rs
  rzup/src/env.rs
  rzup/src/events.rs
  rzup/src/lib.rs
  rzup/src/paths.rs
  rzup/src/settings.rs
Owners: @risc0/platform, @hmrtn

reduce ZK_CYCLES to 1024
  risc0/zkp/src/lib.rs
Owners: @risc0/platform

fix check for recursion program fit in po2
  risc0/circuit/recursion/src/prove/program.rs
Owners: @risc0/platform

update recursion_zkr.zip hash
  risc0/circuit/recursion/build.rs
Owners: @risc0/platform

add zk noise to data columns
  risc0/circuit/recursion/src/prove/witgen.rs
Owners: @risc0/platform

Revert "add some debug functions"
  risc0/circuit/recursion/src/prove/mod.rs
  risc0/zkvm/src/host/recursion/prove/mod.rs
  risc0/zkvm/src/host/recursion/tests.rs
Owners: @risc0/platform

bootstrap from zirgen 88d16ea25c1451a3a4b78cb6cbbbb24ccb6b139
  risc0/circuit/recursion/build.rs
  risc0/circuit/recursion/src/control_id.rs
  risc0/circuit/recursion/src/recursion_zkr.zip
  risc0/circuit/rv32im/src/zirgen/info.rs
Owners: @risc0/platform, @flaub, @nategraf, @tzerrell

revert change to extern crate alloc declarations in risc0-binfmt
  risc0/binfmt/src/elf.rs
  risc0/binfmt/src/image.rs
  risc0/binfmt/src/lib.rs
  risc0/binfmt/src/povw.rs
  risc0/binfmt/src/sys_state.rs
Owners: @risc0/platform

update lock files
  Cargo.lock
  risc0/zkvm/methods/std-ext/Cargo.lock
Owners: @risc0/platform

remove allow(dead_code)
  risc0/zkvm/src/claim/work.rs
  risc0/zkvm/src/host/recursion/prove/zkr.rs
Owners: @risc0/platform

mark encode_to_seal and decode_from_seal functions as pub on WorkClaim
  risc0/zkvm/src/claim/work.rs
Owners: @risc0/platform

add tests; use a LazyLock to cache busy loop segments
  risc0/zkvm/src/host/recursion/tests.rs
Owners: @risc0/platform

fix issue with job id
  risc0/zkvm/src/host/recursion/tests.rs
Owners: @risc0/platform

.github/CODEOWNERS:

# CODEOWNERS

# Note: Order is important; the last matching pattern takes the most
# precedence.

*                                      @risc0/platform

/bonsai/                               @risc0/bonsai
/examples/                             @risc0/devrel @risc0/demos @risc0/platform
/risc0/bigint2/                        @risc0/platform @tzerrell @iddo-bentov @flaub
/rzup/                                 @risc0/platform @hmrtn
/web/                                  @risc0/platform @nahoc
/website/                              @risc0/platform @risc0/devrel @pdg744

# These are sensitive files
/groth16_proof/groth16/                @flaub @nategraf @tzerrell
/SECURITY.md                           @kevinnassery
control_id.rs                          @flaub @nategraf @tzerrell
recursion_zkr.zip                      @flaub @nategraf @tzerrell
