Repository risc0/risc0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @risc0/platform, @risc0/bonsai, @risc0/devrel, @risc0/demos, @tzerrell, @iddo-bentov, @flaub, @hmrtn, @nahoc, @pdg744, @nategraf, @kevinnassery

WIP
  Cargo.lock
  Cargo.toml
  bento/Cargo.lock
  risc0/groth16-sys/Cargo.toml
  risc0/groth16-sys/build.rs
  risc0/groth16/Cargo.toml
Owners: @risc0/platform

WIP
  Cargo.lock
  bento/Cargo.lock
  groth16_proof/groth16/risc0.circom
  risc0/groth16-sys/build.rs
  risc0/groth16-sys/kernels/cuda/ffi.cu
  risc0/groth16-sys/kernels/cuda/util.cuh
  risc0/groth16-sys/src/lib.rs
  risc0/groth16/Cargo.toml
  risc0/groth16/src/prove/cuda.rs
  risc0/groth16/src/prove/mod.rs
  risc0/zkvm/Cargo.toml
  risc0/zkvm/src/host/recursion/prove/mod.rs
  risc0/zkvm/src/host/server/prove/mod.rs
  risc0/zkvm/src/host/server/prove/prover_impl.rs
  risc0/zkvm/src/host/server/prove/tests.rs
Owners: @risc0/platform, @flaub, @nategraf, @tzerrell

Cleanup public API of risc0-groth16
  Cargo.lock
  bento/Cargo.lock
  risc0/bigint2/methods/guest/Cargo.lock
  risc0/circuit/keccak/methods/guest/Cargo.lock
  risc0/groth16/Cargo.toml
  risc0/groth16/src/lib.rs
  risc0/groth16/src/prove/docker.rs
  risc0/groth16/src/prove/mod.rs
  risc0/groth16/src/prove/seal_format.rs
  risc0/groth16/src/prove/seal_to_json.rs
  risc0/groth16/src/types.rs
  risc0/groth16/src/verifier.rs
  risc0/zkvm/methods/cfg/Cargo.lock
  risc0/zkvm/methods/cpp-crates/Cargo.lock
  risc0/zkvm/methods/env/Cargo.lock
  risc0/zkvm/methods/guest/Cargo.lock
  risc0/zkvm/methods/heap/Cargo.lock
  risc0/zkvm/methods/rand/Cargo.lock
  risc0/zkvm/methods/rand2/Cargo.lock
  risc0/zkvm/methods/std/Cargo.lock
  risc0/zkvm/src/host/server/prove/mod.rs
  risc0/zkvm/src/lib.rs
  risc0/zkvm/src/receipt/groth16.rs
Owners: @risc0/platform, @tzerrell, @iddo-bentov, @flaub

Update deps
  Cargo.lock
  xtask/Cargo.toml
Owners: @risc0/platform

WIP
  .cargo/config.toml
  Cargo.lock
  bento/Cargo.lock
  bento/Cargo.toml
  groth16_proof/supra/.gitignore
  groth16_proof/supra/README.md
  groth16_proof/supra/cuda/build.sh
  groth16_proof/supra/cuda/chacha.cuh
  groth16_proof/supra/cuda/groth16_coeffs.cuh
  groth16_proof/supra/cuda/groth16_prover.cuh
  groth16_proof/supra/cuda/groth16_srs.cuh
  groth16_proof/supra/cuda/run_prover.cu
  groth16_proof/supra/cuda/setup_prover.cu
  groth16_proof/supra/cuda/util.cuh
  groth16_proof/supra/input-files/fib-seal.json
  groth16_proof/supra/input-files/loop-seal.json
  groth16_proof/supra/modified-circuit/risc0.circom
  groth16_proof/supra/prove_and_verify.sh
  groth16_proof/supra/setup_circuit.sh
  groth16_proof/supra/test_witness_generation.sh
  risc0/groth16-sys/Cargo.toml
  risc0/groth16-sys/build.rs
  risc0/groth16-sys/kernels/cuda/chacha.cuh
  risc0/groth16-sys/kernels/cuda/ffi.cu
  risc0/groth16-sys/kernels/cuda/groth16_coeffs.cuh
  risc0/groth16-sys/kernels/cuda/groth16_prover.cuh
  risc0/groth16-sys/kernels/cuda/groth16_srs.cuh
  risc0/groth16-sys/kernels/cuda/util.cuh
  risc0/groth16-sys/src/lib.rs
  risc0/groth16/src/prove/cuda.rs
  xtask/Cargo.toml
  xtask/src/bootstrap_groth16.rs
  xtask/src/main.rs
  xtask/src/semver_checks.rs
  xtask/src/setup_groth16.rs
  xtask/src/update_crate_version.rs
Owners: @risc0/platform

run cargo fmt
  risc0/zkvm/src/claim/receipt.rs
  risc0/zkvm/src/host/protos/api.rs
  risc0/zkvm/src/host/recursion/prove/mod.rs
  risc0/zkvm/src/host/recursion/tests.rs
  risc0/zkvm/src/host/server/prove/dev_mode.rs
Owners: @risc0/platform

bootstrap predicates from zirgen 71efec514bb80ebe9cbefb68069e9ebd08fa5042
  risc0/circuit/recursion/build.rs
  risc0/circuit/recursion/src/control_id.rs
  risc0/circuit/recursion/src/recursion_zkr.zip
Owners: @risc0/platform, @flaub, @nategraf, @tzerrell

fix licence headers
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_0.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_1.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_2.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_3.cpp
  risc0/povw/guests/build.rs
  risc0/povw/guests/log-builder/src/main.rs
  risc0/povw/guests/src/lib.rs
  risc0/povw/guests/tests/log-builder.rs
  risc0/povw/src/consts.rs
  risc0/povw/src/guest.rs
  risc0/povw/src/lib.rs
Owners: @risc0/platform

rename add receipt functions
  risc0/zkvm/src/host/recursion/prove/mod.rs
Owners: @risc0/platform

Add risc0-groth16 component to rzup (#3264)
  rzup/src/components.rs
  rzup/src/distribution/github.rs
  rzup/src/lib.rs
  rzup/src/paths.rs
  rzup/src/registry.rs
Owners: @risc0/platform, @hmrtn

draft seal encoding for povw types
  risc0/binfmt/src/elf.rs
  risc0/binfmt/src/image.rs
  risc0/binfmt/src/lib.rs
  risc0/binfmt/src/povw.rs
  risc0/binfmt/src/sys_state.rs
  risc0/zkvm/src/claim/work.rs
Owners: @risc0/platform

Add docs for 2.3
  website/api_versioned_docs/version-2.3/blockchain-integration/contracts/verifier.md
  website/api_versioned_docs/version-2.3/blockchain-integration/risc-zero-on-eth.md
  website/api_versioned_docs/version-2.3/generating-proofs/dev-mode.md
  website/api_versioned_docs/version-2.3/generating-proofs/local-proving.md
  website/api_versioned_docs/version-2.3/generating-proofs/proving-options.md
  website/api_versioned_docs/version-2.3/generating-proofs/remote-proving.md
  website/api_versioned_docs/version-2.3/getting-started.md
  website/api_versioned_docs/version-2.3/introduction.md
  website/api_versioned_docs/version-2.3/recursion.md
  website/api_versioned_docs/version-2.3/secure-sdlc.md
  website/api_versioned_docs/version-2.3/security-model.md
  website/api_versioned_docs/version-2.3/trusted-setup-ceremony.md
  website/api_versioned_docs/version-2.3/use-cases.md
  website/api_versioned_docs/version-2.3/zkvm/benchmarks.md
  website/api_versioned_docs/version-2.3/zkvm/composition.md
  website/api_versioned_docs/version-2.3/zkvm/examples.md
  website/api_versioned_docs/version-2.3/zkvm/guest-code-101.md
  website/api_versioned_docs/version-2.3/zkvm/host-code-101.md
  website/api_versioned_docs/version-2.3/zkvm/install.md
  website/api_versioned_docs/version-2.3/zkvm/optimization.md
  website/api_versioned_docs/version-2.3/zkvm/precompiles.md
  website/api_versioned_docs/version-2.3/zkvm/profiling.md
  website/api_versioned_docs/version-2.3/zkvm/quickstart.md
  website/api_versioned_docs/version-2.3/zkvm/receipts.md
  website/api_versioned_docs/version-2.3/zkvm/rust-crates-with-cpp.md
  website/api_versioned_docs/version-2.3/zkvm/rust-resources.md
  website/api_versioned_docs/version-2.3/zkvm/tutorials/hello-world.md
  website/api_versioned_docs/version-2.3/zkvm/tutorials/io.md
  website/api_versioned_docs/version-2.3/zkvm/tutorials/overview.md
  website/api_versioned_docs/version-2.3/zkvm/zkvm-overview.md
  website/api_versioned_docs/version-2.3/zkvm/zkvm-specification.md
  website/api_versioned_sidebars/version-2.3-sidebars.json
  website/api_versions.json
Owners: @risc0/platform, @risc0/devrel, @pdg744

Update semver-baselines and versions for 2.3
  Cargo.lock
  Cargo.toml
  risc0/bigint2/Cargo.toml
  risc0/bigint2/methods/guest/Cargo.lock
  semver-baselines.lock
Owners: @risc0/platform, @tzerrell, @iddo-bentov, @flaub

add tests for work claim seal encoding and decoding
  risc0/binfmt/Cargo.toml
  risc0/binfmt/src/povw.rs
  risc0/povw/guests/log-builder/Cargo.lock
  risc0/zkvm/Cargo.toml
  risc0/zkvm/src/claim/work.rs
Owners: @risc0/platform

add povw zkr getters
  risc0/zkvm/src/host/recursion/prove/zkr.rs
Owners: @risc0/platform

make recursion prover lift more concise
  risc0/circuit/recursion/src/prove/mod.rs
  risc0/zkvm/src/claim/receipt.rs
  risc0/zkvm/src/host/recursion/prove/mod.rs
Owners: @risc0/platform

make recursion functions a bit more concise
  risc0/zkvm/src/host/recursion/prove/mod.rs
Owners: @risc0/platform

extract the resolve action
  risc0/zkvm/src/claim/receipt.rs
  risc0/zkvm/src/host/recursion/prove/mod.rs
Owners: @risc0/platform

remove a todo
  risc0/zkvm/src/claim/receipt.rs
Owners: @risc0/platform

a bit more refactoring to make recursion program definitions more concise
  risc0/zkvm/src/host/recursion/prove/mod.rs
  risc0/zkvm/src/receipt/succinct.rs
Owners: @risc0/platform

move Merge trait into its own module
  risc0/zkvm/src/claim/maybe_pruned.rs
  risc0/zkvm/src/claim/merge.rs
  risc0/zkvm/src/claim/mod.rs
  risc0/zkvm/src/host/recursion/prove/mod.rs
  risc0/zkvm/src/host/server/prove/prover_impl.rs
Owners: @risc0/platform

Update semver-baselines and versions for 2.3 (#3266)
  Cargo.lock
  Cargo.toml
  risc0/bigint2/Cargo.toml
  risc0/bigint2/methods/guest/Cargo.lock
  semver-baselines.lock
Owners: @risc0/platform, @tzerrell, @iddo-bentov, @flaub

Add docs for 2.3 (#3265)
  website/api_versioned_docs/version-2.3/blockchain-integration/contracts/verifier.md
  website/api_versioned_docs/version-2.3/blockchain-integration/risc-zero-on-eth.md
  website/api_versioned_docs/version-2.3/generating-proofs/dev-mode.md
  website/api_versioned_docs/version-2.3/generating-proofs/local-proving.md
  website/api_versioned_docs/version-2.3/generating-proofs/proving-options.md
  website/api_versioned_docs/version-2.3/generating-proofs/remote-proving.md
  website/api_versioned_docs/version-2.3/getting-started.md
  website/api_versioned_docs/version-2.3/introduction.md
  website/api_versioned_docs/version-2.3/recursion.md
  website/api_versioned_docs/version-2.3/secure-sdlc.md
  website/api_versioned_docs/version-2.3/security-model.md
  website/api_versioned_docs/version-2.3/trusted-setup-ceremony.md
  website/api_versioned_docs/version-2.3/use-cases.md
  website/api_versioned_docs/version-2.3/zkvm/benchmarks.md
  website/api_versioned_docs/version-2.3/zkvm/composition.md
  website/api_versioned_docs/version-2.3/zkvm/examples.md
  website/api_versioned_docs/version-2.3/zkvm/guest-code-101.md
  website/api_versioned_docs/version-2.3/zkvm/host-code-101.md
  website/api_versioned_docs/version-2.3/zkvm/install.md
  website/api_versioned_docs/version-2.3/zkvm/optimization.md
  website/api_versioned_docs/version-2.3/zkvm/precompiles.md
  website/api_versioned_docs/version-2.3/zkvm/profiling.md
  website/api_versioned_docs/version-2.3/zkvm/quickstart.md
  website/api_versioned_docs/version-2.3/zkvm/receipts.md
  website/api_versioned_docs/version-2.3/zkvm/rust-crates-with-cpp.md
  website/api_versioned_docs/version-2.3/zkvm/rust-resources.md
  website/api_versioned_docs/version-2.3/zkvm/tutorials/hello-world.md
  website/api_versioned_docs/version-2.3/zkvm/tutorials/io.md
  website/api_versioned_docs/version-2.3/zkvm/tutorials/overview.md
  website/api_versioned_docs/version-2.3/zkvm/zkvm-overview.md
  website/api_versioned_docs/version-2.3/zkvm/zkvm-specification.md
  website/api_versioned_sidebars/version-2.3-sidebars.json
  website/api_versions.json
Owners: @risc0/platform, @risc0/devrel, @pdg744

add povw recursion program functions to risc0/zkvm/src/host/recursion/prove/mod.rs
  risc0/binfmt/src/povw.rs
  risc0/zkvm/src/claim/merge.rs
  risc0/zkvm/src/claim/receipt.rs
  risc0/zkvm/src/claim/work.rs
  risc0/zkvm/src/host/recursion/prove/mod.rs
  risc0/zkvm/src/host/recursion/prove/zkr.rs
  risc0/zkvm/src/host/server/prove/mod.rs
Owners: @risc0/platform

add missing unwrap_povw function
  risc0/zkvm/src/host/recursion/prove/mod.rs
Owners: @risc0/platform

add povw methods for ProverImpl
  risc0/zkvm/src/host/server/prove/prover_impl.rs
Owners: @risc0/platform

make DevModeProver impl a little more concise
  risc0/zkvm/src/host/server/prove/dev_mode.rs
Owners: @risc0/platform

compress fake fake recursion impls
  risc0/zkvm/src/host/server/prove/dev_mode.rs
Owners: @risc0/platform

add povw impl to dev mode prove
  risc0/zkvm/src/host/server/prove/dev_mode.rs
Owners: @risc0/platform

fix lints
  risc0/zkvm/src/claim/receipt.rs
  risc0/zkvm/src/claim/work.rs
  risc0/zkvm/src/host/recursion/prove/mod.rs
Owners: @risc0/platform

fix missing import for no_std
  risc0/binfmt/src/povw.rs
Owners: @risc0/platform

update lock files
  risc0/zkvm/methods/cfg/Cargo.lock
  risc0/zkvm/methods/cpp-crates/Cargo.lock
  risc0/zkvm/methods/env/Cargo.lock
  risc0/zkvm/methods/guest/Cargo.lock
  risc0/zkvm/methods/heap/Cargo.lock
  risc0/zkvm/methods/rand/Cargo.lock
  risc0/zkvm/methods/rand2/Cargo.lock
  risc0/zkvm/methods/std/Cargo.lock
Owners: @risc0/platform

bootstrap from zirgen b6429593c168fea3b3d1ac2601ba0a89ae82d8f0
  risc0/circuit/recursion/build.rs
  risc0/circuit/recursion/src/control_id.rs
  risc0/circuit/recursion/src/recursion_zkr.zip
  risc0/zkvm/src/claim/receipt.rs
  risc0/zkvm/src/claim/work.rs
  xtask/src/bootstrap.rs
Owners: @risc0/platform, @flaub, @nategraf, @tzerrell

revert adding #[non_exhaustive] to DevModeDelay
  risc0/zkvm/src/host/server/prove/dev_mode.rs
Owners: @risc0/platform

update Cargo.lock files
  risc0/bigint2/methods/guest/Cargo.lock
  risc0/circuit/keccak/methods/guest/Cargo.lock
Owners: @risc0/platform, @tzerrell, @iddo-bentov, @flaub

include povw recursion programs in control group
  risc0/circuit/recursion/src/control_id.rs
  risc0/zkvm/src/host/recursion/tests.rs
  risc0/zkvm/src/receipt/succinct.rs
  xtask/src/bootstrap.rs
Owners: @flaub, @nategraf, @tzerrell, @risc0/platform

bootstrap from zirgen 16936deb901482f9525f47959044eba5796fef5e
  risc0/circuit/recursion/build.rs
  risc0/circuit/recursion/src/control_id.rs
  risc0/circuit/recursion/src/recursion_zkr.zip
  risc0/zkvm/src/host/recursion/tests.rs
Owners: @risc0/platform, @flaub, @nategraf, @tzerrell

fix copyright year
  risc0/binfmt/src/sys_state.rs
Owners: @risc0/platform

fix name in zkr::lift_povw
  risc0/zkvm/src/host/recursion/prove/zkr.rs
Owners: @risc0/platform

update lock files
  benchmarks/Cargo.lock
  benchmarks/methods/guest/Cargo.lock
  bento/Cargo.lock
  bento/crates/sample-guest/methods/guest/Cargo.lock
  examples/Cargo.lock
  examples/bevy/methods/guest/Cargo.lock
  examples/bls12_381/methods/guest/Cargo.lock
  examples/bn254/methods/guest/Cargo.lock
  examples/c-kzg/methods/guest/Cargo.lock
  examples/chess/methods/guest/Cargo.lock
  examples/composition/methods/guest/Cargo.lock
  examples/digital-signature/methods/guest/Cargo.lock
  examples/ecdsa/k256/methods/guest/Cargo.lock
  examples/ecdsa/p256/methods/guest/Cargo.lock
  examples/groth16-verifier/methods/guest/Cargo.lock
  examples/hello-world/methods/guest/Cargo.lock
  examples/json/methods/guest/Cargo.lock
  examples/jwt-validator/methods/guest/Cargo.lock
  examples/keccak/methods/guest/Cargo.lock
  examples/password-checker/methods/guest/Cargo.lock
  examples/profiling/methods/guest/Cargo.lock
  examples/prorata/methods/guest/Cargo.lock
  examples/sha/methods/guest/Cargo.lock
  examples/smartcore-ml/methods/guest/Cargo.lock
  examples/voting-machine/methods/guest/Cargo.lock
  examples/waldo/methods/guest/Cargo.lock
  examples/wasm/methods/guest/Cargo.lock
  examples/wordle/methods/guest/Cargo.lock
  examples/xgboost/methods/guest/Cargo.lock
  external/substrate/Cargo.lock
Owners: @risc0/platform, @risc0/devrel, @risc0/demos

.github/CODEOWNERS:

# CODEOWNERS

# Note: Order is important; the last matching pattern takes the most
# precedence.

*                                      @risc0/platform

/bonsai/                               @risc0/bonsai
/examples/                             @risc0/devrel @risc0/demos @risc0/platform
/risc0/bigint2/                        @risc0/platform @tzerrell @iddo-bentov @flaub
/rzup/                                 @risc0/platform @hmrtn
/web/                                  @risc0/platform @nahoc
/website/                              @risc0/platform @risc0/devrel @pdg744

# These are sensitive files
/groth16_proof/groth16/                @flaub @nategraf @tzerrell
/SECURITY.md                           @kevinnassery
control_id.rs                          @flaub @nategraf @tzerrell
recursion_zkr.zip                      @flaub @nategraf @tzerrell
