Repository risc0/risc0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @risc0/platform, @risc0/bonsai, @risc0/devrel, @risc0/demos, @tzerrell, @iddo-bentov, @flaub, @hmrtn, @nahoc, @pdg744, @nategraf, @kevinnassery

Replace use of fence as invalid instruction
  risc0/zkos/v1compat/elfs/v1compat.elf
  risc0/zkos/v1compat/src/kernel.s
Owners: @risc0/platform

3.0: Update docs & groth16 component error message (#3331)
  risc0/groth16/README.md
  risc0/groth16/src/lib.rs
  risc0/groth16/src/prove/cuda.rs
  rzup/README.md
  website/api/blockchain-integration/shrink-wrapping.md
  website/api/generating-proofs/proving-options.md
  website/api/zkvm/debugging-with-gdb.md
  website/sidebarsApi.js
Owners: @risc0/platform, @hmrtn, @risc0/devrel, @pdg744

Update illegal_instruction() to use 0x00000000
  risc0/zkos/v1compat/elfs/v1compat.elf
  risc0/zkos/v1compat/src/main.rs
Owners: @risc0/platform

gen circuits from zirgen b86c36b2b
  risc0/circuit/rv32im-sys/kernels/cuda/steps.cu
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_0.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_1.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_2.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_3.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/steps.cpp
Owners: @risc0/platform

3.0: Update docs & groth16 component error message (#3331)
  risc0/groth16/README.md
  risc0/groth16/src/lib.rs
  risc0/groth16/src/prove/cuda.rs
  rzup/README.md
  website/api/blockchain-integration/shrink-wrapping.md
  website/api/generating-proofs/proving-options.md
  website/api/zkvm/debugging-with-gdb.md
  website/sidebarsApi.js
Owners: @risc0/platform, @hmrtn, @risc0/devrel, @pdg744

Bump risc0-core to 3.0.0
  Cargo.lock
  Cargo.toml
  risc0/bigint2/Cargo.toml
  risc0/binfmt/Cargo.toml
  risc0/build/Cargo.toml
  risc0/cargo-risczero/Cargo.toml
  risc0/circuit/keccak-sys/Cargo.toml
  risc0/circuit/keccak/Cargo.toml
  risc0/circuit/recursion-sys/Cargo.toml
  risc0/circuit/recursion/Cargo.toml
  risc0/circuit/rv32im-sys/Cargo.toml
  risc0/circuit/rv32im/Cargo.toml
  risc0/core/Cargo.toml
  risc0/groth16/Cargo.toml
  risc0/povw/Cargo.toml
  risc0/r0vm/Cargo.toml
  risc0/zkp/Cargo.toml
  risc0/zkvm/Cargo.toml
  semver-baselines.lock
Owners: @risc0/platform, @tzerrell, @iddo-bentov, @flaub

Skip risc-povw in semver-checks.
  xtask/src/semver_checks.rs
Owners: @risc0/platform

semver-check's semver_compatible function considers versions < 1.0
  xtask/src/semver_checks.rs
Owners: @risc0/platform

Add docs for 3.0
  website/api_versioned_docs/version-3.0/blockchain-integration/contracts/verifier.md
  website/api_versioned_docs/version-3.0/blockchain-integration/risc-zero-on-eth.md
  website/api_versioned_docs/version-3.0/blockchain-integration/shrink-wrapping.md
  website/api_versioned_docs/version-3.0/generating-proofs/dev-mode.md
  website/api_versioned_docs/version-3.0/generating-proofs/local-proving.md
  website/api_versioned_docs/version-3.0/generating-proofs/proving-options.md
  website/api_versioned_docs/version-3.0/generating-proofs/remote-proving.md
  website/api_versioned_docs/version-3.0/getting-started.md
  website/api_versioned_docs/version-3.0/introduction.md
  website/api_versioned_docs/version-3.0/recursion.md
  website/api_versioned_docs/version-3.0/secure-sdlc.md
  website/api_versioned_docs/version-3.0/security-model.md
  website/api_versioned_docs/version-3.0/trusted-setup-ceremony.md
  website/api_versioned_docs/version-3.0/use-cases.md
  website/api_versioned_docs/version-3.0/zkvm/benchmarks.md
  website/api_versioned_docs/version-3.0/zkvm/composition.md
  website/api_versioned_docs/version-3.0/zkvm/debugging-with-gdb.md
  website/api_versioned_docs/version-3.0/zkvm/examples.md
  website/api_versioned_docs/version-3.0/zkvm/guest-code-101.md
  website/api_versioned_docs/version-3.0/zkvm/host-code-101.md
  website/api_versioned_docs/version-3.0/zkvm/install.md
  website/api_versioned_docs/version-3.0/zkvm/optimization.md
  website/api_versioned_docs/version-3.0/zkvm/precompiles.md
  website/api_versioned_docs/version-3.0/zkvm/profiling.md
  website/api_versioned_docs/version-3.0/zkvm/quickstart.md
  website/api_versioned_docs/version-3.0/zkvm/receipts.md
  website/api_versioned_docs/version-3.0/zkvm/rust-crates-with-cpp.md
  website/api_versioned_docs/version-3.0/zkvm/rust-resources.md
  website/api_versioned_docs/version-3.0/zkvm/tutorials/hello-world.md
  website/api_versioned_docs/version-3.0/zkvm/tutorials/io.md
  website/api_versioned_docs/version-3.0/zkvm/tutorials/overview.md
  website/api_versioned_docs/version-3.0/zkvm/zkvm-overview.md
  website/api_versioned_docs/version-3.0/zkvm/zkvm-specification.md
  website/api_versioned_sidebars/version-3.0-sidebars.json
  website/api_versions.json
Owners: @risc0/platform, @risc0/devrel, @pdg744

fix: update rust-toolchain link in waldo example README (#3161)
  examples/waldo/README.md
Owners: @risc0/devrel, @risc0/demos, @risc0/platform

WIP
  risc0/r0vm/src/actors/config.rs
  risc0/r0vm/testdata/api.toml
  risc0/r0vm/testdata/default.toml
  risc0/r0vm/testdata/manager.toml
  risc0/r0vm/testdata/prover.toml
Owners: @risc0/platform

docs(website): fix broke link
  website/api/blockchain-integration/risc-zero-on-eth.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

docs: fix broken link
  website/api/generating-proofs/remote-proving.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

zkvm/guest: fix doc typo (#3159)
  risc0/zkvm/src/guest/mod.rs
Owners: @risc0/platform

Improve error messages and fix minor typos in xtask and rzup
  xtask/src/bootstrap.rs
  xtask/src/bootstrap_groth16.rs
  xtask/src/bootstrap_poseidon.rs
Owners: @risc0/platform

Update docker reproducible build test expectation
  risc0/build/src/docker.rs
Owners: @risc0/platform

Fix bounds checking issue in zkp eltwise code
  risc0/sys/kernels/zkp/cuda/eltwise.cu
  risc0/sys/kernels/zkp/cuda/ffi.cu
  risc0/sys/kernels/zkp/cuda/kernels.h
Owners: @risc0/platform

Improve CI performance
  .github/actions/sccache/action.yml
  .github/workflows/main.yml
  Cargo.toml
  risc0/zkvm/src/host/server/exec/tests.rs
  risc0/zkvm/src/host/server/prove/tests.rs
Owners: @risc0/platform

Restore 32 jobs
  .github/workflows/main.yml
Owners: @risc0/platform

Improve CI performance (#3342)
  .github/actions/sccache/action.yml
  Cargo.toml
  risc0/zkvm/src/host/server/exec/tests.rs
  risc0/zkvm/src/host/server/prove/tests.rs
Owners: @risc0/platform

fix: update path (#3174)
  .github/workflows/main.yml
Owners: @risc0/platform

Fix bounds checking issue in zkp eltwise code (#3341)
  risc0/sys/kernels/zkp/cuda/eltwise.cu
  risc0/sys/kernels/zkp/cuda/ffi.cu
  risc0/sys/kernels/zkp/cuda/kernels.h
Owners: @risc0/platform

Improve error messages and fix minor typos in xtask and rzup (#3086)
  rzup/src/build.rs
  rzup/src/lib.rs
  xtask/src/bootstrap.rs
  xtask/src/bootstrap_groth16.rs
  xtask/src/bootstrap_poseidon.rs
Owners: @risc0/platform, @hmrtn

Speed up CI
  .cargo/config.toml
  .github/workflows/main.yml
  Cargo.lock
  Cargo.toml
  benchmarks/Cargo.lock
  examples/Cargo.lock
  examples/composition/methods/guest/Cargo.lock
  risc0/build/Cargo.toml
  risc0/build/src/lib.rs
  risc0/r0vm/tests/default_prover.rs
  risc0/zkvm/methods/guest/Cargo.lock
  risc0/zkvm/methods/std-ext/Cargo.lock
  risc0/zkvm/methods/std/Cargo.lock
  risc0/zkvm/src/host/server/prove/tests.rs
Owners: @risc0/platform, @risc0/devrel, @risc0/demos

Adjustments from CI results
  .cargo/config.toml
  .github/workflows/main.yml
  risc0/build/src/docker.rs
  risc0/r0vm/tests/default_prover.rs
  risc0/zkvm/src/host/server/prove/tests.rs
Owners: @risc0/platform

Update documentation link to root risc0_zkvm docs (#3214)
  risc0/zkp/src/prove/mod.rs
Owners: @risc0/platform

Disable slow tests on CPU
  .github/workflows/main.yml
  risc0/povw/Cargo.toml
  risc0/povw/guests/tests/log-builder.rs
  risc0/r0vm/Cargo.toml
  risc0/r0vm/tests/default_prover.rs
  risc0/zkvm/Cargo.toml
  risc0/zkvm/src/host/api/tests.rs
  risc0/zkvm/src/host/recursion/tests.rs
  risc0/zkvm/src/host/server/prove/tests.rs
Owners: @risc0/platform

Fix
  .github/workflows/main.yml
Owners: @risc0/platform

Fix lint rule
  risc0/povw/Cargo.toml
  risc0/r0vm/Cargo.toml
  risc0/zkvm/Cargo.toml
Owners: @risc0/platform

Update Cargo.lock
  Cargo.lock
Owners: @risc0/platform

Fix quotes
  risc0/povw/Cargo.toml
  risc0/r0vm/Cargo.toml
  risc0/zkvm/Cargo.toml
Owners: @risc0/platform

Fix syntax
  risc0/povw/Cargo.toml
  risc0/r0vm/Cargo.toml
  risc0/zkvm/Cargo.toml
Owners: @risc0/platform

Move to workspace
  Cargo.toml
  risc0/povw/Cargo.toml
  risc0/r0vm/Cargo.toml
  risc0/zkvm/Cargo.toml
Owners: @risc0/platform

fix: improve type safety - fix syntax error in globals.d.ts and add proper types to convert-csv-to-json.ts
  web/apps/benchmarks-and-reports/globals.d.ts
  web/packages/shared/utils/convert-csv-to-json.ts
  web/packages/shared/utils/is-nil.ts
Owners: @risc0/platform, @nahoc

fix: replace any type with generic type in table-fuzzy-filter.ts for better type safety
  web/packages/shared/utils/table-fuzzy-filter.ts
Owners: @risc0/platform, @nahoc

Apply lints to workspace
  Cargo.toml
  risc0/povw/guests/Cargo.toml
  risc0/r0vm/Cargo.toml
  risc0/zkvm/Cargo.toml
Owners: @risc0/platform

Use ignores
  risc0/povw/guests/tests/log-builder.rs
  risc0/r0vm/tests/default_prover.rs
  risc0/zkvm/src/host/api/tests.rs
  risc0/zkvm/src/host/recursion/tests.rs
  risc0/zkvm/src/host/server/prove/tests.rs
Owners: @risc0/platform

use error return to support error code return and avoid panic
  risc0/r0vm/src/bin/r0vm.rs
  risc0/r0vm/src/lib.rs
Owners: @risc0/platform

run cargo fmt
  risc0/zkvm/src/host/api/convert.rs
Owners: @risc0/platform

Speed up tests (#3344)
  .github/workflows/main.yml
  Cargo.lock
  Cargo.toml
  benchmarks/Cargo.lock
  examples/Cargo.lock
  examples/composition/methods/guest/Cargo.lock
  risc0/build/Cargo.toml
  risc0/build/src/docker.rs
  risc0/build/src/lib.rs
  risc0/povw/Cargo.toml
  risc0/povw/guests/Cargo.toml
  risc0/povw/guests/tests/log-builder.rs
  risc0/r0vm/Cargo.toml
  risc0/r0vm/tests/default_prover.rs
  risc0/zkvm/Cargo.toml
  risc0/zkvm/methods/guest/Cargo.lock
  risc0/zkvm/methods/std-ext/Cargo.lock
  risc0/zkvm/methods/std/Cargo.lock
  risc0/zkvm/src/host/api/tests.rs
  risc0/zkvm/src/host/recursion/tests.rs
  risc0/zkvm/src/host/server/prove/tests.rs
Owners: @risc0/platform, @risc0/devrel, @risc0/demos

.github/CODEOWNERS:

# CODEOWNERS

# Note: Order is important; the last matching pattern takes the most
# precedence.

*                                      @risc0/platform

/bonsai/                               @risc0/bonsai
/examples/                             @risc0/devrel @risc0/demos @risc0/platform
/risc0/bigint2/                        @risc0/platform @tzerrell @iddo-bentov @flaub
/rzup/                                 @risc0/platform @hmrtn
/web/                                  @risc0/platform @nahoc
/website/                              @risc0/platform @risc0/devrel @pdg744

# These are sensitive files
/groth16_proof/groth16/                @flaub @nategraf @tzerrell
/SECURITY.md                           @kevinnassery
control_id.rs                          @flaub @nategraf @tzerrell
recursion_zkr.zip                      @flaub @nategraf @tzerrell
