Repository risc0/risc0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @risc0/platform, @risc0/bonsai, @risc0/devrel, @risc0/demos, @tzerrell, @iddo-bentov, @flaub, @hmrtn, @nahoc, @pdg744, @nategraf, @kevinnassery

.github/CODEOWNERS:

# CODEOWNERS

# Note: Order is important; the last matching pattern takes the most
# precedence.

*                                      @risc0/platform

/bonsai/                               @risc0/bonsai
/examples/                             @risc0/devrel @risc0/demos @risc0/platform
/risc0/bigint2/                        @risc0/platform @tzerrell @iddo-bentov @flaub
/rzup/                                 @risc0/platform @hmrtn
/web/                                  @risc0/platform @nahoc
/website/                              @risc0/platform @risc0/devrel @pdg744

# These are sensitive files
/groth16_proof/groth16/                @flaub @nategraf @tzerrell
/SECURITY.md                           @kevinnassery
control_id.rs                          @flaub @nategraf @tzerrell
recursion_zkr.zip                      @flaub @nategraf @tzerrell

Fix edition 2024 clippy warnings
  risc0/zkvm/src/receipt/merkle.rs
Owners: @risc0/platform

Update docker reproducible build test expectation
  risc0/build/src/docker.rs
Owners: @risc0/platform

Update template edition to 2024
  risc0/cargo-risczero/templates/rust-starter/host/Cargo-toml
  risc0/cargo-risczero/templates/rust-starter/methods/Cargo-toml
  risc0/cargo-risczero/templates/rust-starter/methods/guest/Cargo-toml
Owners: @risc0/platform

Add handling of fence instruction. Companion: zirgen 771995db5
  .gitignore
  fence-test/add_fence_test.sh
  fence-test/fence.S
  fence-test/riscv-tests.ld
  risc0/circuit/recursion/src/recursion_zkr.zip
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check.cuh
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_0.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_1.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_2.cu
  risc0/circuit/rv32im-sys/kernels/cuda/eval_check_3.cu
  risc0/circuit/rv32im-sys/kernels/cuda/layout.cu.inc
  risc0/circuit/rv32im-sys/kernels/cuda/layout.cuh.inc
  risc0/circuit/rv32im-sys/kernels/cuda/steps.cu
  risc0/circuit/rv32im-sys/kernels/cuda/steps.cuh
  risc0/circuit/rv32im-sys/kernels/cuda/types.cuh.inc
  risc0/circuit/rv32im-sys/kernels/cxx/layout.cpp.inc
  risc0/circuit/rv32im-sys/kernels/cxx/layout.h.inc
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_0.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_1.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_2.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/rust_poly_fp_3.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/steps.cpp
  risc0/circuit/rv32im-sys/kernels/cxx/steps.h
  risc0/circuit/rv32im-sys/kernels/cxx/types.h.inc
  risc0/circuit/rv32im/src/execute/mod.rs
  risc0/circuit/rv32im/src/execute/platform.rs
  risc0/circuit/rv32im/src/execute/rv32im.rs
  risc0/circuit/rv32im/src/execute/testutil.rs
  risc0/circuit/rv32im/src/prove/testdata/riscv-tests.tgz
  risc0/circuit/rv32im/src/prove/tests.rs
  risc0/circuit/rv32im/src/prove/witgen/preflight.rs
  risc0/circuit/rv32im/src/zirgen/info.rs
  risc0/circuit/rv32im/src/zirgen/layout.rs.inc
  risc0/circuit/rv32im/src/zirgen/taps.rs
  risc0/circuit/rv32im/src/zirgen/types.rs.inc
Owners: @risc0/platform, @flaub, @nategraf, @tzerrell

WIP
  risc0/r0vm/src/actors/config.rs
  risc0/r0vm/testdata/manager.toml
  risc0/r0vm/testdata/prover.toml
Owners: @risc0/platform

update die() to something unimplemented
  risc0/circuit/rv32im/src/execute/testutil.rs
  risc0/circuit/rv32im/src/prove/tests.rs
Owners: @risc0/platform

un-break test demonstrating die() works
  risc0/circuit/rv32im/src/execute/testutil.rs
  risc0/circuit/rv32im/src/prove/tests.rs
Owners: @risc0/platform

Set the Rust toolchain version for the check-template CI job
  .github/workflows/main.yml
Owners: @risc0/platform

add support for archiving guests and flag for Docker in cargo-risczero build
  Cargo.lock
  risc0/build/src/lib.rs
  risc0/cargo-risczero/Cargo.toml
  risc0/cargo-risczero/src/commands/bake.rs
  risc0/cargo-risczero/src/commands/build.rs
  risc0/povw/guests/log-builder/Cargo.toml
  risc0/zkos/v1compat/elfs/v1compat.elf
Owners: @risc0/platform

switch from --docker to --no-docker
  risc0/cargo-risczero/src/commands/build.rs
Owners: @risc0/platform

comment out setting of the root dir
  risc0/cargo-risczero/src/commands/build.rs
Owners: @risc0/platform

remove fluff
  web/apps/risczero/public/ahrefs_84f72110860c7c02e4eb1cfcc1bda6a4dc6050f8149c0af9150fc060899af0fe
  web/apps/risczero/public/g79nwaq8dckbg4uwhsmd6ur1q693pc4x.txt
  web/apps/risczero/public/googlefef020d800c14997.html
Owners: @risc0/platform, @nahoc

deps
  web/apps/risczero/next.config.ts
  web/apps/risczero/package.json
  web/apps/risczero/src/app/not-found.tsx
  web/bun.lock
  web/package.json
Owners: @risc0/platform, @nahoc

motion/react
  web/bun.lock
  web/packages/shared/client/providers/progress-bar-provider.tsx
Owners: @risc0/platform, @nahoc

add next
  web/bun.lock
  web/package.json
Owners: @risc0/platform, @nahoc

remove cn on toaster
  web/packages/shared/client/components/toaster.tsx
Owners: @risc0/platform, @nahoc

fix reports build
  web/apps/benchmarks-and-reports/next.config.ts
  web/apps/benchmarks-and-reports/package.json
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/applications-benchmarks/[slug]/_actions/fetch-applications-benchmarks-commit-hash.ts
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/applications-benchmarks/[slug]/_actions/fetch-applications-benchmarks.ts
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/applications-benchmarks/[slug]/_components/applications-benchmarks-content.tsx
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/applications-benchmarks/[slug]/_components/applications-benchmarks-table.tsx
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/applications-benchmarks/[slug]/_utils/constants.tsx
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/applications-benchmarks/[slug]/page.tsx
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/applications-benchmarks/_components/applications-benchmarks-commit-hash-button.tsx
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/applications-benchmarks/_utils/get-first-application-benchmark.ts
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/applications-benchmarks/layout.tsx
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/applications-benchmarks/page.tsx
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/datasheet/_actions/fetch-datasheet-commit-hash.ts
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/datasheet/_actions/fetch-datasheet.ts
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/datasheet/_components/datasheet-commit-hash-button.tsx
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/datasheet/_components/datasheet-content.tsx
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/datasheet/_utils/constants.tsx
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/datasheet/layout.tsx
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/datasheet/page.tsx
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/page.tsx
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/_components/breadcrumbs.tsx
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/_components/version-select.tsx
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/_hooks/use-version.ts
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/_utils/redirect-if-wrong-version.ts
  web/apps/benchmarks-and-reports/src/app/sitemap.ts
  web/apps/benchmarks-and-reports/tsconfig.json
  web/bun.lock
  web/package.json
Owners: @risc0/platform, @nahoc

biome 2.2
  .github/workflows/main.yml
Owners: @risc0/platform

simplify fence test
  fence-test/fence.S
  risc0/circuit/rv32im/src/prove/testdata/riscv-tests.tgz
Owners: @risc0/platform

Implement an execute only option in the actor-system
  risc0/r0vm/src/actors/job.rs
  risc0/r0vm/src/actors/job/execute_only.rs
  risc0/r0vm/src/actors/job/proof.rs
  risc0/r0vm/src/actors/manager.rs
  risc0/r0vm/src/actors/mod.rs
  risc0/r0vm/src/actors/tests.rs
  risc0/r0vm/src/actors/worker.rs
  risc0/r0vm/src/api.rs
  risc0/r0vm/tests/default_prover.rs
  risc0/zkvm/src/host/api/mod.rs
  risc0/zkvm/src/host/client/prove/default.rs
  risc0/zkvm/src/host/client/prove/local.rs
  risc0/zkvm/src/host/rpc.rs
  risc0/zkvm/src/host/server/session.rs
Owners: @risc0/platform

Missing test => failure
  risc0/circuit/rv32im/src/prove/tests.rs
Owners: @risc0/platform

Simple add_fence_test.sh
  fence-test/add_fence_test.sh
  risc0/circuit/rv32im/src/prove/testdata/riscv-tests.tgz
Owners: @risc0/platform

re-export povw types from binfmt
  risc0/povw/src/lib.rs
Owners: @risc0/platform

Cleanup
  .gitignore
  risc0/circuit/rv32im/src/execute/platform.rs
  risc0/circuit/rv32im/src/execute/rv32im.rs
Owners: @risc0/platform

build and include guest programs for povw
  risc0/povw/guests/log-builder/elfs/risc0-povw-log-builder.bin
  risc0/povw/guests/log-builder/elfs/risc0-povw-log-builder.iid
  risc0/povw/src/guest.rs
Owners: @risc0/platform

add ci job for cargo risczero build --archive
  .github/workflows/main.yml
Owners: @risc0/platform

remote unused imports
  risc0/circuit/rv32im/src/execute/mod.rs
Owners: @risc0/platform

Extend panic for test case not backed by an ELF
  risc0/circuit/rv32im/src/prove/tests.rs
  risc0/zkvm/src/host/server/prove/tests.rs
Owners: @risc0/platform

copy archive for host test
  fence-test/add_fence_test.sh
  risc0/circuit/rv32im/src/prove/testdata/riscv-tests.tgz
  risc0/circuit/rv32im/src/prove/tests.rs
  risc0/zkvm/src/host/server/prove/tests.rs
  risc0/zkvm/src/host/server/testdata/riscv-tests.tgz
Owners: @risc0/platform

fix risc0-ethereum cargo patching rule to handle new crate
  .github/cargo_local_patch.py
Owners: @risc0/platform

Build PoVW log builder and check into git (#3330)
  risc0/povw/guests/log-builder/elfs/risc0-povw-log-builder.bin
  risc0/povw/guests/log-builder/elfs/risc0-povw-log-builder.iid
  risc0/povw/src/guest.rs
  risc0/povw/src/lib.rs
Owners: @risc0/platform

Update missing groth16 rzup component error message
  risc0/groth16/src/prove/cuda.rs
Owners: @risc0/platform

Add instructions for publishing the groth16 component
  risc0/groth16/README.md
  risc0/groth16/src/lib.rs
Owners: @risc0/platform

Add rzup publish information
  rzup/README.md
Owners: @risc0/platform, @hmrtn

Update dev-docs concerning Groth16 receipt generation
  website/api/blockchain-integration/shrink-wrapping.md
  website/api/generating-proofs/proving-options.md
  website/sidebarsApi.js
Owners: @risc0/platform, @risc0/devrel, @pdg744

Add developer documentation for using gdb
  website/api/zkvm/debugging-with-gdb.md
  website/sidebarsApi.js
Owners: @risc0/platform, @risc0/devrel, @pdg744

Add link in proving-options.md to shrink-wrapping.md
  website/api/generating-proofs/proving-options.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Update website/api/blockchain-integration/shrink-wrapping.md
  website/api/blockchain-integration/shrink-wrapping.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Fix typo in risc0/groth16/README.md
  risc0/groth16/README.md
  risc0/groth16/src/lib.rs
Owners: @risc0/platform

3.0: Update docs & groth16 component error message (#3331)
  risc0/groth16/README.md
  risc0/groth16/src/lib.rs
  risc0/groth16/src/prove/cuda.rs
  rzup/README.md
  website/api/blockchain-integration/shrink-wrapping.md
  website/api/generating-proofs/proving-options.md
  website/api/zkvm/debugging-with-gdb.md
  website/sidebarsApi.js
Owners: @risc0/platform, @hmrtn, @risc0/devrel, @pdg744
