Repository risc0/risc0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @risc0/platform, @risc0/bonsai, @risc0/devrel, @risc0/demos, @tzerrell, @iddo-bentov, @flaub, @hmrtn, @nahoc, @pdg744, @nategraf, @kevinnassery

Fix risc0-ethereum test local patching rule to handle risc0-ethereum-test-utils-guest (#3332)
  .github/cargo_local_patch.py
Owners: @risc0/platform

Extract rzup artifacts out-of-place
  Cargo.lock
  examples/composition/methods/guest/Cargo.lock
  risc0/zkvm/methods/guest/Cargo.lock
  risc0/zkvm/methods/std-ext/Cargo.lock
  risc0/zkvm/methods/std/Cargo.lock
  rzup/Cargo.toml
  rzup/src/components.rs
  rzup/src/lib.rs
Owners: @risc0/platform, @risc0/devrel, @risc0/demos, @hmrtn

Extract rzup artifacts out-of-place
  examples/composition/methods/guest/Cargo.lock
  risc0/build/src/docker.rs
  risc0/zkvm/methods/guest/Cargo.lock
  risc0/zkvm/methods/std-ext/Cargo.lock
  risc0/zkvm/methods/std/Cargo.lock
  rzup/Cargo.toml
  rzup/src/components.rs
  rzup/src/lib.rs
Owners: @risc0/devrel, @risc0/demos, @risc0/platform, @hmrtn

Extract rzup artifacts out-of-place (#3343)
  examples/composition/methods/guest/Cargo.lock
  risc0/build/src/docker.rs
  risc0/zkvm/methods/guest/Cargo.lock
  risc0/zkvm/methods/std-ext/Cargo.lock
  risc0/zkvm/methods/std/Cargo.lock
  rzup/Cargo.toml
  rzup/src/components.rs
  rzup/src/lib.rs
Owners: @risc0/devrel, @risc0/demos, @risc0/platform, @hmrtn

Remove `--force` flag from rzup CI invocations
  .github/workflows/bench_pr.yml
  .github/workflows/bench_reports.yml
  .github/workflows/bench_trends.yml
  .github/workflows/main.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/risc0-ethereum.yml
  .github/workflows/website.yml
Owners: @risc0/platform

Fix for ci test profile logic
  risc0/povw/guests/tests/log-builder.rs
  risc0/r0vm/tests/default_prover.rs
  risc0/zkvm/src/host/api/tests.rs
  risc0/zkvm/src/host/recursion/tests.rs
  risc0/zkvm/src/host/server/prove/tests.rs
Owners: @risc0/platform

Half the cargo parallelism for the examples job.
  .github/workflows/main.yml
Owners: @risc0/platform

Half the cargo parallelism for the examples job. (#3350)
  .github/workflows/main.yml
Owners: @risc0/platform

add support for saving work receipts
  Cargo.lock
  risc0/binfmt/Cargo.toml
  risc0/r0vm/Cargo.toml
  risc0/r0vm/src/lib.rs
Owners: @risc0/platform

Refactor guest I/O with host
  Cargo.lock
  examples/Cargo.lock
  examples/composition/methods/guest/Cargo.lock
  risc0/bigint2/methods/guest/Cargo.lock
  risc0/build/src/docker.rs
  risc0/circuit/keccak/methods/guest/Cargo.lock
  risc0/povw/guests/log-builder/Cargo.lock
  risc0/zkos/v1compat/Cargo.toml
  risc0/zkos/v1compat/elfs/v1compat.elf
  risc0/zkos/v1compat/src/kernel.s
  risc0/zkos/v1compat/src/main.rs
  risc0/zkvm/methods/cfg/Cargo.lock
  risc0/zkvm/methods/cpp-crates/Cargo.lock
  risc0/zkvm/methods/env/Cargo.lock
  risc0/zkvm/methods/guest/Cargo.lock
  risc0/zkvm/methods/heap/Cargo.lock
  risc0/zkvm/methods/rand/Cargo.lock
  risc0/zkvm/methods/rand2/Cargo.lock
  risc0/zkvm/methods/std-ext/Cargo.lock
  risc0/zkvm/methods/std/Cargo.lock
  risc0/zkvm/platform/Cargo.toml
  risc0/zkvm/platform/src/syscall.rs
  risc0/zkvm/src/guest/env/mod.rs
  risc0/zkvm/src/host/server/exec/profiler.rs
  risc0/zkvm/src/host/server/exec/tests.rs
  rzup/Cargo.toml
  rzup/src/components.rs
  rzup/src/lib.rs
Owners: @risc0/platform, @risc0/devrel, @risc0/demos, @tzerrell, @iddo-bentov, @flaub, @hmrtn

revert files
  rzup/Cargo.toml
  rzup/src/components.rs
  rzup/src/lib.rs
Owners: @risc0/platform, @hmrtn

Add execute-only support to the actor-system (#3322)
  risc0/r0vm/src/actors/job.rs
  risc0/r0vm/src/actors/job/execute_only.rs
  risc0/r0vm/src/actors/job/proof.rs
  risc0/r0vm/src/actors/manager.rs
  risc0/r0vm/src/actors/mod.rs
  risc0/r0vm/src/actors/tests.rs
  risc0/r0vm/src/actors/worker.rs
  risc0/r0vm/src/api.rs
  risc0/r0vm/tests/default_prover.rs
  risc0/zkvm/src/host/api/mod.rs
  risc0/zkvm/src/host/client/prove/default.rs
  risc0/zkvm/src/host/client/prove/local.rs
  risc0/zkvm/src/host/rpc.rs
  risc0/zkvm/src/host/server/session.rs
Owners: @risc0/platform

fix r0vm.rs
  risc0/cargo-risczero/src/bin/r0vm.rs
  risc0/zkvm/methods/guest/Cargo.lock
Owners: @risc0/platform

use required-features instead of buildign a no-op r0vm bin
  risc0/cargo-risczero/Cargo.toml
  risc0/cargo-risczero/src/bin/r0vm.rs
Owners: @risc0/platform

fix error context
  risc0/r0vm/src/lib.rs
Owners: @risc0/platform

Update lock files
  benchmarks/Cargo.lock
  benchmarks/methods/guest/Cargo.lock
  examples/bevy/methods/guest/Cargo.lock
  examples/bls12_381/methods/guest/Cargo.lock
  examples/bn254/methods/guest/Cargo.lock
  examples/c-kzg/methods/guest/Cargo.lock
  examples/chess/methods/guest/Cargo.lock
  examples/composition/methods/guest/Cargo.lock
  examples/digital-signature/methods/guest/Cargo.lock
  examples/ecdsa/k256/methods/guest/Cargo.lock
  examples/ecdsa/p256/methods/guest/Cargo.lock
  examples/groth16-verifier/methods/guest/Cargo.lock
  examples/hello-world/methods/guest/Cargo.lock
  examples/json/methods/guest/Cargo.lock
  examples/jwt-validator/methods/guest/Cargo.lock
  examples/keccak/methods/guest/Cargo.lock
  examples/password-checker/methods/guest/Cargo.lock
  examples/profiling/methods/guest/Cargo.lock
  examples/prorata/methods/guest/Cargo.lock
  examples/sha/methods/guest/Cargo.lock
  examples/smartcore-ml/methods/guest/Cargo.lock
  examples/voting-machine/methods/guest/Cargo.lock
  examples/waldo/methods/guest/Cargo.lock
  examples/wasm/methods/guest/Cargo.lock
  examples/wordle/methods/guest/Cargo.lock
  examples/xgboost/methods/guest/Cargo.lock
  risc0/zkvm/methods/guest/Cargo.lock
  risc0/zkvm/methods/std-ext/Cargo.lock
  risc0/zkvm/methods/std/Cargo.lock
Owners: @risc0/platform, @risc0/devrel, @risc0/demos

Remove `--force` flag from rzup CI invocations (#3348)
  .github/workflows/bench_pr.yml
  .github/workflows/bench_reports.yml
  .github/workflows/bench_trends.yml
  .github/workflows/main.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/risc0-ethereum.yml
  .github/workflows/website.yml
Owners: @risc0/platform

Update verifier contract addresses for 3.0
  website/api_versioned_docs/version-3.0/blockchain-integration/contracts/verifier.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Run compute-sanitizer memcheck on a basic proof
  .github/workflows/main.yml
Owners: @risc0/platform

Update docker id
  risc0/build/src/docker.rs
Owners: @risc0/platform

Update SECURITY.md (#3186)
  SECURITY.md
Owners: @kevinnassery

Fix
  .github/workflows/main.yml
  Cargo.toml
  risc0/povw/guests/tests/log-builder.rs
  risc0/r0vm/tests/default_prover.rs
  risc0/zkvm/src/host/api/tests.rs
  risc0/zkvm/src/host/recursion/tests.rs
  risc0/zkvm/src/host/server/prove/tests.rs
Owners: @risc0/platform

chore: fix broken url (#3320)
  website/api_versioned_docs/version-2.0.0/zkvm/tutorials/io.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

chore: clarify unimplemented extern_readCoefficients error message (#3279)
  risc0/circuit/recursion-sys/kernels/cxx/extern.cpp
Owners: @risc0/platform

chore: explain eval shift in cpu polynomial check (#3280)
  risc0/circuit/rv32im/src/prove/hal/cpu.rs
Owners: @risc0/platform

Fix for ci test profile logic (#3347)
  .github/workflows/main.yml
  Cargo.toml
  risc0/povw/guests/tests/log-builder.rs
  risc0/r0vm/tests/default_prover.rs
  risc0/zkvm/src/host/api/tests.rs
  risc0/zkvm/src/host/recursion/tests.rs
  risc0/zkvm/src/host/server/prove/tests.rs
Owners: @risc0/platform

Docs improvements (#3324)
  README.md
  benchmarks/README.md
  examples/c-kzg/README.md
  examples/digital-signature/README.md
  examples/password-checker/README.md
  examples/profiling/README.md
  examples/waldo/README.md
  examples/wordle/README.md
  groth16_proof/README.md
  website/README.md
  website/docs/proof-system/proof-system-sequence-diagram.md
  website/docs/reference-docs/about-finite-fields-exercises.md
Owners: @risc0/platform, @risc0/devrel, @risc0/demos, @pdg744

remove link as deprecated
  website/api/blockchain-integration/risc-zero-on-eth.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

remove link as deprecated
  website/api/generating-proofs/remote-proving.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Update baby_bear.rs
  risc0/core/src/field/baby_bear.rs
Owners: @risc0/platform

chore: fix typo in function name
  xtask/src/semver_checks.rs
Owners: @risc0/platform

Update docker image-id
  risc0/build/src/docker.rs
Owners: @risc0/platform

ZKVM-1399: reports: add version-3.0 (#3188)
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/applications-benchmarks/[slug]/_components/applications-benchmarks-table-columns.tsx
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/applications-benchmarks/[slug]/_components/applications-benchmarks-table-schema.ts
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/applications-benchmarks/[slug]/_utils/constants.tsx
  web/apps/benchmarks-and-reports/src/app/(benchmarks-and-reports)/[version]/datasheet/_utils/constants.tsx
  web/apps/benchmarks-and-reports/src/types/version.ts
  web/apps/benchmarks-and-reports/src/versions.js
  web/package.json
Owners: @risc0/platform, @nahoc

Fix invalid bash set options in install_prover.sh (#3308)
  groth16_proof/scripts/install_prover.sh
Owners: @risc0/platform

add forge build before running risc0-ethereum tests
  .github/workflows/risc0-ethereum.yml
Owners: @risc0/platform

Drop SliceIo
  examples/Cargo.lock
  examples/Cargo.toml
  examples/waldo/.gitignore
  examples/waldo/Cargo.toml
  examples/waldo/README.md
  examples/waldo/core/Cargo.toml
  examples/waldo/core/src/image.rs
  examples/waldo/core/src/lib.rs
  examples/waldo/core/src/merkle.rs
  examples/waldo/methods/Cargo.toml
  examples/waldo/methods/build.rs
  examples/waldo/methods/guest/Cargo.lock
  examples/waldo/methods/guest/Cargo.toml
  examples/waldo/methods/guest/src/main.rs
  examples/waldo/methods/src/lib.rs
  examples/waldo/src/bin/prove.rs
  examples/waldo/src/bin/verify.rs
  examples/waldo/tests/integration_test.rs
  examples/waldo/waldo.webp
  examples/waldo/waldo_mask.png
  risc0/zkvm/methods/guest/src/bin/multi_test.rs
  risc0/zkvm/methods/src/multi_test.rs
  risc0/zkvm/src/guest/env/mod.rs
  risc0/zkvm/src/host/api/client.rs
  risc0/zkvm/src/host/api/server.rs
  risc0/zkvm/src/host/client/env.rs
  risc0/zkvm/src/host/client/mod.rs
  risc0/zkvm/src/host/client/slice_io.rs
  risc0/zkvm/src/host/server/exec/syscall/mod.rs
  risc0/zkvm/src/host/server/exec/syscall/slice_io.rs
  risc0/zkvm/src/host/server/exec/tests.rs
Owners: @risc0/devrel, @risc0/demos, @risc0/platform

Update verifier contract addresses for 3.0 (#3346)
  website/api_versioned_docs/version-3.0/blockchain-integration/contracts/verifier.md
Owners: @risc0/platform, @risc0/devrel, @pdg744

Add forge build before running `risc0-ethereum` tests (#3353)
  .github/workflows/risc0-ethereum.yml
Owners: @risc0/platform

Upgrade host-side Rust to 1.89.0
  rust-toolchain.toml
Owners: @risc0/platform

Update host-side Rust to 1.89.0
  risc0/bigint2/src/ec/mod.rs
  risc0/cargo-risczero/src/commands/verify.rs
  risc0/zkp/src/taps.rs
  risc0/zkvm/src/host/api/mod.rs
  risc0/zkvm/src/host/protos/api.proto
  risc0/zkvm/src/host/protos/api.rs
  rzup/src/cli/commands.rs
  rzup/src/registry.rs
Owners: @risc0/platform, @tzerrell, @iddo-bentov, @flaub, @hmrtn

.github/CODEOWNERS:

# CODEOWNERS

# Note: Order is important; the last matching pattern takes the most
# precedence.

*                                      @risc0/platform

/bonsai/                               @risc0/bonsai
/examples/                             @risc0/devrel @risc0/demos @risc0/platform
/risc0/bigint2/                        @risc0/platform @tzerrell @iddo-bentov @flaub
/rzup/                                 @risc0/platform @hmrtn
/web/                                  @risc0/platform @nahoc
/website/                              @risc0/platform @risc0/devrel @pdg744

# These are sensitive files
/groth16_proof/groth16/                @flaub @nategraf @tzerrell
/SECURITY.md                           @kevinnassery
control_id.rs                          @flaub @nategraf @tzerrell
recursion_zkr.zip                      @flaub @nategraf @tzerrell
