Repository risc0/risc0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @risc0/platform, @risc0/bonsai, @risc0/devrel, @risc0/demos, @tzerrell, @iddo-bentov, @flaub, @hmrtn, @nahoc, @pdg744, @nategraf, @kevinnassery

Update 2025
  risc0/zkvm/src/host/client/mod.rs
Owners: @risc0/platform

Fix clippy warnings
  risc0/build/src/lib.rs
  risc0/cargo-risczero/src/commands/bake.rs
  risc0/r0vm/src/actors/job/proof.rs
  risc0/r0vm/src/actors/mod.rs
  risc0/r0vm/src/actors/worker.rs
  risc0/zkvm/src/host/client/env.rs
  risc0/zkvm/src/host/server/exec/profiler/inline.rs
  risc0/zkvm/src/host/server/session.rs
  risc0/zkvm/src/receipt/composite.rs
  xtask/src/semver_checks.rs
  xtask/src/update_crate_version.rs
Owners: @risc0/platform

Refactor guest I/O with host (#3351)
  Cargo.lock
  Cargo.toml
  risc0/bigint2/methods/guest/Cargo.lock
  risc0/build/src/docker.rs
  risc0/circuit/keccak/methods/guest/Cargo.lock
  risc0/zkos/v1compat/Cargo.toml
  risc0/zkos/v1compat/src/kernel.s
  risc0/zkos/v1compat/src/main.rs
  risc0/zkvm/examples/datasheet.rs
  risc0/zkvm/examples/loop.bin
  risc0/zkvm/examples/loop.s
  risc0/zkvm/methods/cfg/Cargo.lock
  risc0/zkvm/methods/guest/Cargo.lock
  risc0/zkvm/methods/heap/Cargo.lock
  risc0/zkvm/methods/rand/Cargo.lock
  risc0/zkvm/methods/rand2/Cargo.lock
  risc0/zkvm/methods/std/Cargo.lock
  risc0/zkvm/platform/Cargo.toml
  risc0/zkvm/platform/src/syscall.rs
  risc0/zkvm/src/guest/env/mod.rs
  risc0/zkvm/src/host/server/exec/profiler.rs
  risc0/zkvm/src/host/server/exec/syscall/mod.rs
  risc0/zkvm/src/host/server/exec/tests.rs
Owners: @risc0/platform, @tzerrell, @iddo-bentov, @flaub

Reimplement prove_zkr
  risc0/zkos/v1compat/elfs/v1compat.elf
  risc0/zkos/v1compat/src/main.rs
  risc0/zkvm/methods/cpp-crates/Cargo.lock
  risc0/zkvm/methods/env/Cargo.lock
  risc0/zkvm/methods/std-ext/Cargo.lock
  risc0/zkvm/platform/src/syscall.rs
Owners: @risc0/platform

Backport other upstream zkvm-platform changes to make it semver compatible
  risc0/zkvm/platform/src/syscall.rs
Owners: @risc0/platform

Rustfmt edition 2021 fixes
  risc0/zkos/v1compat/src/main.rs
  risc0/zkvm/src/guest/env/mod.rs
  risc0/zkvm/src/host/server/exec/syscall/mod.rs
Owners: @risc0/platform

ZKVM-1308: Fix & run Clippy for risc0-bigint2 (#3070)
  risc0/bigint2/src/ec/secp384r1.rs
  risc0/bigint2/src/field/mod.rs
  risc0/bigint2/src/field/unchecked.rs
Owners: @risc0/platform, @tzerrell, @iddo-bentov, @flaub

Fix issue with semver-checks around vendor'd package version
  xtask/src/semver_checks.rs
Owners: @risc0/platform

Backport bigint2 upstream changes to make it semver compatible
  risc0/bigint2/README.md
  risc0/bigint2/methods/Cargo.toml
  risc0/bigint2/methods/guest/Cargo.toml
  risc0/bigint2/src/ec/mod.rs
  risc0/bigint2/src/field/ffi.rs
  risc0/bigint2/src/lib.rs
Owners: @risc0/platform, @tzerrell, @iddo-bentov, @flaub

Update cargo-semver-checks
  Cargo.lock
  xtask/Cargo.toml
Owners: @risc0/platform

Verification proof-of-concept
  risc0/zkp/src/prove/merkle.rs
Owners: @risc0/platform

Cut 2.3.2: Update Cargo.lock to remove risc0-zkvm-compat-tests
  Cargo.lock
Owners: @risc0/platform

Fix rzup failures by calculating download lengths
  rzup/src/lib.rs
Owners: @risc0/platform, @hmrtn

Cut 2.3.2: Update Cargo.lock to remove risc0-zkvm-compat-tests
  Cargo.lock
Owners: @risc0/platform

ZKVM-1308: Fix & run Clippy for risc0-bigint2 (#3070)
  risc0/bigint2/src/ec/secp384r1.rs
  risc0/bigint2/src/field/mod.rs
  risc0/bigint2/src/field/unchecked.rs
Owners: @risc0/platform, @tzerrell, @iddo-bentov, @flaub

Backport other upstream zkvm-platform changes to make it semver compatible
  risc0/zkvm/platform/src/syscall.rs
Owners: @risc0/platform

Backport bigint2 upstream changes to make it semver compatible
  risc0/bigint2/README.md
  risc0/bigint2/methods/Cargo.toml
  risc0/bigint2/methods/guest/Cargo.toml
  risc0/bigint2/src/ec/mod.rs
  risc0/bigint2/src/field/ffi.rs
  risc0/bigint2/src/lib.rs
Owners: @risc0/platform, @tzerrell, @iddo-bentov, @flaub

Reimplement prove_zkr
  risc0/zkos/v1compat/elfs/v1compat.elf
  risc0/zkos/v1compat/src/main.rs
  risc0/zkvm/methods/cpp-crates/Cargo.lock
  risc0/zkvm/methods/env/Cargo.lock
  risc0/zkvm/methods/std-ext/Cargo.lock
  risc0/zkvm/platform/src/syscall.rs
Owners: @risc0/platform

Rustfmt edition 2021 fixes
  risc0/zkos/v1compat/src/main.rs
  risc0/zkvm/src/guest/env/mod.rs
  risc0/zkvm/src/host/server/exec/syscall/mod.rs
Owners: @risc0/platform

Fix issue with semver-checks around vendor'd package version
  xtask/src/semver_checks.rs
Owners: @risc0/platform

Refactor guest I/O with host (#3351)
  Cargo.lock
  Cargo.toml
  risc0/bigint2/methods/guest/Cargo.lock
  risc0/build/src/docker.rs
  risc0/circuit/keccak/methods/guest/Cargo.lock
  risc0/zkos/v1compat/Cargo.toml
  risc0/zkos/v1compat/src/kernel.s
  risc0/zkos/v1compat/src/main.rs
  risc0/zkvm/examples/datasheet.rs
  risc0/zkvm/examples/loop.bin
  risc0/zkvm/examples/loop.s
  risc0/zkvm/methods/cfg/Cargo.lock
  risc0/zkvm/methods/guest/Cargo.lock
  risc0/zkvm/methods/heap/Cargo.lock
  risc0/zkvm/methods/rand/Cargo.lock
  risc0/zkvm/methods/rand2/Cargo.lock
  risc0/zkvm/methods/std/Cargo.lock
  risc0/zkvm/platform/Cargo.toml
  risc0/zkvm/platform/src/syscall.rs
  risc0/zkvm/src/guest/env/mod.rs
  risc0/zkvm/src/host/server/exec/profiler.rs
  risc0/zkvm/src/host/server/exec/syscall/mod.rs
  risc0/zkvm/src/host/server/exec/tests.rs
Owners: @risc0/platform, @tzerrell, @iddo-bentov, @flaub

Fix rzup test
  rzup/src/lib.rs
Owners: @risc0/platform, @hmrtn

Upgrade rustc to 1.89 (#3356)
  Cargo.lock
  risc0/bigint2/src/ec/mod.rs
  risc0/build/src/lib.rs
  risc0/cargo-risczero/src/commands/bake.rs
  risc0/cargo-risczero/src/commands/verify.rs
  risc0/r0vm/src/actors/job/proof.rs
  risc0/r0vm/src/actors/mod.rs
  risc0/r0vm/src/actors/worker.rs
  risc0/zkp/src/taps.rs
  risc0/zkvm/src/host/api/mod.rs
  risc0/zkvm/src/host/client/env.rs
  risc0/zkvm/src/host/protos/api.proto
  risc0/zkvm/src/host/protos/api.rs
  risc0/zkvm/src/host/server/exec/profiler/inline.rs
  risc0/zkvm/src/host/server/session.rs
  risc0/zkvm/src/receipt/composite.rs
  rust-toolchain.toml
  rzup/src/cli/commands.rs
  rzup/src/lib.rs
  rzup/src/registry.rs
  xtask/Cargo.toml
  xtask/src/semver_checks.rs
  xtask/src/update_crate_version.rs
Owners: @risc0/platform, @tzerrell, @iddo-bentov, @flaub, @hmrtn

docs(field): correct polynomial reduction comment in baby_bear.rs (#3309)
  risc0/core/src/field/baby_bear.rs
Owners: @risc0/platform

correct
  risc0/povw/src/prover.rs
Owners: @risc0/platform

Update prover.rs
  risc0/povw/src/prover.rs
Owners: @risc0/platform

Refactor guest I/O with host (#3351)
  Cargo.lock
  Cargo.toml
  risc0/build/src/docker.rs
  risc0/zkos/v1compat/Cargo.toml
  risc0/zkos/v1compat/elfs/v1compat.elf
  risc0/zkos/v1compat/src/kernel.s
  risc0/zkos/v1compat/src/main.rs
  risc0/zkvm/examples/datasheet.rs
  risc0/zkvm/examples/loop.bin
  risc0/zkvm/examples/loop.s
  risc0/zkvm/platform/Cargo.toml
  risc0/zkvm/platform/src/syscall.rs
  risc0/zkvm/src/guest/env/mod.rs
  risc0/zkvm/src/host/server/exec/profiler.rs
  risc0/zkvm/src/host/server/exec/tests.rs
Owners: @risc0/platform

Upgrade rustc to 1.89 (#3356)
  Cargo.lock
  risc0/cargo-risczero/src/commands/verify.rs
  risc0/zkp/src/taps.rs
  risc0/zkvm/src/host/api/mod.rs
  risc0/zkvm/src/host/protos/api.proto
  risc0/zkvm/src/host/protos/api.rs
  rust-toolchain.toml
  rzup/src/lib.rs
  xtask/Cargo.toml
Owners: @risc0/platform, @hmrtn

Bring forward changes to make zkvm-platform semver compatible
  risc0/zkvm/platform/src/syscall.rs
Owners: @risc0/platform

docs(verifier): clarify Fr as BN254 scalar for public inputs and hashing
  risc0/groth16/src/verifier.rs
Owners: @risc0/platform

Refactor guest I/O with host (#3351)
  Cargo.lock
  Cargo.toml
  risc0/build/src/docker.rs
  risc0/zkos/v1compat/Cargo.toml
  risc0/zkos/v1compat/elfs/v1compat.elf
  risc0/zkos/v1compat/src/kernel.s
  risc0/zkos/v1compat/src/main.rs
  risc0/zkvm/examples/datasheet.rs
  risc0/zkvm/examples/loop.bin
  risc0/zkvm/examples/loop.s
  risc0/zkvm/platform/Cargo.toml
  risc0/zkvm/platform/src/syscall.rs
  risc0/zkvm/src/guest/env/mod.rs
  risc0/zkvm/src/host/server/exec/profiler.rs
  risc0/zkvm/src/host/server/exec/tests.rs
Owners: @risc0/platform

Upgrade rustc to 1.89 (#3356)
  Cargo.lock
  risc0/cargo-risczero/src/commands/verify.rs
  risc0/zkp/src/taps.rs
  risc0/zkvm/src/host/api/mod.rs
  risc0/zkvm/src/host/protos/api.proto
  risc0/zkvm/src/host/protos/api.rs
  rust-toolchain.toml
  rzup/src/lib.rs
  xtask/Cargo.toml
Owners: @risc0/platform, @hmrtn

Bring forward changes to make zkvm-platform semver compatible
  risc0/zkvm/platform/src/syscall.rs
Owners: @risc0/platform

Make risc0-zkvm-platform SemVer compatible with what is published
  risc0/zkvm/platform/src/syscall.rs
Owners: @risc0/platform

Build PoVW log builder and check into git (#3330)
  risc0/povw/guests/log-builder/elfs/risc0-povw-log-builder.bin
  risc0/povw/guests/log-builder/elfs/risc0-povw-log-builder.iid
  risc0/povw/src/guest.rs
  risc0/povw/src/lib.rs
Owners: @risc0/platform

Fix risc0-ethereum test local patching rule to handle risc0-ethereum-test-utils-guest (#3332)
  .github/cargo_local_patch.py
Owners: @risc0/platform

Improve CI performance (#3342)
  .github/actions/sccache/action.yml
  risc0/zkvm/src/host/server/exec/tests.rs
  risc0/zkvm/src/host/server/prove/tests.rs
Owners: @risc0/platform

Add forge build before running `risc0-ethereum` tests (#3353)
  .github/workflows/risc0-ethereum.yml
Owners: @risc0/platform

Fix risc0-ethereum test local patching rule to handle risc0-ethereum-test-utils-guest (#3332)
  .github/cargo_local_patch.py
Owners: @risc0/platform

Improve CI performance (#3342)
  .github/actions/sccache/action.yml
  risc0/zkvm/src/host/server/exec/tests.rs
  risc0/zkvm/src/host/server/prove/tests.rs
Owners: @risc0/platform

.github/CODEOWNERS:

# CODEOWNERS

# Note: Order is important; the last matching pattern takes the most
# precedence.

*                                      @risc0/platform

/bonsai/                               @risc0/bonsai
/examples/                             @risc0/devrel @risc0/demos @risc0/platform
/risc0/bigint2/                        @risc0/platform @tzerrell @iddo-bentov @flaub
/rzup/                                 @risc0/platform @hmrtn
/web/                                  @risc0/platform @nahoc
/website/                              @risc0/platform @risc0/devrel @pdg744

# These are sensitive files
/groth16_proof/groth16/                @flaub @nategraf @tzerrell
/SECURITY.md                           @kevinnassery
control_id.rs                          @flaub @nategraf @tzerrell
recursion_zkr.zip                      @flaub @nategraf @tzerrell
