Repository risc0/risc0, pull requests merged in 2024-04, with the labels that each got.

#1627 Add risc0-ethereum-view-call path to local patching for CI
  .github/cargo_local_patch.py
Labels: ci

#1643 Bonsai Delete Routes
  bonsai/sdk/src/alpha.rs
Labels: enhancement

#1633 [new doc] security model
  website/api/security-model.md
  website/api_versioned_docs/version-0.21/security-model.md
  website/api_versioned_sidebars/version-0.21-sidebars.json
  website/sidebarsApi.js
  website/static/diagrams/security-model-diagram.svg
Labels: documentation

#1671 Update `db-dump` and fix schema incompatibility
  tools/crates-validator/Cargo.lock
  tools/crates-validator/Cargo.toml
  tools/crates-validator/src/gen_profiles/mod.rs
Labels: bug, ci

#1680 Add compress to the Prover trait
  risc0/zkvm/src/host/api/client.rs
  risc0/zkvm/src/host/api/tests.rs
  risc0/zkvm/src/host/client/prove/bonsai.rs
  risc0/zkvm/src/host/client/prove/external.rs
  risc0/zkvm/src/host/client/prove/local.rs
  risc0/zkvm/src/host/client/prove/mod.rs
  risc0/zkvm/src/host/recursion/tests.rs
Labels: zkVM 1.0

#1663 It09/docs explanation of image id and elf
  website/api/zkvm/host-code-101.md
Labels: documentation

#1717 `ProverImpl::prove_session`: enable compact receipts
  risc0/zkvm/src/host/server/prove/prover_impl.rs
  risc0/zkvm/src/host/server/prove/tests.rs
Labels: zkVM 1.0

#1373 Change Elem from bytemuck::Pod to NoUninit + CheckedBitPattern
  risc0/build/src/docker.rs
  risc0/core/src/field/baby_bear.rs
  risc0/core/src/field/goldilocks.rs
  risc0/core/src/field/mod.rs
  risc0/zkp/src/core/hash/poseidon_254/mod.rs
  risc0/zkp/src/core/hash/sha/cpu.rs
  risc0/zkp/src/core/hash/sha/mod.rs
  risc0/zkp/src/hal/cpu.rs
  risc0/zkp/src/hal/cuda.rs
  risc0/zkp/src/hal/dual.rs
  risc0/zkp/src/hal/metal.rs
  risc0/zkp/src/hal/mod.rs
  risc0/zkvm/src/guest/sha.rs
  risc0/zkvm/src/host/receipt.rs
  risc0/zkvm/src/host/recursion/receipt.rs
  risc0/zkvm/src/host/recursion/tests.rs
Labels: zkVM 1.0

#1715 zkVM: fix build issues arising from undefined `_end`
  risc0/zkvm/platform/src/syscall.rs
Labels: zkVM 1.0

#1719 change `sys_cycle_count` to return `u64`
  risc0/build/src/docker.rs
  risc0/circuit/rv32im/src/prove/emu/exec/mod.rs
  risc0/circuit/rv32im/src/trace.rs
  risc0/zkvm/methods/guest/src/bin/multi_test.rs
  risc0/zkvm/methods/src/multi_test.rs
  risc0/zkvm/platform/src/syscall.rs
  risc0/zkvm/src/guest/env.rs
  risc0/zkvm/src/host/protos/api.proto
  risc0/zkvm/src/host/server/exec/executor.rs
  risc0/zkvm/src/host/server/exec/profiler.rs
  risc0/zkvm/src/host/server/exec/syscall.rs
  risc0/zkvm/src/host/server/exec/tests.rs
Labels: zkVM 1.0

#1664 [security model doc] translate from cost estimate to time estimate
  website/api/security-model.md
Labels: documentation

#1720 Check control root during succinct receipt verification
  risc0/zkp/src/verify/mod.rs
  risc0/zkvm/src/host/recursion/receipt.rs
Labels: zkVM 1.0

#1726 Change `ProverServer::compress` to work with `Receipt`
  risc0/zkvm/benches/fib.rs
  risc0/zkvm/src/host/client/prove/local.rs
  risc0/zkvm/src/host/client/prove/mod.rs
  risc0/zkvm/src/host/recursion/tests.rs
  risc0/zkvm/src/host/server/prove/mod.rs
  risc0/zkvm/src/host/server/prove/prover_impl.rs
  risc0/zkvm/src/host/server/prove/tests.rs
  xtask/src/bootstrap_groth16.rs
Labels: zkVM 1.0

#1752 Better Error Message
  bonsai/sdk/src/alpha.rs
Labels: bug
